<div mat-dialog-content>

  <div *ngIf="result" class="m-top-10"><span class="mat-body-strong">Result: </span>
    <div class="code-wrapper">
      <code>
        <pre>
            {{result.document | json}}
        </pre>
      </code>
    </div>
  </div>
  <div  class="m-top-10"><span class="mat-body-strong">Predictions: </span>
    <div class="debossed-wrapper result-wrapper" *ngIf="result">
        <div *ngFor="let tag of result.prediction.tags">
            <span class="mat-body-strong">Result: </span> {{tag.tag}}
            <span class="mat-body-strong">Probability:</span> {{tag.probability}}
            <br>
        </div>
    </div>
  </div>
</div>
<div fxLayout="column">
    <div mat-dialog-actions fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <button fxFlex="150px" mat-flat-button color="primary" (click)="onSubmit()">New random doc</button>
    </div>
</div>
