.wrapper {
  font-size: 14px;

  mat-radio-group {
    margin-bottom: 1.2em;
  }

  mat-expansion-panel {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.search-options {
  h4 {
    margin: 0.25em 0 0;
  }

  ::ng-deep .mat-checkbox-layout {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 100%;

    .mat-checkbox-inner-container {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
