<div class="wrapper">
  <mat-form-field appearance="outline" class="max-width">
    <mat-label>Select Fields</mat-label>
    <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
                [formControl]="fieldsFormControl"
                multiple (openedChange)="onOpenedChange($event)"

                (selectionChange)="onSelectionChange($event)">
      <mat-optgroup *ngFor="let group of projectFieldsFiltered">
        <mat-checkbox class="mat-option-pseudo-checkbox"
                      (change)="$event ? indexSelection.toggle(group.index) : null"
                      color="primary"
                      [checked]="indexSelection.isSelected(group.index)"
                      matTooltip="Only search selected indices">{{group.index}}</mat-checkbox>
        <mat-option *ngFor="let fields of group.fields" [value]="fields">
          {{fields.path}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <div *ngFor="let constraint of constraintList; let i = index;" class="filters bg-grey">
    <div fxLayout="row" class="header">
      <div fxLayout="row wrap" class="field-titles">
        <h4 *ngFor="let field of constraint.fields">{{field.path}};</h4>
      </div>
      <div fxFlex fxLayoutAlign="end">
        <button mat-icon-button aria-label="Close" (click)="removeConstraint(i)" class="mat-icon-button">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="content" *ngIf="isTextConstraint(constraint)">
      <app-text-constraints [textConstraint]="constraint" [elasticSearchQuery]="elasticQuery"
                            (change)="searchOnChange($event)"></app-text-constraints>
    </div>
    <div class="content" *ngIf="isDateConstraint(constraint)">
      <app-date-constraints [dateConstraint]="constraint" [elasticSearchQuery]="elasticQuery"
                            (change)="searchOnChange($event)"></app-date-constraints>
    </div>
    <div class="content" *ngIf="isFactNameConstraint(constraint)">
      <app-fact-constraints [factConstraint]="constraint" [elasticSearchQuery]="elasticQuery"
                            [projectFacts]="projectFacts" [currentProject]="currentProject"
                            (change)="searchOnChange($event)"></app-fact-constraints>
    </div>
  </div>
  <div fxLayout="column" class="bg-grey search-options">
    <h4 class="flex-item-center">Search options</h4>
      <mat-checkbox labelPosition="before" [(ngModel)]=onlyHighlightMatching>Only highlight matching facts:</mat-checkbox>
  </div>
  <div class="max-width">
    <button class="max-width" mat-stroked-button (click)="searchService.queryNextSearch()">Search</button>
  </div>
</div>
