.wrapper {
  font-size: 14px;

  mat-radio-group {
    margin-bottom: 1.2em;
  }
}

.search-options {
  h4 {
    margin: 0.25em 0 0;
  }

  mat-checkbox {
    margin-left: 1em;
    margin-right: 1em;
  }

  ::ng-deep .mat-checkbox-layout {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 100%;

    .mat-checkbox-inner-container {
      margin-right: 0;
      margin-left: auto;
    }
  }

  margin-bottom: 5px;
}

.bg-grey {
  background-color: #EFEFEF;
}
