<div class="wrapper mat-elevation-z8">

  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button (click)="openCreateDialog()"
              class="paginator-margin-left" color="primary"
              data-cy="appModelsTaggerGroupCreateBtn" mat-raised-button>
        CREATE
      </button>
      <button (click)="onDeleteAllSelected()" [disabled]="selectedRows.selected.length < 1" class="new-resource-btn" color="warn"
              mat-icon-button matTooltip="Delete selected">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-form-field class="m-l-15">
        <mat-icon matSuffix>search</mat-icon>
        <input (keyup)="applyFilter($event.target, 'description')" matInput placeholder="Filter description">
      </mat-form-field>

      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

  <div class="table-container">
    <table [dataSource]="tableData" mat-table matSort matSort
           matSortDirection="asc" matSortDisableClear multiTemplateDataRows>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectedRows.hasValue() && isAllSelected()"
                        [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selectedRows.toggle(row) : null" (click)="$event.stopPropagation()"
                        [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="author__username">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Author</th>
        <td *matCellDef="let element" mat-cell> {{element.author_username}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="fact_name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Fact Name</th>
        <td *matCellDef="let element" mat-cell> {{element.fact_name}}</td>
      </ng-container>
      <ng-container matColumnDef="minimum_sample_size">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Min Sample Size</th>
        <td *matCellDef="let element" mat-cell> {{element.minimum_sample_size}}</td>
      </ng-container>
      <ng-container matColumnDef="num_tags">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Total Tags</th>
        <td *matCellDef="let element" mat-cell> {{element.num_tags}}</td>
      </ng-container>

      <ng-container matColumnDef="f1_score">
        <th *matHeaderCellDef mat-header-cell> Avg. f1_score</th>
        <td *matCellDef="let element" mat-cell> {{element.tagger_statistics?.avg_f1_score | number:'0.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="precision">
        <th *matHeaderCellDef mat-header-cell> Avg. precision</th>
        <td *matCellDef="let element" mat-cell> {{element.tagger_statistics?.avg_precision | number:'0.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="recall">
        <th *matHeaderCellDef mat-header-cell> Avg. recall</th>
        <td *matCellDef="let element" mat-cell> {{element.tagger_statistics?.avg_recall | number:'0.2-2' }}</td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th *matHeaderCellDef mat-header-cell> Progress</th>
        <td *matCellDef="let element" mat-cell>

          <mat-progress-bar *ngIf="element.tagger_status" [value]="(element.tagger_status.completed /element.tagger_status.total) * 100"
                            mode="determinate">
          </mat-progress-bar>
          <mat-hint *ngIf="element.tagger_status">{{element.tagger_status.completed}}
            / {{element.tagger_status.total}}</mat-hint>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td *matCellDef="let element" [attr.colspan]="displayedColumns.length" mat-cell>
          <div *ngIf="element == expandedElement" [@detailExpand] class="element-detail">
            <div class="m-l-r-5" fxLayout="row wrap" fxLayoutGap="10px">
              <div fxFlex="0 0 300px">
                <table class="simple-table">
                  <th class="mat-body-strong" colspan="2">Taggers</th>
                  <tr>
                    <th class="mat-body-strong">Resource id</th>
                    <td>{{element.id}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Total</th>
                    <td>{{element.tagger_status.total}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Completed</th>
                    <td>{{element.tagger_status.completed}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Training</th>
                    <td>{{element.tagger_status.training}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Created</th>
                    <td>{{element.tagger_status.created}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Failed</th>
                    <td>{{element.tagger_status.failed}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Indices</th>
                    <td>{{element.indices| join: ', '}}</td>
                  </tr>
                </table>
              </div>
              <div fxFlex="0 0 300px">
                <table *ngIf="element.tagger_statistics" class="simple-table">
                  <th class="mat-body-strong" colspan="2">Statistics</th>
                  <tr>
                    <th class="mat-body-strong">Average precision</th>
                    <td>{{element.tagger_statistics.avg_precision}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Average recall</th>
                    <td>{{element.tagger_statistics.avg_recall}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Average F1 Score</th>
                    <td>{{element.tagger_statistics.avg_f1_score}}</td>
                  </tr>
                </table>
              </div>
              <div>
                <table *ngIf="element.tagger_params" class="simple-table">
                  <th class="mat-body-strong" colspan="2">Tagger parameters</th>
                  <tr>
                    <th class="mat-body-strong">Fields</th>
                    <td>{{element.tagger_params.fields| join: ', '}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Vectorizer</th>
                    <td>{{element.tagger_params.vectorizer}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Classifier</th>
                    <td>{{element.tagger_params.classifier}}</td>
                  </tr>
                </table>
              </div>
            </div>


          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Modify">
        <th *matHeaderCellDef class="center-header-cell" mat-header-cell>Actions</th>
        <td (click)="$event.stopPropagation();" *matCellDef="let element; let i = dataIndex" mat-cell>

          <button [matMenuTriggerData]="{element: element, i:i}" [matMenuTriggerFor]="editMenu" color="primary"
                  mat-icon-button>
            <mat-icon aria-label="Actions">more_vert</mat-icon>
          </button>


        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="expandedElement = expandedElement === element ? null : element" *matRowDef="let element; columns: displayedColumns;" [class.expanded-row]="expandedElement === element"
          class="element-row"
          mat-row></tr>
      <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    </table>
  </div>

</div>
<mat-menu #editMenu="matMenu">
  <ng-template let-element="element" let-i="i" matMenuContent>
    <div *ngIf="element.task && element.task.status === 'completed'">
      <button (click)="openModelsListDialog(element)" data-cy="appTaggerGroupMenuModelList" mat-menu-item>
        Models list
      </button>
      <button (click)="tagTextDialog(element)" data-cy="appTaggerGroupMenuTagText" mat-menu-item>
        Tag text
      </button>
      <button (click)="tagDocDialog(element)" data-cy="appTaggerGroupMenuTagDoc" mat-menu-item>
        Tag doc
      </button>
      <button (click)="tagRandomDocDialog(element)" data-cy="appTaggerGroupMenuTagRandomDoc" mat-menu-item>
        Tag random doc
      </button>
    </div>
    <button (click)="onModelsRetrain(element)" mat-menu-item>
      Models retrain
    </button>
    <button (click)="edit(element)" data-cy="appTaggerGroupMenuEdit" mat-menu-item>
      Edit
    </button>
    <mat-divider></mat-divider>
    <button (click)="onDelete(element, i)" data-cy="appTaggerGroupMenuDelete" mat-menu-item>
      Delete
    </button>
  </ng-template>
</mat-menu>
