<div fxLayout="row">
  <mat-form-field fxFlex="40" class="margin-right">
    <mat-label>Operator</mat-label>
    <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" [formControl]="factNameOperatorFormControl">
      <mat-option value="must">and</mat-option>
      <mat-option value="should">or</mat-option>
      <mat-option value="must_not">not</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Fact name</mat-label>
    <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" [formControl]="factNameFormControl" multiple>
      <mat-option *ngFor="let fact of projectFacts" [value]="fact.name">
        {{fact.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout="column">
  <div fxLayout="row">
    <mat-form-field fxFlex="25">
      <mat-label>Operator</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" [formControl]="factTextOperatorFormControl">
        <mat-option value="must">and</mat-option>
        <mat-option value="should">or</mat-option>
        <mat-option value="must_not">not</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex fxLayoutAlign="end">
      <button mat-icon-button aria-label="Add" class="addFact mat-icon-button" (click)="createGroupListeners()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="row" *ngFor="let inputGroup of _factConstraint.inputGroupArray; let i=index;">
    <mat-form-field fxFlex="36">
      <mat-label>Fact name</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" [formControl]="inputGroup.factTextFactNameFormControl">
        <mat-option *ngFor="let fact of projectFacts" [value]="fact.name">
          {{fact.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="15" class="m-l-r-5">
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" [formControl]="inputGroup.factTextOperatorFormControl">
        <mat-option value="must">is</mat-option>
        <mat-option value="must_not">not</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="36">
      <input type="text" placeholder="Value"
             aria-label="Number"
             matInput
             [formControl]="inputGroup.factTextInputFormControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" panelWidth="auto" (optionSelected)="factValueSelected($event, inputGroup)">
        <mat-option *ngFor="let option of inputGroup.filteredOptions" [value]="option" [disabled]="inputGroup.isLoadingOptions">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div fxFlex fxLayoutAlign="end" fxFlexAlign="center">
      <button mat-icon-button aria-label="Close" class="mat-icon-button" (click)="deleteInputGroup(inputGroup)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
