<div fxLayout="row">
  <mat-form-field fxFlex="40" class="margin-right">
    <mat-label>Operator</mat-label>
    <mat-select [formControl]="factNameOperatorFormControl">
      <mat-option value="must">and</mat-option>
      <mat-option value="should">or</mat-option>
      <mat-option value="must_not">not</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Fact name</mat-label>
    <mat-select [formControl]="factNameFormControl" multiple>
      <mat-option *ngFor="let fact of projectFacts" [value]="fact.name">
        {{fact.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

