<div class="wrapper max-height" fxLayout="column">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button (click)="openCreateDialog()" class="paginator-margin-left"
              color="primary" data-cy="appLangDetectCreateBtn" mat-raised-button>
        CREATE
      </button>
      <button (click)="onDeleteAllSelected()" [disabled]="selectedRows.selected.length < 1" class="new-resource-btn"
              color="warn" data-cy="appLangDetectDeleteBtn"
              mat-icon-button matTooltip="Delete selected">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="openApplyToText()" data-cy="appToolsLangDetectApplyToTextBtn" mat-stroked-button>Apply to text
      </button>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

  <div [appScrollTop]="tableData" class="tasks-table overflow-auto">
    <table [dataSource]="tableData" mat-table
           matSort matSortDirection="desc" matSortActive="id"
           multiTemplateDataRows>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectedRows.hasValue() && isAllSelected()"
                        [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selectedRows.toggle(row) : null" (click)="$event.stopPropagation()"
                        [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
        <td *matCellDef="let element" mat-cell> {{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="query">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Query</th>
        <td *matCellDef="let element" mat-cell>
          <span (click)="openQueryDialog(element.query);$event.stopPropagation();"
                class="action-text mat-body-strong pointer">Show Query</span></td>
      </ng-container>
      <ng-container matColumnDef="task__time_started">
        <th *matHeaderCellDef mat-header-cell > Time started</th>
        <td *matCellDef="let element" mat-cell><span
          *ngIf="element.tasks[0]">{{element.tasks[0].time_started | date:'y-M-d H:mm:ss'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="task__time_completed">
        <th *matHeaderCellDef mat-header-cell > Time completed</th>
        <td *matCellDef="let element" mat-cell>
          <span
            *ngIf="element.tasks[0] && element.tasks[0].time_completed">{{element.tasks[0].time_completed | date:'y-M-d H:mm:ss'}}</span>
          <span *ngIf="element.tasks[0] && !element.tasks[0].time_completed">-</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="task__status">
        <th *matHeaderCellDef mat-header-cell> Task</th>
        <td *matCellDef="let element" mat-cell>
          <app-task-progress [task]="element.tasks[0]"></app-task-progress>
        </td>
      </ng-container>


      <ng-container matColumnDef="expandedDetail">
        <td *matCellDef="let element" [attr.colspan]="displayedColumns.length" mat-cell>
          <div *ngIf="element == expandedElement" [@detailExpand] class="element-detail">
            <div class="flex-col m-l-r-5" fxFlex="50">
              <table class="simple-table">
                <tr>
                  <th class="mat-body-strong">Indices</th>
                  <td>{{(element.indices| getPropertyList: getIndexName) | join: ', '}}</td>
                </tr>
              </table>
            </div>
            <app-task-table class="flex-item-right" [textaTasks]="element.tasks"></app-task-table>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Modify">
        <th *matHeaderCellDef mat-header-cell>Actions</th>
        <td (click)="$event.stopPropagation();" *matCellDef="let element; let i = dataIndex" mat-cell>

          <button [matMenuTriggerData]="{element: element, i:i}" [matMenuTriggerFor]="editMenu" color="primary"
                  mat-icon-button>
            <mat-icon aria-label="Actions">more_vert</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="expandedElement = expandedElement === element ? null : element" *matRowDef="let element; columns: displayedColumns;"
          [class.expanded-row]="expandedElement === element"
          class="element-row"
          mat-row></tr>
      <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    </table>

  </div>


</div>
<mat-menu #editMenu="matMenu">
  <ng-template let-element="element" let-i="i" matMenuContent>
    <button (click)="onDelete(element, i)" data-cy="appClusteringMenuDelete" mat-menu-item>
      Delete
    </button>
  </ng-template>
</mat-menu>
