<div fxLayout="column" class="wrapper mat-elevation-z8 max-height">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <app-breadcrumb></app-breadcrumb>
      <button (click)="onDeleteAllSelected()" [disabled]="selectedRows.selected.length < 1" class="new-resource-btn"
              color="warn"
              mat-icon-button matTooltip="Delete selected" data-cy="appClustersDeleteBtn">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-form-field class="m-l-15" floatLabel="never">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter words">
      </mat-form-field>
      <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons [length]="resultsLength">
      </mat-paginator>
    </div>
  </div>

  <div class="table-container overflow-auto" [appScrollTop]="tableData">
    <table mat-table [dataSource]="tableData"
           matSort [trackBy]="trackById">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectedRows.hasValue() && isAllSelected()"
                        [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation();">
          <mat-checkbox (change)="$event ? selectedRows.toggle(row) : null"
                        [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="document_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Document count</th>
        <td mat-cell *matCellDef="let element"><span>{{element.document_count}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="average_similarity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Average similarity</th>
        <td mat-cell *matCellDef="let element"><span>{{element.average_similarity | number: '0.2'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="significant_words">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Significant words</th>
        <td mat-cell *matCellDef="let element"><span>{{(element.significant_words | getPropertyList: sigWordAccessor) | join: ', '}}</span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="pointer" [routerLink]="[element.id]"
         title="View cluster documents"></tr>

    </table>
  </div>
</div>
