

.wrapper {
  font-size: 14px;
}

.exclude-search-checkbox {
  ::ng-deep .mat-checkbox-layout {
    margin-bottom: 1em;
    width: 100%;
    .mat-checkbox-inner-container{
      margin-right: 0;
      margin-left: auto;
    }
  }
}
