<div class="wrapper" fxFlex fxLayout="column">

  <div *ngFor="let aggregation of aggregationList; let i = index;" class="aggregation-form" fxFlex fxLayout="column">

    <div *ngIf="i !== 0" fxFlex fxLayoutAlign="end">
      <button (click)="removeAggregation(i)" aria-label="Close" class="mat-icon-button close-button" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Select Fields</mat-label>
      <mat-select [disableOptionCentering]="true" [formControl]="aggregation.formControl"
                  data-cy="appSearcherSidebarAggregationsSelectField"
                  panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let fields of (fieldsFiltered | async)"
                    [disabled]="fields.type === 'date' && aggregation.formControl.value.type !== 'date' && dateAlreadySelected"
                    [value]="fields"
                    title="{{fieldIndexMap.get(fields.path)?.join('\n')}}">
          {{fields.path}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="fieldTypeTextOrFact(aggregation.formControl.value)">
      <app-text-aggregation
        [aggregationObj]="aggregation"
        [fieldsFormControl]="aggregation.formControl"
        [isLastAgg]="(i+1) === aggregationList.length">
      </app-text-aggregation>
    </ng-container>
    <ng-container *ngIf="fieldTypeDate(aggregation.formControl.value)">
      <app-date-aggregation
        (relativeFrequency)="onRelativeFrequency($event)"
        [aggregationObj]="aggregation"
        [fieldsFormControl]="aggregation.formControl" [notSubAgg]="i === 0">
      </app-date-aggregation>
    </ng-container>
    <ng-container *ngIf="fieldTypeGeoShape(aggregation.formControl.value)">
      <app-geo-shape-aggregation
        [aggregationObj]="aggregation"
        [fieldsFormControl]="aggregation.formControl"
        [notSubAgg]="i === 0">
      </app-geo-shape-aggregation>
    </ng-container>
    <ng-container *ngIf="fieldTypeGeoPoint(aggregation.formControl.value)">
      <app-geo-point-aggregation
        [aggregationObj]="aggregation"
        [fieldsFormControl]="aggregation.formControl"
        [notSubAgg]="i === 0">
      </app-geo-point-aggregation>
    </ng-container>
  </div>
  <button (click)="addNewAggregation()"
          [disabled]="!(aggregationList.length > 0 && aggregationList[0].formControl.value)"
          aria-label="add sub aggregation"
          class="flex-item-center"
          data-cy="appSearcherSidebarAggregationsAddNew"
          mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>

  <mat-checkbox [(ngModel)]="searchQueryIncluded" class="exclude-search-checkbox"
                labelPosition="before">Apply current search to aggregations:
  </mat-checkbox>

  <mat-checkbox [(ngModel)]="onlySavedSearchAgg" class="exclude-search-checkbox"
                labelPosition="before">Only show saved search aggregations:
  </mat-checkbox>
  <div class="max-width">
    <button (click)="aggregate()"
            [disabled]="!(aggregationList.length > 0 && aggregationList[0].formControl.value) || (searchService.getIsLoading() | async)"
            class="max-width" data-cy="appSearcherSidebarAggregationsSubmit"
            mat-stroked-button>
      Aggregate
    </button>
  </div>
</div>
