<div class="wrapper" fxFlex fxLayout="column">

  <div class="aggregation-form" fxFlex fxLayout="column" *ngFor="let aggregation of aggregationList; let i = index;">

    <div fxFlex fxLayoutAlign="end" *ngIf="i !== 0">
      <button mat-icon-button aria-label="Close" (click)="removeAggregation(i)" class="mat-icon-button close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Select Fields</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
                  [formControl]="aggregation.formControl">
        <mat-option *ngFor="let fields of (fieldsFiltered | async)" [value]="fields"
                    [disabled]="fields.type === 'date' && aggregation.formControl.value.type !== 'date' && dateAlreadySelected">
          {{fields.path}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="fieldTypeTextOrFact(aggregation.formControl.value)">
      <app-text-aggregation
        [isLastAgg]="(i+1) === aggregationList.length"
        [fieldsFormControl]="aggregation.formControl"
        [aggregationObj]="aggregation">
      </app-text-aggregation>
    </ng-container>
    <ng-container *ngIf="fieldTypeDate(aggregation.formControl.value)">
      <app-date-aggregation
        [notSubAgg]="i === 0"
        [fieldsFormControl]="aggregation.formControl"
        [aggregationObj]="aggregation" (relativeFrequency)="onRelativeFrequency($event)">
      </app-date-aggregation>
    </ng-container>
  </div>
  <button class="flex-item-center" mat-icon-button aria-label="add sub aggregation" (click)="addNewAggregation()"
          [disabled]="!(aggregationList.length > 0 && aggregationList[0].formControl.value)">
    <mat-icon>add</mat-icon>
  </button>

  <mat-checkbox class="exclude-search-checkbox" [(ngModel)]="searchQueryExcluded"
                labelPosition="before">Exclude current
    search:
  </mat-checkbox>

  <div class="max-width">
    <button class="max-width" mat-stroked-button (click)="aggregate()"
            [disabled]="!(aggregationList.length > 0 && aggregationList[0].formControl.value) || (searchService.getIsLoading() | async)">
      Aggregate
    </button>
  </div>
</div>
