.custom-tooltip{
  color: #fff;
  border-radius: 4px;
  max-width: 250px;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(97, 97, 97, 0.9);
  white-space: pre-line;
  font-size: 12px;
}

.close-button {
  margin-left: auto;
}
