.mat-tooltip{
  color: #fff;
  border-radius: 4px;
  max-width: 250px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-button {
  margin-left: auto;
}
