@import "../../../variables/variables";

table {
  width: 100%;
}

.table-container {
  position: relative;
  max-height: calc(100vh - #{$navbar-height} - #{$tasks-table-paginator-row} - 49px);//tab 49px
  min-height: calc(100vh - #{$navbar-height} - #{$tasks-table-paginator-row} - 49px);
  overflow: auto;
}
.mat-column-delete{
  width: 60px;
}
