<div class="wrapper">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
    </div>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" [length]="resultsLength" showFirstLastButtons>
    </mat-paginator>
  </div>
  <div class="table-container">

    <table mat-table [dataSource]="tableData"
           matSort matSortActive="id" matSortDisableClear matSortDirection="asc" [trackBy]="trackById">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="is_open">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Open</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (click)="toggleIndexState(element)" [(ngModel)]="element.is_open"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button class="new-resource-btn" mat-icon-button color="warn" (click)="deleteIndex(element)"
                  matTooltip="Delete index">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

</div>
