<div class="wrapper">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="paginator-row">
      <mat-form-field class="m-l-15">
        <mat-icon matSuffix>search</mat-icon>
        <input (keyup)="applyFilter($event)" matInput placeholder="Filter index name">
      </mat-form-field>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <div class="table-container">

    <table [dataSource]="tableData" [trackBy]="trackById"
           mat-table matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Id</th>
        <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="is_open">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Open</th>
        <td *matCellDef="let element" mat-cell>
          <mat-checkbox (click)="toggleIndexState(element)" [(ngModel)]="element.is_open"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="size">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Size</th>
        <td *matCellDef="let element" mat-cell>{{ element.size | byteFormat}}</td>
      </ng-container>
      <ng-container matColumnDef="doc_count">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Document count</th>
        <td *matCellDef="let element" mat-cell>{{ element.doc_count }}</td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Delete</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="deleteIndex(element)" class="new-resource-btn" color="warn" mat-icon-button
                  matTooltip="Delete index">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>

</div>
