<h1 mat-dialog-title>Tag doc</h1>

<div mat-dialog-content>
  <form #docForm="ngForm" (ngSubmit)="onSubmit()" class="max-width" id="docForm">
    <mat-form-field class="max-width" data-cy="appRegexTaggerTagDocDialogDocument">
      <input #doc="ngModel"
             (ngModelChange)="docChanged($event, doc)"
             [(ngModel)]="model.doc"
             matInput
             name="doc"
             placeholder="Tag document"
             required>
      <mat-error *ngIf="doc.hasError('required')">
        Document is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="doc.hasError('invalidJson')">
        Document has to be in <strong>JSON</strong> format
      </mat-error>
    </mat-form-field>
    <mat-form-field class="max-width" data-cy="appRegexTaggerTagDocDialogFields">
      <mat-select #selectedFields="ngModel" [(ngModel)]="model.selectedFields"
                  [errorStateMatcher]="matcher"
                  multiple
                  name="selectedFields"
                  placeholder="fields"
                  required>
        <mat-option *ngFor="let field of fields" [value]="field">
          {{field}}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="selectedFields.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="m-top-10"><span class="mat-body-strong">Result: </span>
      <div class="code-wrapper">
        <code>
          <pre *ngIf="result">{{result | json}}</pre>
        </code>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>

  <div class="flex-col max-width">
    <div class="flex-row">
      <div class="flex-item-left">
        <button mat-stroked-button mat-dialog-close="" data-cy="appRegexTaggerTagDocDialogClose">Close</button>
      </div>
      <div class="flex-item-right">
        <button [disabled]="docForm.invalid" form="docForm" mat-stroked-button type="submit">Tag</button>
      </div>
    </div>
  </div>
</div>
