<div class="field-type-wrapper">
  <mat-form-field appearance="outline" class="max-width">
    <mat-label>Aggregation</mat-label>
    <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
                data-cy="appSearcherSidebarAggregationsBoolAggregationType"
                [(ngModel)]="aggregationType"
                name="aggregationBoolType" (selectionChange)="makeBoolAggregation()">
      <mat-option value="terms" selected>frequent items</mat-option>
    </mat-select>
  </mat-form-field>
</div>
