<h1 mat-dialog-title>Edit Regex Tagger Group</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit(regexTaggerGroupForm.value)" [formGroup]="regexTaggerGroupForm" class="flex-col">
    <mat-form-field data-cy="appRegexTaggerGroupCreateDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="descriptionFormControl" matInput
             placeholder="Description" required>

      <mat-error *ngIf="regexTaggerGroupForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field data-cy="appRegexTaggerGroupCreateDialogRegexTaggerGroups">
      <mat-label>Regex Tagger Groups</mat-label>
      <mat-select [disableOptionCentering]="true"
                  formControlName="regexTaggersFormControl" multiple panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let regexTagger of projectRegexTaggers" [value]="regexTagger.id">
          {{regexTagger.description}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="regexTaggerGroupForm.get('regexTaggersFormControl')?.hasError('required')">
        Regex Tagger Group is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button class="flex-item-left" mat-button mat-dialog-close type="button">Close</button>
        </div>
        <div class="flex-item-right">
          <button [disabled]="!regexTaggerGroupForm.valid" data-cy="appRegexTaggerGroupCreateDialogSubmit" mat-button
                  type="submit">
            Apply
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
