<mat-form-field class="max-width">
  <input matInput placeholder="Tag text" #textInput>
</mat-form-field>
<mat-checkbox [(ngModel)]="lemmatize"  matTooltip="{{tagTextOptions?.actions?.POST?.lemmatize?.help_text || ''}}">Lemmatize</mat-checkbox>
<div *ngIf="result" class="m-top-10">
  <span class="mat-body-strong">Result: </span>{{result.result}}
  <br>
  <span class="mat-body-strong">Probability:</span> {{result.probability}}
</div>
<div class="flex-col">
  <div class="flex-row">
    <div class="flex-item-right">
      <button type="submit" mat-button (click)="onSubmit(textInput.value)">Post</button>
    </div>
  </div>
</div>
