.code-wrapper {
  height: 500px;
  overflow: auto;
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  box-shadow: inset 0px 0px 4px 0px #d0d0d0;
  padding: 15px 5px;
}
.loading-div{
  min-height: 10px;
}
