@import '~@angular/material/theming';

// Define the default theme (same as the example above).
$texta-primary: mat-palette($mat-indigo);
$texta-accent:  mat-palette($mat-pink, A200, A100, A400);
$texta-warn:    mat-palette($mat-red);

$texta-theme:   mat-light-theme($texta-primary, $texta-accent);



$navbar-height: 56px;

$primary: mat-color($texta-primary);
$accent: mat-color($texta-accent);
$warn: mat-color($texta-warn);

$foreground: map-get($texta-theme, foreground);
$background: map-get($texta-theme, background);
