@import "../custom-theme.scss";

$navbar-height: 72px;

$primary: mat-color($texta-primary);
$accent: mat-color($texta-accent);
$warn: mat-color($texta-warn);

$foreground: map-get($texta-theme, foreground);
$background: map-get($texta-theme, background);
