@import "../../../variables/variables";

.container {
  height: 100%;
  overflow: hidden;
  mat-tab-group{
    height: 100%;
  }
}

app-aggregation-results-chart {
  display: block;
  height: inherit;
  width: inherit;
}
::ng-deep .aggregation-results .mat-tab-body-wrapper{
  height: 100%;
}
::ng-deep .aggregation-results .mat-tab-label{
  opacity: 1 !important;
  min-width: 305px !important;
}
::ng-deep .aggregation-results .mat-tab-label:first-of-type {
  min-width: 135px !important;
  width: 135px !important;
  flex-basis: initial !important;
  flex-grow: initial !important;
  color: initial !important;
}
