@import "../../../variables/variables";

.container {
  height: 100%;
  overflow: hidden;
  mat-tab-group{
    height: 100%;
  }
}

app-aggregation-results-chart {
  display: block;
  height: inherit;
  width: inherit;
}
::ng-deep .mat-tab-body-wrapper{
  height: 100%;
}
::ng-deep .mat-tab-label{
  opacity: 1 !important;
}
