<mat-form-field class="max-width">
  <input matInput placeholder="Tag document" #textInput [value]="defaultDoc">
</mat-form-field>
<div class="checkbox-info-row m-bot-5">
  <mat-checkbox [(ngModel)]="lemmatize">Lemmatize
  </mat-checkbox>
  <app-info-icon [textTemplate]="lemmatizeTemplate" textTitle="Lemmatize">
    <ng-template #lemmatizeTemplate>
      <p>{{tagDocOptions?.actions?.POST?.lemmatize?.help_text || ''}}</p>
    </ng-template>
  </app-info-icon>
  <mat-checkbox [(ngModel)]="feedback" class="m-l-15">Feedback
  </mat-checkbox>
  <app-info-icon [textTemplate]="feedbackTemplate" textTitle="Feedback">
    <ng-template #feedbackTemplate>
      <p>{{tagDocOptions?.actions?.POST?.feedback_enabled?.help_text || ''}}</p>
    </ng-template>
  </app-info-icon>
</div>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="result" class="m-top-10">
  <span class="mat-body-strong">Result: </span>{{result.result}}
  <br>
  <span class="mat-body-strong">Probability: </span> {{result.probability}}
  <br>
  <span class="mat-body-strong">Tag:</span> {{result?.tag}}
  <ng-container *ngIf="result.feedback">
    <br>
    <span class="mat-body-strong">Feedback id: </span> {{result.feedback.id}}
  </ng-container>
</div>
<div class="flex-row">
  <div class="flex-item-left">
    <button type="button" mat-button mat-dialog-close="">Close</button>
  </div>
  <div class="flex-item-right">
    <button type="submit" mat-button (click)="onSubmit(textInput.value)">Post</button>
  </div>
</div>
