<h1 mat-dialog-title>Multitag Text</h1>
<mat-dialog-content fxLayout="column">

  <mat-form-field class="max-width" data-cy="appRegexTaggerMultiTagDialogText">
    <textarea [(ngModel)]="text" [ngModelOptions]="{standalone: true}" [rows]="5" matInput
              placeholder="Text"></textarea>
    <mat-hint>{{regexTaggerOptions?.actions?.POST?.text?.help_text || ''}}</mat-hint>
  </mat-form-field>
  <mat-form-field class="max-width" data-cy="appRegexTaggerMultiTagDialogTaggers">
    <mat-label>Regex Taggers</mat-label>
    <app-virtual-scroll-select [scrollableDataSource]="taggers" [formControl]="taggerSelectionFormControl"></app-virtual-scroll-select>
    <mat-hint>{{regexTaggerOptions?.actions?.POST?.taggers?.help_text || ''}}</mat-hint>
  </mat-form-field>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <div *ngIf="result" class="m-top-10">
    <div class="code-wrapper">
      <code>
        <pre *ngIf="result">{{result | json}}</pre>
      </code>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex-row max-width">
    <div class="flex-item-left">
      <button class="flex-item-left" mat-button mat-dialog-close data-cy="appRegexTaggerMultiTagDialogClose"
              type="button">Close
      </button>
    </div>
    <div class="flex-item-right">
      <button (click)="onSubmit(text)" [disabled]="!text" data-cy="appRegexTaggerMultiTagDialogSubmit"
              mat-button>
        Tag
      </button>
    </div>
  </div>
</mat-dialog-actions>
