<div class="wrapper flex-col max-height">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button (click)="openCreateDialog()" class="paginator-margin-left"
              color="primary" data-cy="appRegexTaggerCreateBtn" mat-raised-button>
        CREATE
      </button>
      <button (click)="onDeleteAllSelected()" [disabled]="selectedRows.selected.length < 1" class="new-resource-btn"
              color="warn"
              mat-icon-button matTooltip="Delete selected">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="openMultiTagDialog()" data-cy="appRegexTaggerMultiTagBtn" mat-stroked-button>
        Multitag Text
      </button>
      <mat-form-field class="m-l-15">
        <mat-icon matSuffix>search</mat-icon>
        <input (keyup)="applyFilter($event.target, 'description')" matInput placeholder="Filter description">
      </mat-form-field>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

  <div [appScrollTop]="tableData" class="table-container overflow-auto">
    <table [dataSource]="tableData" mat-table
           matSort matSortActive="id" matSortDirection="desc"
           multiTemplateDataRows>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectedRows.hasValue() && isAllSelected()"
                        [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selectedRows.toggle(row) : null" (click)="$event.stopPropagation()"
                        [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
        <td *matCellDef="let element" mat-cell> {{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
        <td *matCellDef="let element" mat-cell> {{element.description}}</td>
      </ng-container>

      <ng-container matColumnDef="operator">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Operator</th>
        <td *matCellDef="let element" mat-cell> {{element.operator}}</td>
      </ng-container>
      <ng-container matColumnDef="matchType">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Match Type</th>
        <td *matCellDef="let element" mat-cell> {{element.match_type}}</td>
      </ng-container>
      <ng-container matColumnDef="requiredWords">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Required Words</th>
        <td *matCellDef="let element" mat-cell> {{element.required_words}}</td>
      </ng-container>
      <ng-container matColumnDef="phraseSlop">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Phrase Slop</th>
        <td *matCellDef="let element" mat-cell> {{element.phrase_slop}}</td>
      </ng-container>
      <ng-container matColumnDef="counterSlop">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Counter Slop</th>
        <td *matCellDef="let element" mat-cell> {{element.counter_slop}}</td>
      </ng-container>
      <ng-container matColumnDef="nAllowedEdits">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Allowed Edits</th>
        <td *matCellDef="let element" mat-cell> {{element.n_allowed_edits}}</td>
      </ng-container>
      <ng-container matColumnDef="ignoreCase">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Ignore Case</th>
        <td *matCellDef="let element" mat-cell>
          <mat-checkbox (click)="$event.stopPropagation();" (ngModelChange)="updateRegexTaggerRow(element)"
                        [(ngModel)]="element.ignore_case"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="ignorePunctuation">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Ignore Punctuation</th>
        <td *matCellDef="let element" mat-cell>
          <mat-checkbox (click)="$event.stopPropagation();" (ngModelChange)="updateRegexTaggerRow(element)"
                        [(ngModel)]="element.ignore_punctuation"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="fuzzy">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Fuzzy Match</th>
        <td *matCellDef="let element" mat-cell>
          <mat-checkbox (click)="$event.stopPropagation();" (ngModelChange)="updateRegexTaggerRow(element)"
                        [(ngModel)]="element.return_fuzzy_match"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="task__status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Task</th>
        <td *matCellDef="let element" mat-cell>
          <mat-progress-bar *ngIf="element.task && element.task.step !== 'training'" [value]="element.task.progress"
                            mode="determinate">
          </mat-progress-bar>
          <mat-progress-bar *ngIf="element.task && element.task.step === 'training' && element.task.status !== 'failed'"
                            [value]="element.task.progress" mode="indeterminate">
          </mat-progress-bar>
          <mat-hint *ngIf="element.task">{{element.task.step ? element.task.step : element.task.status}}</mat-hint>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="center-header-cell" mat-header-cell>Actions</th>
        <td (click)="$event.stopPropagation();" *matCellDef="let element; let i = dataIndex" mat-cell>

          <button [matMenuTriggerData]="{element: element, i:i}" [matMenuTriggerFor]="editMenu" color="primary"
                  mat-icon-button>
            <mat-icon aria-label="Actions">more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td *matCellDef="let element; let i = dataIndex" [attr.colspan]="displayedColumns.length" mat-cell
            class="expanded-detail">
          <div *ngIf="expandedElements[i]" [@detailExpand] class="element-detail">
            <div class="flex-col m-l-r-5" fxFlex="50">
              <table class="simple-table">
                <tr>
                  <th class="mat-body-strong">Lexicon Words</th>
                </tr>
                <tr *ngFor="let val of element.lexicon">
                  <td>{{val}}</td>
                </tr>
              </table>
            </div>
            <div class="flex-col m-l-r-5" fxFlex="50">
              <table class="simple-table">
                <tr>
                  <th class="mat-body-strong">Counter Lexicon Words</th>
                </tr>
                <tr *ngFor="let tt of element.counter_lexicon">
                  <td>{{tt}}</td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="expandedElements[i] = !expandedElements[i]"
          *matRowDef="let element; columns: displayedColumns; let i = dataIndex"
          [class.expanded-row]="expandedElements[i]"
          class="element-row"
          mat-row></tr>
      <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    </table>
  </div>
</div>

<mat-menu #editMenu="matMenu">
  <ng-template let-element="element" let-i="i" matMenuContent>
    <button (click)="applyToIndexDialog(element)" data-cy="appRegexTaggerMenuApplyToIndices" mat-menu-item>
      Apply to indices
    </button>
    <button (click)="onTagRandomDoc(element)" data-cy="appRegexTaggerMenuTagRandomDoc"
            mat-menu-item>
      Tag Random Doc
    </button>
    <button (click)="onTagText(element)" data-cy="appRegexTaggerMenuTagText"
            mat-menu-item>
      Tag Text
    </button>
    <button (click)="edit(element);" mat-menu-item>
      Edit
    </button>
    <button (click)="duplicateRegexTagger(element);" mat-menu-item>
      Duplicate
    </button>
    <button (click)="openCreateDialog(element)" data-cy="appRegexTaggerMenuClone" mat-menu-item>
      Clone & Edit
    </button>
    <mat-divider></mat-divider>
    <button (click)="onDelete(element, i)" data-cy="appRegexTaggerMenuDelete" mat-menu-item>
      Delete
    </button>
  </ng-template>
</mat-menu>
