<h1 mat-dialog-title>Tag Cluster</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit(tagForm.value)" [formGroup]="tagForm" class="flex-col">
    <mat-form-field data-cy="appTagClusterFactName">
      <input [matAutocomplete]="autoName" aria-label="Fact name"
             formControlName="nameFormControl"
             matInput
             placeholder="Fact name"
             required
             type="text">
      <mat-autocomplete #autoName="matAutocomplete"
                        panelWidth="auto">
        <mat-option *ngFor="let option of projectFacts"
                    [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="tagForm.get('nameFormControl')?.hasError('required')">
        Fact name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field data-cy="appTagClusterStrVal" fxFlex="36">
      <input [matAutocomplete]="auto" aria-label="Fact value"
             formControlName="strValFormControl"
             matInput
             placeholder="Fact value"
             required
             type="text">
      <mat-autocomplete #auto="matAutocomplete"
                        panelWidth="auto">
        <mat-option *ngFor="let option of factValOptions" [disabled]="isLoading"
                    [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="tagForm.get('strValFormControl')?.hasError('required')">
        Fact value is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field data-cy="appTagClusterDocPath">
      <mat-label>Doc path</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="docPathFormControl"
                  panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let item of docPaths" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tagForm.get('docPathFormControl')?.hasError('required')">
        Doc path is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button class="flex-item-left" mat-button mat-dialog-close type="button">Close</button>
        </div>
        <div class="flex-item-right">
          <button [disabled]="!tagForm.valid" data-cy="appTagClusterSubmit" mat-button type="submit">Tag</button>
        </div>
      </div>

    </div>


  </form>
</div>
