:host{
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  span{
    display: flex;
  }
}
span {
  padding: 4px 12px;
  border-radius: 16px;
  margin: 3px;
  cursor: pointer;
  transition: .2s filter;
}
span:hover{
  filter: brightness(80%);
}
h3{
  cursor: pointer;
}
h3:hover{
  text-decoration: underline;
}
