<div class="wrapper mat-elevation-z8">


  <div class="table-container">
    <table mat-table [dataSource]="tableData" matSort multiTemplateDataRows>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectedRows.hasValue() && isAllSelected()"
            [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectedRows.toggle(row) : null"
            [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td mat-cell *matCellDef="let element"> {{element.id}}</td>
        </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Author</th>
        <td mat-cell *matCellDef="let element"> {{element.author_username}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="time_started">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> time_started</th>
        <td mat-cell *matCellDef="let element"><span
            *ngIf="element.task">{{element.task.time_started | date:['MMM d, h:mm:ss a']}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="time_completed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> time_completed</th>
        <td mat-cell *matCellDef="let element">
          <span
            *ngIf="element.task && element.task.time_completed">{{element.task.time_completed | date:['MMM d, h:mm:ss a']}}</span>
          <span *ngIf="element.task && !element.task.time_completed">Null</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="fields_parsed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> fields_parsed</th>
        <td mat-cell *matCellDef="let element"> {{element.fields_parsed}}</td>
      </ng-container>
      <ng-container matColumnDef="f1_score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> f1_score</th>
        <td mat-cell *matCellDef="let element"> {{element.f1_score | number:'0.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="precision">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> precision</th>
        <td mat-cell *matCellDef="let element"> {{element.precision | number:'0.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="recall">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> recall</th>
        <td mat-cell *matCellDef="let element"> {{element.recall | number:'0.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="Task">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> task</th>
        <td mat-cell *matCellDef="let element">
          <mat-progress-bar *ngIf="element.task && element.task.step !== 'training'" mode="determinate"
            [value]="element.task.progress">
          </mat-progress-bar>
          <mat-progress-bar *ngIf="element.task && element.task.step === 'training' && element.task.status !== 'failed'"
            mode="indeterminate" [value]="element.task.progress">
          </mat-progress-bar>
          <mat-hint *ngIf="element.task">{{element.task.status}} {{element.task.step}}</mat-hint>
        </td>
      </ng-container>

      <ng-container matColumnDef="Modify">
        <th mat-header-cell class="center-header-cell" *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex" (click)="$event.stopPropagation();">

          <button mat-icon-button color="primary" [matMenuTriggerFor]="editMenu">
            <mat-icon aria-label="Edit Options">more_vert</mat-icon>
          </button>
          <mat-menu #editMenu="matMenu">
            <div *ngIf="element.task.status === 'completed'">
              <button mat-menu-item (click)="tagTextDialog(element)">
                Tag text
              </button>
              <button mat-menu-item (click)="tagDocDialog(element)">
                Tag doc
              </button>
              <button mat-menu-item (click)="tagRandomDocDialog(element)">
                Tag random doc
              </button>
              <mat-divider></mat-divider>
            </div>
            <button mat-menu-item (click)="onDelete(element, i)">
              Delete
            </button>
          </mat-menu>

        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="flex-row element-detail-plot-fields">
              <div *ngIf="element.plot"><img class="element-plot" [src]="element.plot"></div>
              <div *ngIf="element.plot"><img class="element-plot" [src]="element.model_plot"></div>
              <div class="flex-col m-l-r-5">
                <table class="simple-table">
                  <tr>
                    <th class="mat-body-strong">Maximum Sample Size</th>
                    <td>{{element.maximum_sample_size}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Negative Multiplier</th>
                    <td>{{element.negative_multiplier}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Validation Split</th>
                    <td>{{element.validation_split}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Validation Accuracy</th>
                    <td>{{element.validation_accuracy}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Validation Loss</th>
                    <td>{{element.validation_loss}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Training Accuracy</th>
                    <td>{{element.training_accuracy}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Training Loss</th>
                    <td>{{element.training_loss}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Max Fact Doc Count</th>
                    <td>{{element.max_fact_doc_count}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Min Fact Doc Count</th>
                    <td>{{element.min_fact_doc_count}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Vocab Size</th>
                    <td>{{element.vocab_size}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Num Epochs</th>
                    <td>{{element.num_epochs}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Sequence Length</th>
                    <td>{{element.seq_len}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Fact Name</th>
                    <td>{{element.fact_name}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Model Architecture</th>
                    <td>{{element.model_architecture}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Score Threshold</th>
                    <td>{{element.score_threshold}}</td>
                  </tr>
                  <tr>
                      <th class="mat-body-strong">Author</th>
                      <td>{{element.author}}</td>
                    </tr>
                  <tr>
                    <th class="mat-body-strong">Fact Values</th>
                    <td><span class="action-text mat-body-strong pointer"
                        (click)="openGenericDialog(element.fact_values)">Show Fact Values</span></td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Model Data</th>
                    <td><span class="action-text mat-body-strong pointer"
                        (click)="openGenericDialog(element.result_json)">Show Model Data</span>
                  </tr>
                </table>
              </div>

              <div class="flex-col m-l-r-5">
                <table class="simple-table">
                  <tr>
                    <th class="mat-body-strong">Task id</th>
                    <td>{{element.task.id}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Status</th>
                    <td>{{element.task.status}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Progress</th>
                    <td>{{element.task.progress}}</td>
                  </tr>
                  <tr>
                      <th class="mat-body-strong">Errors</th>
                      <td>{{element.task.errors}}</td>
                      </tr>
                  <tr>
                    <th class="mat-body-strong">Step</th>
                    <td>{{element.task.step}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Time Started</th>
                    <td>{{element.task.time_started}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Last Update</th>
                    <td>{{element.task.last_update}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Time Completed</th>
                    <td>{{element.task.time_completed}}</td>
                  </tr>
                </table>
              </div>

              <div class="flex-col m-l-r-5">
                <table class="simple-table">
                  <tr>
                    <th class="mat-body-strong">Fields</th>
                  </tr>
                  <tr *ngFor="let field of element.fields_parsed">
                    <td>{{field}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

    </table>

  </div>

  <div class="table-paginator-row">
    <button class="new-resource-btn" mat-button color="primary" (click)="openCreateDialog()"><mat-icon>add</mat-icon> CREATE </button>
    <button class="new-resource-btn" mat-icon-button color="warn" (click)="onDeleteAllSelected()" matTooltip="Delete selected" [disabled]="selectedRows.selected.length < 1"><mat-icon>delete</mat-icon></button>
  </div>

  <mat-paginator [pageSizeOptions]="[15, 50, 100]" showFirstLastButtons [length]="resultsLength">
  </mat-paginator>

</div>
