@import "../../../../variables/variables";

table {
  width: 100%;
}

.mat-column-key {
  max-width: 50%;
}

.cdk-column-select {
  padding-right: 16px;
}
.cdk-column-doc_count{
  div{
    align-items: center;
    justify-content: space-between;
  }
  min-width: 80px;
}

.pointer:hover {
  background: #eeeeee;
}
tr.mat-footer-row {
  font-weight: bold;
}
