@import "../../../../variables/variables";

table {
  width: 100%;
}

.table-container {
  position: relative;
  max-height: calc(100vh - #{$navbar-height} - 56px - 49px);
  min-height: calc(100vh - #{$navbar-height} - 56px - 49px);
  // min-height: 100%;
  overflow: auto;
}

.mat-column-key {
  max-width: 50%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  overflow-x: auto;
  display: flex;
}

.fact-val-wrapper {
  max-height: 400px;
}
.fact-val-div {
  border-collapse: collapse;
  min-width: 200px;
  max-width: 200px;
  span {
    max-width: 100px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }
}
