@import "../../../../variables/variables";

table {
  width: 100%;
}

.mat-column-key {
  max-width: 50%;
}

.cdk-column-select {
  padding-right: 16px;
}
.cdk-column-doc_count{
  min-width: 80px;
}

.pointer:hover {
  background: #eeeeee;
}
