<h1 mat-dialog-title>Edit</h1>
<form class="flex-col" [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm.value)">
  <div class="dialog-content-wrapper" mat-dialog-content>

    <ng-select
      class="form-ng-select"
      [items]="indices"
      [multiple]="true"
      [virtualScroll]="true"
      [closeOnSelect]="false"
      [hideSelected]="true"
      appendTo="body"
      bindLabel="display_name"
      bindValue="value"
      placeholder="Select Indices"
      formControlName="indicesFormControl">
    </ng-select>
    <div class="form-ng-select-error">
      <span
        [ngClass]="{'in-view':
        projectForm.get('indicesFormControl').hasError('required') &&
        projectForm.get('indicesFormControl').touched}">
        Select at least 1 index
      </span>
    </div>


  </div>


  <div mat-dialog-actions class="flex-col submit-button-row">
    <div class="flex-row">
      <div class="flex-item-right max-width">
        <button mat-stroked-button class="max-width" type="submit"
                [disabled]="!projectForm.valid">Save changes
        </button>
      </div>
    </div>
  </div>
</form>
