<h1 mat-dialog-title>Edit</h1>
<form class="flex-col" [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm.value)">
  <div class="dialog-content-wrapper" mat-dialog-content>
    <mat-form-field class="max-width" data-cy="appProjectEditDialogIndices">
      <mat-label>Select Indices</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" required multiple>
        <mat-option *ngFor="let item of indices" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="projectForm.get('indicesFormControl').hasError('required')">
        Select at least 1 index
      </mat-error>
    </mat-form-field>
    <mat-form-field class="max-width">
      <mat-label>Select Users</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
                  formControlName="usersFormControl" required multiple>
        <mat-option *ngFor="let item of users" [value]="item.url">
          {{item.username}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="projectForm.get('usersFormControl').hasError('required')">
        Select at least 1 user
      </mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="flex-col submit-button-row">
    <div class="flex-row">
      <div class="flex-item-right max-width">
        <button mat-stroked-button class="max-width" type="submit"
                [disabled]="!projectForm.valid">Save changes
        </button>
      </div>
    </div>
  </div>
</form>
