<h1 mat-dialog-title>New BERT Tagger</h1>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit(bertTaggerForm.value)" [formGroup]="bertTaggerForm" class="flex-col" id="bertForm">
    <mat-form-field data-cy="appBertTaggerCreateDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="descriptionFormControl" matInput
             placeholder="Description" required>

      <mat-error *ngIf="bertTaggerForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
      <mat-hint>{{bertOptions?.actions?.POST?.description?.help_text || ''}}</mat-hint>
    </mat-form-field>


    <mat-form-field data-cy="appBertTaggerCreateDialogIndices">
      <mat-label>Indices</mat-label>
      <mat-select (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
        <app-mat-option-select-all></app-mat-option-select-all>
        <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="bertTaggerForm.get('indicesFormControl')?.hasError('required')">
        Select at least <strong>1 index</strong>
      </mat-error>
      <mat-hint>{{bertOptions?.actions?.POST?.indices?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field data-cy="appBertTaggerCreateDialogFields">
      <mat-label>Select Fields</mat-label>
      <app-project-field-select [projectFields]="projectFields" [required]="true"
                                formControlName="fieldsFormControl"></app-project-field-select>

      <mat-error *ngIf="bertTaggerForm.get('fieldsFormControl')?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
      <mat-hint>{{bertOptions?.actions?.POST?.fields?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fact name</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="factNameFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let fact of projectFacts | async" [value]="fact">
          {{fact.name}}
        </mat-option>
      </mat-select>
      <mat-hint>{{bertOptions?.actions?.POST?.fact_name?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <div class="flex-row">
      <mat-checkbox formControlName="balanceFormControl"
                    matTooltip="{{bertOptions?.actions?.POST?.balance?.help_text || ''}}"
                    matTooltipPosition="left">Balance
      </mat-checkbox>
      <mat-checkbox class="m-l-15" formControlName="sentenceShuffleFormControl"
                    matTooltip="{{bertOptions?.actions?.POST?.use_sentence_shuffle?.help_text || ''}}"
                    matTooltipPosition="left">Use sentence shuffle
      </mat-checkbox>
      <mat-checkbox class="m-l-15" formControlName="maxBalanceFormControl"
                    matTooltip="{{bertOptions?.actions?.POST?.balance_to_max_limit?.help_text || ''}}"
                    matTooltipPosition="left">Balance to max limit
      </mat-checkbox>
    </div>

    <mat-form-field *ngIf="this.bertTaggerForm.get('factNameFormControl')?.value?.values.length === 2"
                    style="margin-top: 10px;">
      <mat-label>Positive label</mat-label>
      <mat-select [disableOptionCentering]="true"
                  formControlName="posLabelFormControl" panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let factVal of this.bertTaggerForm.get('factNameFormControl')?.value?.values"
                    [value]="factVal">
          {{factVal}}
        </mat-option>
      </mat-select>
      <mat-hint>{{bertOptions?.actions?.POST?.pos_label?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)" [startingQuery]="query"
                                   data-cy="appBertTaggerCreateDialogQuery"></app-saved-search-autocomplete>
    <mat-form-field>
      <mat-label>Checkpoint model</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="checkPointModelFormControl"
      matTooltip="{{bertOptions?.actions?.POST?.checkpoint_model?.help_text || ''}}"
                  panelClass="select-panel-reveal-input">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let model of trainedModels" [value]="model">
          {{model.id}}: {{model.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>BERT model</mat-label>
      <mat-select [disableOptionCentering]="true"
                  formControlName="bertModelFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let model of bertModels" [value]="model">
          {{model}}
        </mat-option>
      </mat-select>
      <mat-hint>{{bertOptions?.actions?.POST?.bert_model?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <div fxFlex="column" fxLayoutGap="5px">

      <mat-form-field fxFlex="50%">
        <input formControlName="minSampleSizeFormControl" matInput placeholder="Minimum sample size" step="50"
               type="number">
        <mat-hint>{{bertOptions?.actions?.POST?.minimum_sample_size?.help_text || ''}}</mat-hint>
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <input formControlName="sampleSizeFormControl" matInput placeholder="Maximum sample size" step="1000"
               type="number">
        <mat-hint>{{bertOptions?.actions?.POST?.maximum_sample_size?.help_text || ''}}</mat-hint>
      </mat-form-field>

    </div>
    <mat-form-field>
      <input formControlName="negativeMultiplierFormControl" matInput pattern="([0-9]*|[0-9]*[.]?)\d*"
             placeholder="Negative multiplier" step="0.1"
             type="number">
      <mat-hint>{{bertOptions?.actions?.POST?.maximum_sample_size?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="maxLengthFormControl" matInput
             placeholder="Maximum sequence length of BERT tokenized input text used for training"
             type="number">
      <mat-hint>{{bertOptions?.actions?.POST?.max_length?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-checkbox formControlName="useGpuFormControl" class="m-bot-5"
                  matTooltip="{{bertOptions?.actions?.POST?.use_gpu?.help_text || ''}}"
                  matTooltipPosition="left">Use GPU
    </mat-checkbox>

    <!--advanced -->
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <h3>Advanced settings</h3>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-form-field class="advanced-setting">
          <input formControlName="numEpochsFormControl" matInput placeholder="Number of training epochs."
                 type="number">
          <mat-hint>{{bertOptions?.actions?.POST?.num_epochs?.help_text || ''}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="advanced-setting">
          <input formControlName="learningRateFormControl" matInput placeholder="Learning rate"
                 type="number">
          <mat-hint>{{bertOptions?.actions?.POST?.learning_rate?.help_text || ''}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="advanced-setting m-bot-10">
          <input formControlName="epsFormControl"
                 matInput placeholder="Eps" type="number">
          <mat-hint>{{bertOptions?.actions?.POST?.eps?.help_text || ''}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="advanced-setting m-bot-10">
          <input formControlName="batchSizeFormControl" matInput
                 placeholder="Batch size"
                 type="number">
          <mat-hint>{{bertOptions?.actions?.POST?.batch_size?.help_text || ''}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="advanced-setting m-bot-10">
          <input formControlName="splitRatioFormControl" matInput
                 placeholder="Split ratio"
                 type="number">
          <mat-hint>{{bertOptions?.actions?.POST?.split_ratio?.help_text || ''}}</mat-hint>
        </mat-form-field>
      </ng-template>
    </mat-expansion-panel>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex-row max-width">
    <div class="flex-item-left">
      <button class="flex-item-left" mat-button mat-dialog-close type="button">Close</button>
    </div>
    <div class="flex-item-right">
      <button [disabled]="!bertTaggerForm.valid" data-cy="appBertTaggerCreateDialogSubmit" form="bertForm" mat-button
              type="submit">
        Create
      </button>
    </div>
  </div>
</mat-dialog-actions>
