@import "../../variables/variables";

mat-toolbar {
  height: $navbar-height;
  min-height: $navbar-height;

  mat-toolbar-row {
    height: 100%;

    a {
      color: white;
    }

    .is-active {
      border-bottom: 2px solid invert(map-get($foreground, base));
    }

    .nav-button {
      font-weight: lighter;
    }

    .user-name {
      line-height: 24px;

      .logout {
        height: 36px;

        button {
          margin-left: 5px;
        }
      }
    }

    .dropdown-select {
      font-size: 14px;
      margin-right: 10px;
      ::ng-deep .mat-form-field-wrapper{
        margin-bottom: -1.25em;
      }
    }
  }
}

.is-active-menu {
  color: $primary;
}

.mat-icon {
  vertical-align: middle;
}
