<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLinkActive="is-active" [routerLink]="['searcher']">Searcher</a>
    <a routerLinkActive="is-active" [routerLink]="['projects']">Projects</a>
    <a routerLinkActive="is-active" [routerLink]="['']" [routerLinkActiveOptions]="{exact:true}">Landing</a>
<!--    <a routerLinkActive="is-active" [routerLink]="['embeddings']">Embeddings</a>
    <a routerLinkActive="is-active" [routerLink]="['taggers']">Taggers</a>-->
    <a routerLinkActive="is-active" [routerLink]="['users']">Users</a>
<!--    <a routerLinkActive="is-active" [routerLink]="['embedding-group']">Embedding Group</a>
    <a routerLinkActive="is-active" [routerLink]="['tagger-group']">Tagger Group</a>-->
    <a routerLinkActive="is-active" [routerLink]="['lexicon-miner']">Lexicon Miner</a>
    <a class="pointer" [matMenuTriggerFor]="models">Language stuff<mat-icon>arrow_drop_down</mat-icon></a>

    <mat-menu #models="matMenu">
      <a mat-menu-item routerLinkActive="is-active" [routerLink]="['embedding-group']">Embedding Cluster</a>
      <a mat-menu-item routerLinkActive="is-active" [routerLink]="['tagger-group']">Tagger Group</a>
      <a mat-menu-item routerLinkActive="is-active" [routerLink]="['embeddings']">Embeddings</a>
      <a mat-menu-item routerLinkActive="is-active" [routerLink]="['taggers']">Taggers</a>
    </mat-menu>

    <div class="flex-item-right login" *ngIf="!user">
      <button mat-raised-button (click)="registerDialog()">Register</button>
      <button mat-raised-button (click)="loginDialog()">Login</button>
    </div>


    <div class="flex-item-right flex-row user-name" *ngIf="user">
      <mat-form-field>
        <mat-select [formControl]="projectControl" (selectionChange)="selectProject($event.value)">
          <mat-option *ngFor="let item of projects" [value]="item">
            {{item.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="flex-row logout">
        <button mat-flat-button [matMenuTriggerFor]="menu"><span>{{user.username}}
        </span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLinkActive="is-active"
                  [routerLink]="['settings']">Settings
          </button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>

    </div>

  </mat-toolbar-row>
</mat-toolbar>
