<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLinkActive="is-active" [routerLink]="['']" [routerLinkActiveOptions]="{exact:true}"><button mat-button class="nav-button"><mat-icon class="margin-right">home</mat-icon>PROJECTS</button></a>
    <a routerLinkActive="is-active" [routerLink]="['searcher']"><button mat-button class="nav-button"><mat-icon class="margin-right">search</mat-icon>SEARCH</button></a>
    <a routerLinkActive="is-active" [routerLink]="['lexicon-miner']"><button mat-button class="nav-button"><mat-icon class="margin-right">library_books</mat-icon>LEXICONS  <ng-container *ngIf="projectResourceCounts">({{projectResourceCounts?.num_lexicons}})</ng-container></button></a>
    <a class="pointer" [matMenuTriggerFor]="models"><button mat-button class="nav-button"><mat-icon class="margin-right">done_all</mat-icon>MODELS<mat-icon>arrow_drop_down</mat-icon></button></a>

    <mat-menu #models="matMenu">
      <button mat-menu-item>Get Facts</button>
      <button mat-menu-item>Get Fields</button>
    </mat-menu>

    <mat-menu #models="matMenu">
      <!-- Embedding Clusters disabled until more functionality for them is added -->
      <!-- <a mat-menu-item routerLinkActive="is-active" [routerLink]="['embedding-groups']">Embedding Clusters <span *ngIf="projectResourceCounts">({{projectResourceCounts?.num_embedding_clusters}})</span></a> -->
      <a mat-menu-item routerLinkActive="is-active" [routerLink]="['tagger-groups']">Tagger Groups <span *ngIf="projectResourceCounts">({{projectResourceCounts?.num_tagger_groups}})</span></a>
      <a mat-menu-item routerLinkActive="is-active" [routerLink]="['embeddings']">Embeddings <span *ngIf="projectResourceCounts">({{projectResourceCounts?.num_embeddings}})</span></a>
      <a mat-menu-item routerLinkActive="is-active" [routerLink]="['taggers']">Taggers <span *ngIf="projectResourceCounts">({{projectResourceCounts?.num_taggers}})</span></a>
      <a mat-menu-item routerLinkActive="is-active" [routerLink]="['neurotaggers']">NeuroTaggers <span *ngIf="projectResourceCounts">({{projectResourceCounts?.num_neurotaggers}})</span></a>
    </mat-menu>

    <div class="flex-item-right login" *ngIf="!user">
      <button mat-stroked-button class="nav-button" (click)="registerDialog()">REGISTER</button>
      <button mat-stroked-button class="nav-button" id="loginButton" (click)="loginDialog()">LOG IN</button>
    </div>


    <div class="flex-item-right flex-row user-name" *ngIf="user">
      <mat-form-field class="project-select">
        <mat-select [formControl]="projectControl" (selectionChange)="selectProject($event.value)">
          <mat-option *ngFor="let item of projects" [value]="item">
            {{item.id}}: {{item.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="flex-row logout">
        <button mat-button [matMenuTriggerFor]="menu"><span>{{user.username}}<mat-icon>arrow_drop_down</mat-icon></span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLinkActive="is-active"
                  [routerLink]="['settings']">Settings
          </button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>

    </div>

  </mat-toolbar-row>
</mat-toolbar>
