span {
  padding: 4px 12px;
  border-radius: 16px;
  margin: 3px 3px 3px 0;
  transition: .2s filter;
  display: block;
}
.span-hoverable{
  cursor: pointer;
}
.span-hoverable:hover{
  filter: brightness(80%);
}
