@import "../../../../../../variables/variables";

table {
  width: 100%;
}

.table-container {
  position: relative;
  height: calc(100vh - #{$navbar-height} - #{$tasks-table-paginator-row});
  overflow: auto;
}
.paginator-margin-left{
  margin-left: 10px;
}
.paginator-row{
  mat-form-field{
    line-height: 1.6;
  }
}

