@import "../../../../../../variables/variables";

table {
  width: 100%;
}


:host {
  overflow: hidden;
}
.paginator-margin-left{
  margin-left: 10px;
}
.paginator-row{
  mat-form-field{
    line-height: 1.6;
  }
  .char-limit{
    width: 107px;
  }
}

