<div fxLayout="row" fxLayoutAlign="space-between baseline"><h1  mat-dialog-title>Login</h1>
  <div class="register-text">
    Alternatively, log in with <a (click)="onLoginWithCF()" class="pointer">CloudForge</a>, or
    <a (click)="registerDialog()" class="pointer">register</a></div>
</div>
<div class="dialog-content-wrapper" mat-dialog-content>
  <form (ngSubmit)="onSubmit(profileForm.value)" [formGroup]="profileForm" class="flex-col">
    <mat-form-field>
      <input [errorStateMatcher]="matcher" autocomplete="username" data-cy="appSharedLoginDialogUsername"
             formControlName="usernameFormControl"
             matInput
             placeholder="Username">

      <mat-error *ngIf="profileForm.get('usernameFormControl')?.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'" autocomplete="current-password"
             data-cy="appSharedLoginDialogPassword"
             formControlName="passwordFormControl"
             matInput placeholder="Enter your password">
      <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="profileForm.get('passwordFormControl')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button (click)="closeDialog()" class="flex-item-left" data-cy="appSharedLoginDialogClose" mat-button
                  type="button">No Thanks
          </button>
        </div>
        <div class="flex-item-right">
          <button [disabled]="!profileForm.valid || makingRequest" data-cy="appSharedLoginDialogSubmit" mat-button
                  type="submit">Login
          </button>
        </div>
      </div>
    </div>

  </form>

</div>

<mat-error *ngIf="loginError" class="center-text">
  <small data-cy="appSharedLoginDialogLoginError">{{loginError}}</small>
</mat-error>
