<h1 mat-dialog-title>Apply Snowball Stemmer to Index</h1>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit(snowballStemmerForm.value)" [formGroup]="snowballStemmerForm" class="flex-col"
        id="SnowballStemmer">
    <mat-form-field data-cy="appSnowballStemmerCreateDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="descriptionFormControl" matInput
             placeholder="Description" required>

      <mat-error *ngIf="snowballStemmerForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field data-cy="appSnowballStemmerCreateDialogIndices">
      <mat-label>Indices</mat-label>
      <mat-select (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="snowballStemmerForm.get('indicesFormControl')?.hasError('required')">
        Select at least <strong>1 index</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field data-cy="appSnowballStemmerCreateDialogFields">
      <mat-label>Select Fields</mat-label>
      <app-project-field-select [projectFields]="projectFields" [required]="true"
                                formControlName="fieldsFormControl"></app-project-field-select>
      <mat-error *ngIf="snowballStemmerForm.get('fieldsFormControl')?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)"
                                   data-cy="appSnowBallStemmerCreateDialogQuery">
    </app-saved-search-autocomplete>

    <mat-form-field data-cy="appSnowballStemmerCreateDialogLanguages">
      <mat-label>Stemmer language</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="languageFormControl"
                  panelClass="select-panel-reveal-input" required>
        <ng-container *ngIf="stemmerLangs">
          <mat-option *ngFor="let item of stemmerLangs" [value]="item.value">
            {{item.display_name ? item.display_name : 'None'}}
          </mat-option>
        </ng-container>
      </mat-select>

      <mat-error *ngIf="snowballStemmerForm.get('languageFormControl')?.hasError('required')">
        Please choose a Stemmer Language or turn on Detect Language!
      </mat-error>
    </mat-form-field>

    <mat-checkbox class="m-bot-10" formControlName="detectLangFormControl"
                  matTooltip="Whether to detect the language for the stemming on the fly."
                  matTooltipPosition="left">Detect language
    </mat-checkbox>

    <!--advanced -->
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <h3>Advanced settings</h3>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div fxLayout="row">
          <mat-form-field class="advanced-setting" fxFlex>
            <input formControlName="esTimeoutFormControl" matInput placeholder="Elasticsearch timeout"
                   type="number">
            <mat-hint>Elasticsearch scroll timeout in minutes.</mat-hint>
          </mat-form-field>

          <mat-form-field class="advanced-setting m-l-15" fxFlex>
            <input formControlName="bulkSizeFormControl" matInput placeholder="Bulk size"
                   type="number">
            <mat-hint>How many documents should be returned by Elasticsearch with each request.</mat-hint>
          </mat-form-field>
        </div>
      </ng-template>
    </mat-expansion-panel>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex-row max-width">
    <div class="flex-item-left">
      <button class="flex-item-left" mat-button mat-dialog-close type="button">Close</button>
    </div>
    <div class="flex-item-right">
      <button [disabled]="!snowballStemmerForm.valid" data-cy="appSnowballStemmerCreateDialogSubmit"
              form="SnowballStemmer" mat-button type="submit">
        Create
      </button>
    </div>
  </div>
</mat-dialog-actions>
