@import "../../../../variables/variables";

span {
  white-space: nowrap;
}

.wrapper {
  .fact-select {
    width: 350px;
    margin-left: auto;

    ::ng-deep .mat-form-field-wrapper {
      margin-top: 10px;
    }
  }

  .table-container {
    cursor: move;
    .readable-table {
      border-left: 1px solid rgba(0, 0, 0, 0.23);

      .mat-cell {
        vertical-align: middle;
      }

      .mat-header-cell {
        color: rgba(0, 0, 0, 0.87);

        ::ng-deep .mat-sort-header-container {
          justify-content: left;
        }
      }

      .mat-column-key:hover:not(.mat-header-cell) {
        background: #eeeeee;
      }
    }
  }
}

.tooltip {

  & > * {
    margin: 2px
  }

  .tooltip-value {
    font-size: 140%;
  }
}

.chart-wrapper {
  height: 60%;
  width: 80%;
  align-self: center;
  margin-top: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
