@import "../../../../variables/variables";

span {
  white-space: nowrap;
}

.wrapper {
  .fact-select {
    width: 350px;
    margin-left: auto;

    ::ng-deep .mat-form-field-wrapper {
      margin-top: 10px;
    }
  }

  .table-container {
    .readable-table {
      border-left: 1px solid rgba(0, 0, 0, 0.23);

      .mat-cell {
        vertical-align: middle;
      }

      .mat-header-cell {
        color: rgba(0, 0, 0, 0.87);

        ::ng-deep .mat-sort-header-container {
          justify-content: left;
        }
      }

      .mat-column-key:hover:not(.mat-header-cell) {
        background: #eeeeee;
      }
    }
  }
}

.tooltip {

  & > * {
    margin: 2px
  }

  .tooltip-value {
    font-size: 140%;
  }
}

.chart-wrapper {
  height: 60%;
  width: 80%;
  align-self: center;
  margin-top: 20px;
}
