@import "../../../../variables/variables";

span {
  white-space: nowrap;
}

.wrapper {
  position: relative;
  max-height: calc(100vh - #{$navbar-height} - 50px);
  min-height: calc(100vh - #{$navbar-height} - 50px);
  // min-height: 100%;
  overflow: auto;

  .table-container {
    .readable-table {
      border-left: 1px solid rgba(0, 0, 0, 0.23);

      .mat-cell {
        vertical-align: middle;
      }

      .mat-header-cell {
        color: rgba(0, 0, 0, 0.87);

        ::ng-deep .mat-sort-header-container {
          justify-content: left;
        }
      }
      .mat-column-key:hover:not(.mat-header-cell) {
        background: #eeeeee;
      }
    }
  }
}
