<mat-select #select [disableOptionCentering]="true" (focusout)="onSelectFocusLeave($event)"
            (openedChange)="selectBlur($event)"
            (selectionChange)="selectionChanged.next($event)"
            [formControl]="fieldFormControl" [multiple]="multiple" [required]="required"
            panelClass="select-panel-reveal-input">

  <mat-select-trigger *ngIf="multiple">
    <ng-container *ngIf="valueOutPutType === 'path'">{{fieldFormControl?.value | join: ', '}}</ng-container>
    <ng-container *ngIf="valueOutPutType === 'object'">{{fieldFormControl?.value | getPropertyList: pathAccessor  | join: ', '}}</ng-container>
  </mat-select-trigger>
  <mat-select-trigger *ngIf="!multiple">
    <ng-container *ngIf="valueOutPutType === 'path'">{{fieldFormControl?.value}}</ng-container>
    <ng-container *ngIf="valueOutPutType === 'object'">{{pathAccessor(fieldFormControl?.value)}}</ng-container>
  </mat-select-trigger>
  <app-mat-option-select-all [multiple]="multiple"></app-mat-option-select-all>
  <mat-option *ngFor="let field of fieldsUnique" title="Index: {{fieldIndexMap.get(field.path)?.join(', ')}}&#013;Field: {{field.path}}"
              [value]="valueOutPutType  === 'path' ? field.path : field">
    <ng-container *ngIf="field.type === 'fact'">
      {{field.path}}
    </ng-container>
    <ng-container *ngIf="field.type === 'date'">
      <mat-icon>date_range</mat-icon>
      {{field.path}}
    </ng-container>
    <ng-container *ngIf="field.type === 'text' || field.type === 'keyword' || field.type === 'mlp'">
      <mat-icon>text_fields</mat-icon>
      {{field.path}}
    </ng-container>
    <ng-container *ngIf="field.type === 'long' || field.type === 'float'">
      <mat-icon>pin</mat-icon>
      {{field.path}}
    </ng-container>
    <ng-container *ngIf="field.type === 'boolean'">
      <mat-icon>flaky</mat-icon>
      {{field.path}}
    </ng-container>
  </mat-option>

</mat-select>
