<mat-form-field appearance="outline" class="max-width">
  <mat-label>Select Fields</mat-label>
  <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
              [formControl]="fieldsFormControl"
              multiple (openedChange)="onOpenedChange($event)"

              (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let fields of (fieldsFiltered|async);trackBy:trackByPath" [value]="fields">
      <ng-container *ngIf="fields.type === 'fact' || fields.type === 'factName'">
        <ng-container *ngIf="fields.type === 'fact'">{{fields.path}}[fact_value]</ng-container>
        <ng-container *ngIf="fields.type === 'factName'">{{fields.path}}[fact_name]</ng-container>
      </ng-container>
      <ng-container *ngIf="fields.type !== 'fact' && fields.type !== 'factName'">
        {{fields.path}}
      </ng-container>
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngFor="let constraint of constraintList; let i = index;trackBy:trackByIndex" class="filters bg-grey">
  <div fxLayout="row" class="header">
    <div fxLayout="row wrap" class="field-titles">
      <h4 *ngFor="let field of constraint.fields;trackBy:trackByPath">{{field.path}};</h4>
    </div>
    <div fxFlex fxLayoutAlign="end">
      <button data-cy="appSearcherSideBarBuildSearchCloseConstraint" mat-icon-button aria-label="Close" (click)="removeConstraint(i)" class="mat-icon-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="content" *ngIf="isTextConstraint(constraint)" data-cy="appSearcherSideBarBuildSearchTextConstraint">
    <app-text-constraints [textConstraint]="constraint" [elasticSearchQuery]="elasticQuery"
                          (change)="searchOnChange($event)"></app-text-constraints>
  </div>
  <div class="content" *ngIf="isDateConstraint(constraint)" data-cy="appSearcherSideBarBuildSearchDateConstraint">
    <app-date-constraints [dateConstraint]="constraint" [elasticSearchQuery]="elasticQuery"
                          (change)="searchOnChange($event)"></app-date-constraints>
  </div>
  <div class="content" *ngIf="isFactNameConstraint(constraint)" data-cy="appSearcherSideBarBuildSearchFactConstraint">
    <app-fact-constraints [factConstraint]="constraint" [elasticSearchQuery]="elasticQuery"
                          [projectFacts]="projectFacts" [currentProject]="currentProject"
                          (change)="searchOnChange($event)"></app-fact-constraints>
  </div>
</div>
