
.filters {
  padding: 5px;
  margin-bottom: 5px;

  .header {
    .field-titles {
      h4 {
        margin: 0.25em 0 0;
        word-break: break-all;
      }
    }

  }
}

.bg-grey {
  background-color: #EFEFEF;
}

.mat-icon-button {
  height: 30px;
  width: 30px;
  line-height: 1;
}
