<h1 mat-dialog-title>New Tagger Group</h1>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="taggerGroupForm" class="flex-col" id="taggerForm">
    <mat-form-field data-cy="appTaggerGroupCreateDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="descriptionFormControl" matInput
             placeholder="Description" required>

      <mat-error *ngIf="taggerGroupForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fact name</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="factNameFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let fact of projectFacts" [value]="fact">
          {{fact}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="taggerGroupSampleSizeFormControl" matInput placeholder="Minimum sample size" step="50"
             type="number">
    </mat-form-field>
    <div class="flex-col" formGroupName="taggerForm">
      <h3>Tagger</h3>
      <mat-form-field>
        <mat-label>Indices</mat-label>
        <mat-select #indicesSelect (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                    formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
          <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
            {{projectIndex.index}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taggerGroupForm.get('taggerForm')?.get('indicesFormControl')?.hasError('required')">
          Need at least 1 index
        </mat-error>
      </mat-form-field>
      <mat-form-field data-cy="appTaggerGroupCreateDialogFields">
        <mat-label>Select Fields</mat-label>
        <mat-select [disableOptionCentering]="true" formControlName="fieldsFormControl"
                    multiple panelClass="select-panel-reveal-input" required>
          <mat-option *ngFor="let fields of fieldsUnique" [value]="fields.path">
            {{fields.path}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taggerGroupForm.get('taggerForm')?.get('fieldsFormControl')?.hasError('required')">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Embedding</mat-label>
        <mat-select [disableOptionCentering]="true" formControlName="embeddingFormControl"
                    panelClass="select-panel-reveal-input">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let item of embeddings" [value]="item">
            {{item.description}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taggerGroupForm.get('taggerForm')?.get('embeddingFormControl')?.hasError('required')">
          Embedding is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Snowball Language</mat-label>
        <mat-select [disableOptionCentering]="true" formControlName="snowballFormControl"
                    panelClass="select-panel-reveal-input">
          <mat-option *ngFor="let item of taggerOptions.actions.POST.snowball_language.choices" [value]="item">
            {{item.display_name === null ? 'none' : item.display_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Scoring Function</mat-label>
        <mat-select [disableOptionCentering]="true" formControlName="scoringFormControl"
                    panelClass="select-panel-reveal-input">
          <mat-option *ngFor="let item of taggerOptions.actions.POST.scoring_function.choices" [value]="item">
            {{item.display_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Vectorizer</mat-label>
        <mat-select [disableOptionCentering]="true" formControlName="vectorizerFormControl"
                    panelClass="select-panel-reveal-input" required>
          <mat-option *ngFor="let item of taggerOptions.actions.POST.vectorizer.choices" [value]="item">
            {{item.display_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taggerGroupForm.get('taggerForm')?.get('vectorizerFormControl')?.hasError('required')">
          Vectorizer is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Classifier</mat-label>
        <mat-select [disableOptionCentering]="true" formControlName="classifierFormControl"
                    panelClass="select-panel-reveal-input" required>
          <mat-option *ngFor="let item of taggerOptions.actions.POST.classifier.choices" [value]="item">
            {{item.display_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taggerGroupForm.get('taggerForm')?.get('classifierFormControl')?.hasError('required')">
          Classifier is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field data-cy="appTaggerGroupCreateDialogSample">
        <input formControlName="sampleSizeFormControl" matInput placeholder="Maximum sample size" step="1000"
               type="number">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="negativeMultiplierFormControl" matInput placeholder="Negative multiplier" step="0.1"
               type="number">
      </mat-form-field>
      <mat-checkbox formControlName="ignoreNumbersFormControl"
                    matTooltip="If enabled, ignore all numbers as possible features."
                    matTooltipPosition="left">Ignore numbers
      </mat-checkbox>

    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex-row max-width">
    <div class="flex-item-left">
      <button class="flex-item-left" mat-button mat-dialog-close type="button">Close</button>
    </div>
    <div class="flex-item-right">
      <button [disabled]="!taggerGroupForm.valid" data-cy="appTaggerGroupCreateDialogSubmit" form="taggerForm"
              mat-button type="submit">Create
      </button>
    </div>
  </div>
</mat-dialog-actions>
