@import "../../../../variables/variables";

table {
  width: 100%;
}

.table-container {
  position: relative;
  max-height: calc(100vh - #{$navbar-height} - #{$tasks-table-paginator-row});
  min-height: calc(100vh - #{$navbar-height} - #{$tasks-table-paginator-row});
  overflow: auto;
}

.mat-cell {
  word-break: break-word;
}

.mat-column-Modify {
  width: 60px;
  text-align: center;
}
.mat-column-task__status {
  max-width: 160px;
}
.mat-column-fields{
  max-width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #eeeeee;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.simple-table{
  th{
    min-width: 100px;
    white-space: pre
  }
}
