<div class="wrapper max-height" fxLayout="column">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button (click)="openCreateDialog()" class="paginator-margin-left"
              color="primary" data-cy="appLexiconCreateBtn" mat-raised-button>
        CREATE
      </button>
      <button (click)="openLexiconMerge()" class="paginator-margin-left" data-cy="appLexiconMergeBtn"
              mat-stroked-button>
        Merge lexicons
      </button>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

  <div [appScrollTop]="tableData" class="table-container overflow-auto">
    <table [dataSource]="tableData" mat-table
           matSort matSortDirection="desc" matSortDisableClear matSortActive="id">
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
        <td *matCellDef="let element" mat-cell> {{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.description}}</td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Author</th>
        <td *matCellDef="let element" mat-cell
            [matTooltip]="element?.author?.username"> {{element?.author?.display_name}}</td>
      </ng-container>
      <ng-container matColumnDef="positives_used">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Pos. Used</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{element: element.positives_used}"
                  [matMenuTriggerFor]="listMenu"
                  mat-stroked-button>
            {{ element.positives_used.length }}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="positives_unused">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Pos. Unused</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{element: element.positives_unused}"
                  [matMenuTriggerFor]="listMenu"
                  mat-stroked-button>
            {{ element.positives_unused.length }}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="negatives_used">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Neg. Used</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{element: element.negatives_used}"
                  [matMenuTriggerFor]="listMenu"
                  mat-stroked-button>
            {{ element.negatives_used.length }}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="negatives_unused">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Neg. Unused</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{element: element.negatives_unused}"
                  [matMenuTriggerFor]="listMenu"
                  mat-stroked-button>
            {{ element.negatives_unused.length }}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th *matHeaderCellDef class="center-header-cell" mat-header-cell>Actions</th>
        <td (click)="$event.stopPropagation();" *matCellDef="let element; let i = index" mat-cell>
          <button (click)="onDelete(element, i)" data-cy="appLexiconMenuDelete" color="warn" mat-icon-button
                  matTooltip="Delete lexicon">
            <mat-icon>cancel</mat-icon>
          </button>

        </td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let element; columns: displayedColumns;" [routerLink]="[element.id]" class="element-row pointer"
          mat-row></tr>

    </table>

  </div>


</div>
<mat-menu #listMenu="matMenu">
  <ng-template let-element="element" matMenuContent>
    <ng-template [ngForOf]="element" let-item ngFor>
      <button mat-menu-item>{{ item }}</button>
    </ng-template>
  </ng-template>
</mat-menu>
