<div class="flex-row max-width">
  <div class="flex-col lexicons">
    <div class="flex-row">
      <h3>Lexicons</h3>
    </div>
    <mat-action-list>
      <mat-list-item disableRipple="true">
        <input matInput type="text" placeholder="New lexicon..." [(ngModel)]="newLexiconDescription">
        <button mat-button *ngIf="newLexiconDescription" matSuffix aria-label="Add" (click)="createNewLexicon()">Add
        </button>
      </mat-list-item>

      <mat-list-item *ngFor="let item of lexicons" (click)="selectLexicon(item)">
        <span matLine>{{item.description}}</span>
        <button mat-icon-button (mousedown)="$event.stopPropagation();"
                (click)="deleteLexicon(item);">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-action-list>
  </div>

  <app-lexicon-builder [lexicon]="selectedLexicon"></app-lexicon-builder>
</div>
