<h1 mat-dialog-title>New Embedding</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit(embeddingForm.value)" [formGroup]="embeddingForm" class="flex-col">
    <mat-form-field data-cy="appEmbeddingCreateDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="descriptionFormControl" matInput
             placeholder="Description" required>

      <mat-error *ngIf="embeddingForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Indices</mat-label>
      <mat-select (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="embeddingForm.get('indicesFormControl')?.hasError('required')">
        Need at least 1 index
      </mat-error>
    </mat-form-field>

    <mat-form-field class="m-bot-10" data-cy="appEmbeddingCreateDialogFields">
      <mat-label>Select Fields</mat-label>
      <app-project-field-select formControlName="fieldsFormControl" [required]="true" [projectFields]="projectFields" ></app-project-field-select>
      <mat-error *ngIf="embeddingForm.get('fieldsFormControl')?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
      <mat-hint>MLP preprocessed lemma (or text) field is recommended!</mat-hint>
    </mat-form-field>

    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)"></app-saved-search-autocomplete>
    <mat-form-field>
      <mat-label>Embedding Type</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="embeddingTypeFormControl"
                  panelClass="select-panel-reveal-input">
        <ng-container *ngIf="embeddingOptions">
          <mat-option *ngFor="let item of embeddingOptions.actions.POST.embedding_type.choices" [value]="item">
            {{item.display_name}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>


    <mat-form-field data-cy="appEmbeddingCreateDialogDimensions">
      <input formControlName="dimensionsFormControl" matInput pattern="[1-9]\d*" placeholder="Number of Dimensions"
             step="50"
             type="number">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="frequencyFormControl" matInput pattern="[1-9]\d*" placeholder="Minimum frequency" step="5"
             type="number">
    </mat-form-field>
    <mat-checkbox data-cy="appEmbeddingCreateDialogUsePhraser" formControlName="usePhraserFormControl"
                  matTooltip="Phrase input texts" matTooltipPosition="left">Use phraser
    </mat-checkbox>
    <div class="flex-col m-top-10">
      <div class="flex-row">
        <div class="flex-item-left">
          <button class="flex-item-left" mat-button mat-dialog-close type="button">Close</button>
        </div>
        <div class="flex-item-right">
          <button [disabled]="!embeddingForm.valid" data-cy="appEmbeddingCreateDialogSubmit" mat-button type="submit">
            Create
          </button>
        </div>
      </div>

    </div>


  </form>
</div>
