<mat-form-field class="max-width">
  <app-textarea-lexicon [formControl]="stopWordsFormControl"
                        placeholder="Stopwords (newline separated)"></app-textarea-lexicon>
  <mat-hint>{{stopwordsOptions?.actions?.POST?.stop_words?.help_text || ''}}</mat-hint>
</mat-form-field>

<div class="checkbox-info-row m-bot-10 m-top-5">
  <mat-checkbox [formControl]="ignoreNumbersFormControl">Ignore numbers
  </mat-checkbox>
  <app-info-icon [textTemplate]="numbersTemplate" textTitle="Ignore numbers">
    <ng-template #numbersTemplate>
      <p>{{stopwordsOptions?.actions?.POST?.ignore_numbers?.help_text || ''}}</p>
    </ng-template>
  </app-info-icon>
</div>
<div class="flex-col">
  <div class="flex-row">
    <div class="flex-item-left">
      <button type="button" class="flex-item-left" mat-button (click)="closeDialog()">Close</button>
    </div>
    <div class="flex-item-right">
      <button type="submit" mat-button (click)="onSubmit()">Save</button>
    </div>
  </div>

</div>
