<ng-container *ngIf="!_highlightConfig?.showShortVersion">
  <ng-container *ngFor="let highlight of highlightArray; let i = index;">
    <ng-container [ngTemplateOutletContext]={highlight:highlight} [ngTemplateOutlet]="highlightTemplate">
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="_highlightConfig?.showShortVersion">
  <ng-container *ngFor="let highlight of highlightArray; let i = index;">
    <ng-container *ngIf="highlight?.shortVersion?.spans"> <!--hidden text-->
      <span *ngFor="let highlightShortSpan of highlight?.shortVersion?.spans"
            (click)="toggleShowShortVersion(highlight)" style="cursor: pointer;">
        <ng-container *ngIf="highlightShortSpan.isVisible" [ngTemplateOutletContext]={highlight:highlightShortSpan} [ngTemplateOutlet]="highlightTemplate">
        </ng-container>
      </span>
    </ng-container>
    <ng-container *ngIf="!highlight?.shortVersion?.spans">
      <ng-container [ngTemplateOutletContext]={highlight:highlight} [ngTemplateOutlet]="highlightTemplate">
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #factTemplate let-highlight="highlight">
  <ng-template [ngIf]="highlight.span?.urlSpan">
    <a href="{{highlight.span?.str_val}}" target="_blank">{{highlight.text}}</a>
  </ng-template>
  <ng-template [ngIf]="!highlight.span?.urlSpan">
  <span style="cursor: pointer;" style.background-color="{{highlight?.color?.backgroundColor}}"
        style.color="{{highlight?.color?.textColor}}"
        title="{{highlight.span?.fact}} {{highlight.span?.str_val}}">{{highlight.text}}</span>
  </ng-template>
  <ng-template [ngIf]="highlight.nested">
    <ng-container [ngTemplateOutletContext]={highlight:highlight.nested} [ngTemplateOutlet]="factTemplate">
    </ng-container>
  </ng-template>
</ng-template>
<ng-template #highlightTemplate let-highlight="highlight">
  <ng-template [ngIf]="highlight.highlighted && !highlight.span?.searcherHighlight && !highlight.span?.urlSpan">
      <span style="cursor: pointer;" style.background-color="{{highlight?.color?.backgroundColor}}"
            style.color="{{highlight?.color?.textColor}}"
            title="{{highlight.span?.fact}}: {{highlight.span?.str_val}}">{{highlight.text}}</span>
  </ng-template>
  <ng-template [ngIf]="highlight.highlighted && highlight.span?.searcherHighlight">
      <span style="cursor: pointer;" style.background-color="{{highlight?.color?.backgroundColor}}"
            style.color="{{highlight?.color?.textColor}}">{{highlight.text}}</span>
  </ng-template>
  <ng-template [ngIf]="highlight.highlighted && highlight.span?.urlSpan">
    <a href="{{highlight.span?.str_val}}" target="_blank">{{highlight.text}}</a>
  </ng-template>
  <ng-template [ngIf]="highlight.nested">
    <ng-container [ngTemplateOutletContext]={highlight:highlight.nested} [ngTemplateOutlet]="factTemplate">
    </ng-container>
  </ng-template>
  <ng-template [ngIf]="!highlight.highlighted">{{highlight.text}}</ng-template>
</ng-template>
