@import "../../../../variables/variables";

table {
  width: 100%;
}

.table-container {
  position: relative;
  max-height: calc(100vh - #{$navbar-height} - 56px);
  min-height: calc(100vh - #{$navbar-height} - 56px);
  overflow: auto;
}

.table-container {
  position: relative;
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.mat-cell {
  word-break: break-word;
}

.table-row {
  vertical-align: top;
}
