
.wrapper {
  height: 100%;
}

table {
  width: 100%;
}

.table-container {
  position: relative;
  max-height: 100%;
  // min-height: 100%;
  overflow: auto;
}

.mat-cell {
  word-break: break-word;
}

.table-row {
  vertical-align: top;
}
