<div class="flex-row">
  <h1 mat-dialog-title>Tag Text</h1>
  <mat-chip-list disabled class="flex-item-right">
    <mat-chip *ngIf="data.tagger" color="primary" selected style="opacity: 1"><span
      [matTooltip]="'Id: '+data.tagger.id">{{data.tagger.description}}</span></mat-chip>
  </mat-chip-list>
</div>
<mat-form-field class="max-width">
  <input matInput placeholder="Tag text" #textInput>
</mat-form-field>
<mat-checkbox [(ngModel)]="lemmatize" matTooltip="{{tagTextOptions?.actions?.POST?.lemmatize?.help_text || ''}}">
  Lemmatize
</mat-checkbox>
<mat-checkbox [(ngModel)]="feedback" class="m-l-15"
              matTooltip="{{tagTextOptions?.actions?.POST?.feedback_enabled?.help_text || ''}}">Feedback
</mat-checkbox>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="result" class="m-top-10">
  <span class="mat-body-strong">Result: </span>{{result.result}}
  <br>
  <span class="mat-body-strong">Probability: </span> {{result.probability}}
  <br>
  <span class="mat-body-strong">Tag: </span> {{result.tag}}
  <ng-container *ngIf="result.feedback">
    <br>
    <span class="mat-body-strong">Feedback id: </span>{{result.feedback.id}}
  </ng-container>
</div>
<div class="flex-row" mat-dialog-actions>
  <div class="flex-item-left">
    <button mat-dialog-close="" mat-stroked-button>Close</button>
  </div>
  <div class="flex-item-right">
    <button type="submit" mat-stroked-button (click)="onSubmit(textInput.value)">Tag</button>
  </div>
</div>
