<ng-container *ngFor="let highlight of highlightArray; let i = index;">
  <ng-template [ngIf]="highlight.type === 'text'">
    <span style="cursor: pointer;" [matMenuTriggerFor]="contextOptions" [matMenuTriggerData]="{highlight: highlight}">
      {{highlight.displayText}}
      <br *ngIf="i > 0 && highlightArray[i-1].type === 'context'">
    </span>
  </ng-template>
  <ng-template [ngIf]="highlight.type === 'context'">
    <span>{{highlight.text}}</span>
  </ng-template>
  <ng-template [ngIf]="highlight.type === 'highlight'">
    <span [style.background-color]="highlight.color">{{highlight.text}}</span>
  </ng-template>

</ng-container>
<mat-menu #contextOptions="matMenu">
  <ng-template matMenuContent let-highlight="highlight">
    <button mat-menu-item (click)="toggleSpanText(highlight)">Toggle content</button>
    <button mat-menu-item (click)="toggleAll()">Toggle all</button>
  </ng-template>
</mat-menu>
