<ng-container *ngFor="let highlight of highlightArray;let i = index">
  <ng-template [ngIf]="highlight.type === 'text'">
    <span style="cursor: pointer;" (click)="toggleSpanText(highlight)"> {{highlight.displayText}} </span>
  </ng-template>
  <ng-template [ngIf]="highlight.type === 'context'">
    <span>{{highlight.text}}</span>
  </ng-template>
  <ng-template [ngIf]="highlight.type === 'highlight'">
    <span [style.background-color]="highlight.color">{{highlight.text}}</span>
  </ng-template>
</ng-container>
