@import "../../../variables/variables";

.container {
  height: calc(100vh - #{$navbar-height} - 69px);
  margin-top: 20px;

  mat-card {
    margin: auto auto;
    max-width: 550px;
    max-height: 550px;
    padding: 20px;
  }
}
