<div class="container">
  <mat-card class="mat-elevation-z6">
    <form #coreVariableForm="ngForm" (ngSubmit)="submit()" fxLayout="column" fxLayoutGap="10px">
      <div *ngFor="let item of coreVariables" fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <input [(ngModel)]="item.value" autocomplete="off" matInput [name]="item.name" [placeholder]="item.name">
            <mat-hint>{{item.env_value}}</mat-hint>
          </mat-form-field>
      </div>

      <div *ngIf="coreVariables" class="flex-col">
        <div class="flex-row">
          <div class="flex-item-right">
            <button mat-button type="submit">
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
