@import "../../../../variables/variables";

table {
  width: 100%;
}

:host {
  overflow: hidden;
}

.mat-cell {
  word-break: break-word;
}

.mat-column-significant_words{
  max-width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:hover {
  background: #eeeeee;
}
