<svg:g class="test" (mousemove)="mouseOverGraph.next($event);" style="pointer-events: all;">
  <svg:rect [attr.x]="0" [attr.y]="0"
            style="visibility: hidden;"
            [attr.width]="rectWidth"
            [attr.height]="rectHeight">

  </svg:rect>
  <svg:path #linePath
            [ngClass]="type"
            [attr.d]="lineString"
            [style.fill]="fill"
  >
  </svg:path>
  <ng-container *ngFor="let element of data">

    <svg:circle
      [attr.r]="dataProperties.get(element).radius"
      [style.fill]="fill"
      [attr.cy]="yAccessor(element)"
      [attr.cx]="xAccessor(element)">
    </svg:circle>

  </ng-container>

</svg:g>