<div class="field-type-wrapper" fxLayout="column">
  <div fxLayout="row" class="datepicker-row">
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Daterange from" [(ngModel)]="startDate"
             (dateChange)="makeDateAggregation()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput [min]="startDate" [matDatepicker]="picker2" placeholder="Daterange to" [(ngModel)]="toDate"
             (dateChange)="makeDateAggregation()">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline" class="max-width">
    <mat-label>Frequency</mat-label>
    <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" [(ngModel)]="aggregationType"
                name="aggregationDateType" data-cy="appSearcherSidebarAggregationsDateAggregationType">
      <mat-option value="raw_frequency" [disabled]="!notSubAgg" (click)="relativeFrequency.emit(false)">raw frequency
      </mat-option>
      <mat-option value="relative_frequency" [disabled]="!notSubAgg" (click)="relativeFrequency.emit(true)">relative
        frequency
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="max-width bottom-padding-none">
    <mat-label>Interval</mat-label>
    <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" [(ngModel)]="dateInterval"
                data-cy="appSearcherSidebarAggregationsDateInterval"
                name="aggregationDateInterval" (selectionChange)="makeDateAggregation()">
      <mat-option value="day" [disabled]="!dateRangeDays">day</mat-option>
      <mat-option value="week" [disabled]="!dateRangeWeek">week</mat-option>
      <mat-option value="month">month</mat-option>
      <mat-option value="year">year</mat-option>
    </mat-select>
  </mat-form-field>
</div>
