<div class="field-type-wrapper" fxLayout="column">

  <div fxLayout="row" class="datepicker-row">
    <mat-form-field appearance="outline">
      <input (dateChange)="makeDateAggregation(dateFromFormControl.value, dateToFormControl.value)"
             [formControl]="dateFromFormControl" [matDatepicker]="from" id="dateFrom"
             matInput
             [min]="minDate" [max]="maxDate"
             placeholder="From">
      <mat-datepicker-toggle [for]="from" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #from></mat-datepicker>
      <mat-hint>DD/MM/YYYY</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input (dateChange)="makeDateAggregation(dateFromFormControl.value, dateToFormControl.value)"
             [formControl]="dateToFormControl" [matDatepicker]="to" id="dateTo" matInput
             [min]="minDate" [max]="maxDate"
             placeholder="To">
      <mat-datepicker-toggle [for]="to" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #to></mat-datepicker>
      <mat-hint>DD/MM/YYYY</mat-hint>
    </mat-form-field>
  </div>


  <mat-form-field appearance="outline" class="max-width">
    <mat-label>Frequency</mat-label>
    <mat-select [(ngModel)]="aggregationType" [disableOptionCentering]="true"
                data-cy="appSearcherSidebarAggregationsDateAggregationType"
                name="aggregationDateType" panelClass="select-panel-reveal-input">
      <mat-option (click)="relativeFrequency.emit(false)" [disabled]="!notSubAgg" value="raw_frequency">raw frequency
      </mat-option>
      <mat-option (click)="relativeFrequency.emit(true)" [disabled]="!notSubAgg" value="relative_frequency">relative
        frequency
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="max-width bottom-padding-none">
    <mat-label>Interval</mat-label>
    <mat-select
      (selectionChange)="makeDateAggregation(dateFromFormControl.value, dateToFormControl.value)"
      [(ngModel)]="dateInterval" [disableOptionCentering]="true"
      data-cy="appSearcherSidebarAggregationsDateInterval"
      name="aggregationDateInterval"
      panelClass="select-panel-reveal-input">
      <mat-option [disabled]="!dateRangeDays" value="day">day</mat-option>
      <mat-option [disabled]="!dateRangeWeek" value="week">week</mat-option>
      <mat-option value="month">month</mat-option>
      <mat-option value="year">year</mat-option>
    </mat-select>
  </mat-form-field>
</div>
