<div class="field-type-wrapper" fxLayout="column">
  <div fxLayout="row" class="datepicker-row">
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Daterange from" [(ngModel)]="startDate"
             (dateChange)="updateAggregations()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput [min]="startDate" [matDatepicker]="picker2" placeholder="Daterange to" [(ngModel)]="toDate"
             (dateChange)="updateAggregations()">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline" class="max-width">
    <mat-label>Frequency</mat-label>
    <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" [(ngModel)]="aggregationType" name="aggregationDateType" (selectionChange)="makeDateAggregation()">
      <mat-option value="raw_frequency">raw frequency</mat-option>
      <mat-option value="relative_frequency">relative frequency</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="max-width">
    <mat-label>Interval</mat-label>
    <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" [(ngModel)]="dateInterval" name="aggregationDateInterval" (selectionChange)="updateAggregations()">
      <mat-option value="day" [disabled]="!dateRangeDaysSmallerThan(365)">day</mat-option>
      <mat-option value="week" [disabled]="!dateRangeDaysSmallerThan(1095)">week</mat-option>
      <mat-option value="month">month</mat-option>
      <mat-option value="year">year</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-checkbox class="exclude-search-checkbox" [(ngModel)]="searchQueryExcluded" (change)="makeDateAggregation()"
              labelPosition="before">Exclude current
  search:
</mat-checkbox>
