<div class="wrapper mat-elevation-z8">

  <div class="loading-shade" *ngIf="isLoadingResults ">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="table-container">

    <table mat-table [dataSource]="tableData" class="generic-table" matSort>

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
        <td mat-cell *matCellDef="let row" class="table-row">
            <table class="simple-table" *ngIf="checkIfObject(row[column])">
                <tr *ngFor="let key of getKeys(row[column])">
                  <th class="mat-body-strong">{{key}}</th>
                  <td>{{row[column][key]}}</td>
                </tr>
            </table>
          <span *ngIf="!checkIfObject(row[column])">{{row[column]}}</span></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>

  </div>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
  </mat-paginator>

</div>
