<h1 mat-dialog-title>New Torch Tagger</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit({formData : torchTaggerForm.value})" [formGroup]="torchTaggerForm" fxLayout="column"
        id="torchTaggerForm">
    <mat-form-field data-cy="appTorchTaggerCreateDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="descriptionFormControl"
             matInput placeholder="Description" required>

      <mat-error *ngIf="torchTaggerForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.description?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field data-cy="appTorchTaggerCreateDialogIndices">
      <mat-label>Indices</mat-label>
      <mat-select #indicesSelect (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
        <app-mat-option-select-all></app-mat-option-select-all>
        <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="torchTaggerForm.get('indicesFormControl')?.hasError('required')">
        Need at least 1 index
      </mat-error>
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.indices?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field data-cy="appTorchTaggerCreateDialogFields">

      <mat-label>Select Field</mat-label>
      <app-project-field-select [projectFields]="projectFields" [required]="true"
                                formControlName="fieldsFormControl"></app-project-field-select>

      <mat-error *ngIf="torchTaggerForm.get('fieldsFormControl')?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.fields?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fact name</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="factNameFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let fact of projectFacts | async" [value]="fact">
          {{fact.name}}
        </mat-option>
      </mat-select>
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.fact_name?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <div class="checkbox-info-row">
      <mat-checkbox formControlName="balanceFormControl">Balance
      </mat-checkbox>
      <app-info-icon [textTemplate]="balanceTemplate" textTitle="Balance">
        <ng-template #balanceTemplate>
          <p>{{torchTaggerOptions?.actions?.POST?.balance?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
      <mat-checkbox class="m-l-15" formControlName="sentenceShuffleFormControl">Use sentence shuffle
      </mat-checkbox>

      <app-info-icon [textTemplate]="sentenceShuffle" textTitle="Use sentence shuffle">
        <ng-template #sentenceShuffle>
          <p>{{torchTaggerOptions?.actions?.POST?.use_sentence_shuffle?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
      <mat-checkbox class="m-l-15" formControlName="maxBalanceFormControl">Balance to max limit
      </mat-checkbox>
      <app-info-icon [textTemplate]="balanceToMaxLimit" textTitle="Balance to max limit">
        <ng-template #balanceToMaxLimit>
          <p>{{torchTaggerOptions?.actions?.POST?.balance_to_max_limit?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
    </div>
    <mat-form-field style="margin-top: 10px;"
                    *ngIf="this.torchTaggerForm.get('factNameFormControl')?.value?.values.length === 2">
      <mat-label>Positive label</mat-label>
      <mat-select [disableOptionCentering]="true"
                  formControlName="posLabelFormControl" panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let factVal of this.torchTaggerForm.get('factNameFormControl')?.value?.values"
                    [value]="factVal">
          {{factVal}}
        </mat-option>
      </mat-select>
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.pos_label?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)"
                                   [startingQuery]="query"></app-saved-search-autocomplete>
    <mat-form-field data-cy="appTorchTaggerCreateDialogArchitecture">
      <mat-label>Model architecture</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="modelArchitectureFormControl"
                  panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let item of torchTaggerOptions?.actions.POST.model_architecture.choices"
                    [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="torchTaggerForm.get('modelArchitectureFormControl')?.hasError('required')">
        Model architecture is <strong>required</strong>
      </mat-error>
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.model_architecture?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field data-cy="appTorchTaggerCreateDialogEmbedding">
      <mat-label>Select Embedding</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="embeddingFormControl"
                  panelClass="select-panel-reveal-input" required>
        <mat-option>None</mat-option>
        <ng-container *ngFor="let item of embeddings">
          <mat-option *ngIf="item.task.status === 'completed'" [value]="item">
            {{item.description}}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="torchTaggerForm.get('embeddingFormControl')?.hasError('required')">
        Embedding is <strong>required</strong>
      </mat-error>
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.embedding?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field data-cy="appTorchTaggerCreateDialogMaxSample">
      <input formControlName="sampleSizeFormControl" matInput placeholder="Maximum sample size" step="1000"
             type="number">
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.maximum_sample_size?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="minSampleSizeFormControl" matInput placeholder="Minimum sample size" step="50"
             type="number">
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.minimum_sample_size?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="numEpochsFormControl" matInput placeholder="Number of epochs" type="number">
      <mat-hint>{{torchTaggerOptions?.actions?.POST?.num_epochs?.help_text || ''}}</mat-hint>
    </mat-form-field>

  </form>
  <div fxLayout="row">
    <button mat-button mat-dialog-close type="button">Close</button>
    <div class="flex-item-right">
      <button [disabled]="!torchTaggerForm.valid" data-cy="appTorchTaggerCreateDialogSubmit" form="torchTaggerForm"
              mat-button type="submit">
        Create
      </button>
    </div>
  </div>

</div>
