<h1 mat-dialog-title>New Project</h1>
<div mat-dialog-content>
  <form class="flex-col" [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm.value)">
    <mat-form-field data-cy="appProjectCreateDialogTitle">
      <input matInput placeholder="Title" autocomplete="off" formControlName="titleFormControl"
             [errorStateMatcher]="matcher" required>

      <mat-error *ngIf="projectForm.get('titleFormControl')?.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field data-cy="appProjectCreateDialogUsers">
      <mat-label>Select Users</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
                  formControlName="usersFormControl" multiple required>
        <mat-option *ngFor="let item of users" [value]="item.url">
          {{item.username}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="projectForm.get('usersFormControl')?.hasError('required')">
        User is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field data-cy="appProjectCreateDialogIndices">
      <mat-select formControlName="indicesFormControl" placeholder="Select Indices" [multiple]="true">
        <ngx-mat-select-search [formControl]="indicesFilterFormControl" placeholderLabel="Search" noEntriesFoundLabel="No entries"></ngx-mat-select-search>
        <mat-option *ngFor="let item of (filteredIndices | async)" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button type="button" class="flex-item-left" mat-button (click)="closeDialog()">Close</button>
        </div>
        <div class="flex-item-right">
          <button type="submit" [disabled]="!projectForm.valid" mat-button data-cy="appProjectCreateDialogSubmit">Create
            Project
          </button>
        </div>
      </div>

    </div>


  </form>
</div>
