
:host.floating span {
  opacity: 1;
}
.lexicon-fab{
  position: absolute;
  right: 0;
  top: -0.84375em;
}
a{
  font-size:14px;
  color:rgb(0, 0, 238);
}
a:hover{
  text-decoration: underline;
}
textarea{
  resize: none;
}
