<h1 mat-dialog-title>New Tagger Group</h1>
<div mat-dialog-content>
  <form class="flex-col" [formGroup]="taggerGroupForm" (ngSubmit)="onSubmit(taggerGroupForm.value)">
    <mat-form-field>
      <input matInput placeholder="Description" autocomplete="off" formControlName="descriptionFormControl"
             [errorStateMatcher]="matcher" required>

      <mat-error *ngIf="taggerGroupForm.get('descriptionFormControl').hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fact name" autocomplete="off" formControlName="factNameFormControl"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Minimum sample size" formControlName="taggerGroupSampleSizeFormControl">
    </mat-form-field>
  <div class="flex-col" formGroupName="taggerForm" >
    <h3>Tagger</h3>
    <ng-select class="form-ng-select"
               multiple="true"
               placeholder="Fields *"
               appendTo="body"
               [items]="projectFields"
               bindLabel="path"
               bindValue="path"
               groupBy="fields"
               [closeOnSelect]="false"
               formControlName="fieldsFormControl">
      <ng-template ng-optgroup-tmp let-item="item">
        {{item.index}}
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        {{item.path}}
      </ng-template>
    </ng-select>
    <div class="form-ng-select-error">
      <span
        [ngClass]="{'in-view':
        taggerGroupForm.get('taggerForm').get('fieldsFormControl').hasError('required') &&
        taggerGroupForm.get('taggerForm').get('fieldsFormControl').touched}">
        Field is <strong>required</strong>
      </span>
    </div>
    <ng-select class="form-ng-select"
               placeholder="Embedding"
               appendTo="body"
               [clearable]="true"
               [closeOnSelect]="true"
               [items]="embeddings"
               bindLabel="description"
               formControlName="embeddingFormControl">

    </ng-select>
    <div class="form-ng-select-error">
      <span
        [ngClass]="{'in-view':
        taggerGroupForm.get('taggerForm').get('embeddingFormControl').hasError('required') &&
        taggerGroupForm.get('taggerForm').get('embeddingFormControl').touched}">
        Embedding is <strong>required</strong>
      </span>
    </div>
    <ng-select class="form-ng-select"
               placeholder="Vectorizer"
               appendTo="body"
               [clearable]="false"
               [closeOnSelect]="true"
               [items]="taggerOptions.actions.POST.vectorizer.choices"
               bindLabel="display_name"
               formControlName="vectorizerFormControl">

    </ng-select>
    <div class="form-ng-select-error">
      <span
        [ngClass]="{'in-view':
        taggerGroupForm.get('taggerForm').get('vectorizerFormControl').hasError('required') &&
        taggerGroupForm.get('taggerForm').get('vectorizerFormControl').touched}">
        Vectorizer is <strong>required</strong>
      </span>
    </div>
    <ng-select class="form-ng-select"
               placeholder="Classifier"
               appendTo="body"
               [clearable]="false"
               [closeOnSelect]="true"
               [items]="taggerOptions.actions.POST.classifier.choices"
               bindLabel="display_name"
               formControlName="classifierFormControl">

    </ng-select>
    <div class="form-ng-select-error">
      <span
        [ngClass]="{'in-view':
        taggerGroupForm.get('taggerForm').get('classifierFormControl').hasError('required') &&
        taggerGroupForm.get('taggerForm').get('classifierFormControl').touched}">
        Classifier is <strong>required</strong>
      </span>
    </div>
    <ng-select class="form-ng-select"
               placeholder="Feature selector"
               appendTo="body"
               [closeOnSelect]="true"
               [clearable]="false"
               [items]="taggerOptions.actions.POST.feature_selector.choices"
               bindLabel="display_name"
               formControlName="featureSelectorFormControl">

    </ng-select>
    <div class="form-ng-select-error">
      <span
        [ngClass]="{'in-view':
        taggerGroupForm.get('taggerForm').get('featureSelectorFormControl').hasError('required') &&
        taggerGroupForm.get('taggerForm').get('featureSelectorFormControl').touched}">
        Feature Selector is <strong>required</strong>
      </span>
    </div>

    <mat-form-field>
      <input matInput type="number" placeholder="Maximum sample size" formControlName="sampleSizeFormControl">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Negative multiplier" formControlName="negativeMultiplierFormControl">
    </mat-form-field>



  </div>
    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button type="button" class="flex-item-left" mat-button (click)="closeDialog()">Close</button>
        </div>
        <div class="flex-item-right">
          <button type="submit" [disabled]="!taggerGroupForm.valid" mat-button>Create Tagger Group</button>
        </div>
      </div>

    </div>
  </form>
</div>

