<div class="flex-row">
  <h1 mat-dialog-title>Apply to indices</h1>
  <mat-chip-list disabled>
    <mat-chip *ngIf="data?.id" color="primary" selected><span
      [matTooltip]="'Id: '+data.id">{{data.description}}</span></mat-chip>
  </mat-chip-list>
</div>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit(applyForm.value)" [formGroup]="applyForm" class="flex-col" id="applyForm">
    <mat-form-field data-cy="appRegexTaggerApplyDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="descriptionFormControl" matInput
             placeholder="Description" required>

      <mat-error *ngIf="applyForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
      <mat-hint>{{regexTaggerOptions?.actions?.POST?.description?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field data-cy="appRegexTaggerApplyDialogIndices">
      <mat-label>Indices</mat-label>
      <mat-select (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
        <app-mat-option-select-all></app-mat-option-select-all>
        <mat-option *ngFor="let projectIndex of indices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="applyForm.get('indicesFormControl')?.hasError('required')">
        Index is <strong>required</strong>
      </mat-error>
      <mat-hint>{{regexTaggerOptions?.actions?.POST?.indices?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field data-cy="appRegexTaggerApplyDialogFields">

      <mat-label>Select Field</mat-label>
      <app-project-field-select formControlName="fieldsFormControl" [required]="true"
                                [projectFields]="projectFields"></app-project-field-select>

      <mat-error *ngIf="applyForm.get('fieldsFormControl')?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
      <mat-hint>{{regexTaggerOptions?.actions?.POST?.fields?.help_text || ''}}</mat-hint>
    </mat-form-field>


    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)">
    </app-saved-search-autocomplete>

    <mat-form-field data-cy="appRegexTaggerApplyDialogFactName">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="factNameFormControl" matInput
             placeholder="Fact name" required>

      <mat-error *ngIf="applyForm.get('factNameFormControl')?.hasError('required')">
        Fact name is <strong>required</strong>
      </mat-error>
      <mat-hint>{{regexTaggerOptions?.actions?.POST?.new_fact_name?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input autocomplete="off" formControlName="factValueFormControl" matInput
             placeholder="Fact value">
      <mat-hint>{{regexTaggerOptions?.actions?.POST?.new_fact_value?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <div class="checkbox-info-row m-bot-10 m-top-10">
      <mat-checkbox formControlName="addSpansFormControl">Add spans
      </mat-checkbox>
      <app-info-icon [textTemplate]="spanTemplate" textTitle="Add spans">
        <ng-template #spanTemplate>
          <p>{{regexTaggerOptions?.actions?.POST?.add_spans?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
    </div>
    <!--advanced -->
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <h3>Advanced settings</h3>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>

        <mat-form-field class="advanced-setting">
          <input formControlName="bulkSizeFormControl" matInput placeholder="Bulk size"
                 type="number">
          <mat-hint>{{regexTaggerOptions?.actions?.POST?.bulk_size?.help_text || ''}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="advanced-setting">
          <input formControlName="esTimeoutFormControl" matInput placeholder="Elasticsearch timeout"
                 type="number">
          <mat-hint>{{regexTaggerOptions?.actions?.POST?.es_timeout?.help_text || ''}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="advanced-setting m-bot-10">
          <input formControlName="chunkSizeFormControl"
                 matInput placeholder="Max chunk bytes" type="number">
          <mat-hint>{{regexTaggerOptions?.actions?.POST?.max_chunk_bytes?.help_text || ''}}</mat-hint>
        </mat-form-field>

      </ng-template>
    </mat-expansion-panel>
  </form>
</div>
<mat-dialog-actions>
  <div class="flex-row max-width">
    <div class="flex-item-left">
      <button class="flex-item-left" data-cy="appRegexTaggerApplyDialogClose" mat-button mat-dialog-close
              type="button">Close
      </button>
    </div>
    <div class="flex-item-right">
      <button [disabled]="!applyForm.valid" data-cy="appRegexTaggerApplyDialogSubmit"
              form="applyForm"
              mat-button
              type="submit">
        Apply
      </button>
    </div>
  </div>
</mat-dialog-actions>
