<h1 mat-dialog-title>New Tagger</h1>
<div mat-dialog-content>
  <form class="flex-col" [formGroup]="taggerForm" (ngSubmit)="onSubmit(taggerForm.value)">
    <mat-form-field>
      <input matInput placeholder="Description" autocomplete="off" formControlName="descriptionFormControl"
             [errorStateMatcher]="matcher" required>

      <mat-error *ngIf="taggerForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Fields</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" formControlName="fieldsFormControl" multiple required>
        <mat-optgroup *ngFor="let group of projectFields" [label]="group.index">
          <mat-option *ngFor="let fields of group.fields" [value]="fields.path">
            {{fields.path}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('fieldsFormControl')?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)"></app-saved-search-autocomplete>


    <mat-form-field>
      <mat-label>Select Embedding</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" formControlName="embeddingFormControl">        <mat-option *ngFor="let item of embeddings" [value]="item">
          {{item.description}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('embeddingFormControl')?.hasError('required')">
        Embedding is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vectorizer</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" formControlName="vectorizerFormControl" required>
        <mat-option *ngFor="let item of taggerOptions.actions.POST.vectorizer.choices" [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('vectorizerFormControl')?.hasError('required')">
        Vectorizer is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Classifier</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true" formControlName="classifierFormControl" required>
        <mat-option *ngFor="let item of taggerOptions.actions.POST.classifier.choices" [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('classifierFormControl')?.hasError('required')">
        Classifier is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" pattern="[1-9]\d*" step="1000" placeholder="Maximum sample size" formControlName="sampleSizeFormControl">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" pattern="([0-9]*|[0-9]*[.]?)\d*" step="0.1" placeholder="Negative Multiplier" formControlName="negativeMultiplierFormControl">
    </mat-form-field>
    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button type="button" class="flex-item-left" mat-button (click)="closeDialog()">Close</button>
        </div>
        <div class="flex-item-right">
          <button type="submit" [disabled]="!taggerForm.valid" mat-button>Create</button>
        </div>
      </div>

    </div>


  </form>
</div>
