<div *ngIf="task" [matTooltip]="errorsLength ? 'Task completed with errors' : ''">
  <mat-progress-bar *ngIf="task.status === 'completed'" [value]="100"
                    [ngClass]="{'mat-progress-bar-warn' : errorsLength}"
                    mode="determinate">
  </mat-progress-bar>
  <mat-progress-bar *ngIf="task.status === 'failed'" [value]="100"
                    mode="determinate" color="warn">
  </mat-progress-bar>
  <mat-progress-bar *ngIf="task.status !== 'completed' && task.status !== 'failed' && task.progress === 0"
                    mode="indeterminate">
  </mat-progress-bar>
  <mat-progress-bar *ngIf="task.status !== 'completed' && task.status !== 'failed' && task.progress"
                    mode="determinate" [value]="task.progress">
  </mat-progress-bar>
  <span>{{task.status}}</span>
</div>
