<div class="wrapper mat-elevation-z8 max-height" fxLayout="column">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button (click)="addAllSelected()" [disabled]="selectedRows.selected.length < 1"
              color="primary" data-cy="appClusterSimilarTableAddToCluster"
              mat-icon-button matTooltip="Add selected documents to cluster">
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="similarOptions()"
              class="paginator-margin-left"
              color="primary" mat-raised-button>
        Options
      </button>
      <mat-form-field class="m-l-15">
        <mat-label>Toggle Columns</mat-label>
        <mat-select [(ngModel)]="displayedColumns"
                    data-cy="appClusterSimilarTableColumnSelect"
                    multiple>
          <app-mat-option-select-all></app-mat-option-select-all>
          <mat-option *ngFor="let column of filterColumns" [value]="column">
            {{column}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="char-limit paginator-margin-left">
        <mat-label>Column character limit</mat-label>
        <input [(ngModel)]="charLimit"
               matInput
               step="10" type="number">
      </mat-form-field>
      <mat-paginator [pageSizeOptions]="[15, 25, 50]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <div [appScrollTop]="tableData" class="table-container overflow-auto">
    <table [dataSource]="tableData" class="readable-table" mat-table
           matSort>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectedRows.hasValue() && isAllSelected()"
                        [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td (click)="$event ? selectedRows.toggle(row) : null;" *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selectedRows.toggle(row) : null" (click)="$event.stopPropagation()"
                        [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container *ngFor="let column of infiniteColumns" [matColumnDef]="column">
        <th *matHeaderCellDef class="table-row" mat-header-cell mat-sort-header>{{column}}</th>
        <td *matCellDef="let row" mat-cell>
          <ng-container *ngIf="(row._source[column] | isObject)"><!--pure pipe does memoization for us-->
            <ng-container *ngIf="column === 'texta_facts'">
              <app-texta-facts-chips [facts]="row._source[column]" style="min-width: 200px"></app-texta-facts-chips>
            </ng-container>
            <pre *ngIf="column !== 'texta_facts'">
                 {{row._source[column] | json}}
              </pre>
          </ng-container>
          <ng-container *ngIf="!(row._source[column] | isObject)">
            <app-generic-highlighter #el (click)="el.toggleTextLimit()" [highlightConfig]="{
                          currentColumn: column,
                          searcherHighlight: row.highlight,
                          highlightTextaFacts: false,
                          titleAccessor: textaFactAccessor,
                          charLimit: charLimit,
                          highlightHyperlinks: false,
                          data: row._source}"
                                     [ngClass]="{'pointer': row._source[column] && row._source[column].length > charLimit}"
                                     class="pointer">
            </app-generic-highlighter>
          </ng-container>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let element; columns: displayedColumns;" class="element-row" mat-row></tr>

    </table>

  </div>
</div>
