<div fxLayout="column" class="wrapper">
  <div>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
      <mat-tab>
        <ng-template class="test" mat-tab-label>
          Build<br>
          Search
        </ng-template>
        <div>
          <app-build-search [projectFields]="projectFields"></app-build-search>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template class="test" mat-tab-label>
          Expand<br>
          Search
        </ng-template>
        Content 1
      </mat-tab>
      <mat-tab>
        <ng-template class="test" mat-tab-label>
          Cluster<br>
          Search
        </ng-template>
        Content 1
      </mat-tab>
    </mat-tab-group>
  </div>
  <div></div>
  <div></div>
</div>
