<mat-accordion [multi]="true" *ngIf="currentProject"> <!--[displayMode]="flat"-->
  <mat-expansion-panel
    [expanded]="buildSearchExpanded" #buildSearchPanel>
    <mat-expansion-panel-header (click)="expandBuildSearchPanel()">
      <mat-panel-title>
        <span>Current Search</span>
      </mat-panel-title>
      <mat-panel-description fxLayoutAlign="end start">
        <button mat-icon-button class="flex-item-right panel-button" aria-label="view query" matTooltip="view query"
                (click)="openViewQueryDialog();$event.preventDefault();$event.stopPropagation()">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button class="flex-item-right panel-button"
                data-cy="appSearcherSidebarSaveSearchButton"
                aria-label="save search"
                matTooltip="save search"
                (click)="openSaveSearchDialog();$event.preventDefault();$event.stopPropagation()">
          <mat-icon>save</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-build-search></app-build-search>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="savedSearchesExpanded" #savedSearchesPanel>
    <mat-expansion-panel-header (click)="expandSavedSearchesPanel()">
      <mat-panel-title>
        <span> Saved Searches </span>
      </mat-panel-title>
      <mat-panel-description fxLayoutAlign="end start">
        <button mat-icon-button class="flex-item-right panel-button" aria-label="delete search"
                data-cy="appSearcherSidebarDeleteSavedSearches"
                (click)="onDeleteAllSelected();$event.preventDefault();$event.stopPropagation()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <app-saved-searches></app-saved-searches>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="aggregationsExpanded" #aggregationsPanel>
    <mat-expansion-panel-header (click)="expandAggregationsPanel()" data-cy="appSearcherSidebarAggregationsPanel">
      <mat-panel-title>
        <span> Aggregations </span>
      </mat-panel-title>
      <mat-panel-description fxLayoutAlign="end start">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-aggregations></app-aggregations>
    </ng-template>
  </mat-expansion-panel>
  <div></div>
</mat-accordion>
