.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: default !important;
}

.mat-expansion-panel-header-title{
  cursor: pointer
}
.panel-button{
  width:24px;
  height:24px;
  line-height: 24px;
}
