<div class="flex-row">
  <h1 mat-dialog-title>Tag Random Doc</h1>
  <mat-chip-list disabled>
    <mat-chip *ngIf="data.tagger" color="primary" selected><span
      [matTooltip]="'Id: '+data.tagger.id">{{data.tagger.description}}</span></mat-chip>
  </mat-chip-list>
</div>

<div mat-dialog-content>
  <form #docForm="ngForm" (ngSubmit)="onSubmit()" class="max-width" id="docForm">

    <mat-form-field class="max-width" data-cy="appTaggerGroupTaggerTagRandomDocDialogIndices">
      <mat-label>Indices</mat-label>
      <mat-select #indices="ngModel" (openedChange)="indicesOpenedChange($event)"
                  [(ngModel)]="model.indices" [disableOptionCentering]="true" multiple name="indices"
                  panelClass="select-panel-reveal-input" required>
        <app-mat-option-select-all></app-mat-option-select-all>
        <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="indices.hasError('required')">
        Index is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="max-width" data-cy="appTaggerGroupTagRandomDocDialogFields">
      <mat-label>Select Fields</mat-label>
      <app-project-field-select #fields="ngModel" [projectFields]="projectFields" [required]="true" name="fields"
                                [(ngModel)]="model.fields" [multiple]="true"></app-project-field-select>

      <mat-error *ngIf="fields?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <app-tag-random-doc-result [tagRandomDocResult]="{result: result, fields: model.fields, tooltipAccessor: taggerIdAccessor, taggerIdAccessor: 'tagger_id'}"></app-tag-random-doc-result>
  </form>
</div>
<div mat-dialog-actions>

  <div class="flex-col max-width">
    <div class="flex-row">
      <div class="flex-item-left">
        <button data-cy="appTaggerGroupTagRandomDocDialogClose" mat-dialog-close="" mat-stroked-button>Close</button>
      </div>
      <div class="flex-item-right">
        <button [disabled]="docForm.invalid" data-cy="appTaggerGroupTagRandomDocDialogSubmit" form="docForm" mat-stroked-button type="submit">Tag</button>
      </div>
    </div>
  </div>
</div>
