<div>
  <div mat-dialog-content>
    <div class="m-top-10"><span class="mat-body-strong">Result document: </span>
      <div class="code-wrapper">
        <code>
          <pre *ngIf="result">
            {{result.document | json}}
          </pre>
        </code>
      </div>
      <div class="loading-div">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="isLoading">New random doc
  </button>
  <div class="m-top-10 code-wrapper">
    <div *ngFor="let tag of result?.tags">
      <span class="mat-body-strong">Tag: </span> {{tag.tag}}
      <br>
      <span class="mat-body-strong">Probability:</span> {{tag.probability}}
      <br>
      <span class="mat-body-strong">Tagger id:</span> {{tag.tagger_id}}
      <br>
      <span class="mat-body-strong" *ngIf="tag.ner_match">Ner match:</span> {{tag.ner_match}}
      <br>
      <br>
    </div>
  </div>
</div>
