<div class="flex-row">
  <h1 mat-dialog-title>New Index Splitter</h1>
  <app-docs-button style="margin-left: auto" documentationArea="indexSplitterCreate"></app-docs-button>
</div>
<mat-dialog-content #content>
  <form (ngSubmit)="onSubmit(indexSplitterForm.value)" [formGroup]="indexSplitterForm" class="flex-col" id="createForm">
    <mat-form-field data-cy="appIndexSplitterCreateDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" cdkFocusInitial formControlName="descriptionFormControl"
             matInput
             placeholder="Description" required>

      <mat-error *ngIf="indexSplitterForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
      <mat-hint>{{indexSplitterOptions?.actions?.POST?.description?.help_text || ''}}</mat-hint>
    </mat-form-field>


    <mat-form-field data-cy="appIndexSplitterCreateDialogIndices">
      <mat-label>Indices</mat-label>
      <mat-select (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
        <app-mat-option-select-all></app-mat-option-select-all>
        <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="indexSplitterForm.get('indicesFormControl')?.hasError('required')">
        Select at least <strong>1 index</strong>
      </mat-error>
      <mat-hint>{{indexSplitterOptions?.actions?.POST?.indices?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Fields</mat-label>
      <app-project-field-select [projectFields]="projectFields"
                                formControlName="fieldsFormControl"></app-project-field-select>
      <mat-hint>{{indexSplitterOptions?.actions?.POST?.fields?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)" [startingQuery]="query"
                                   data-cy="appIndexSplitterCreateDialogQuery">
    </app-saved-search-autocomplete>

    <mat-form-field>
      <input formControlName="scrollSizeFormControl" matInput max="10000"
             min="1" pattern="([0-9]*|[0-9]*[.]?)\d*" placeholder="Scroll size" step="100"
             type="number">
      <mat-hint>{{indexSplitterOptions?.actions?.POST?.scroll_size?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field data-cy="appIndexSplitterCreateDialogTrainIndex">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="trainIndexFormControl" matInput
             placeholder="Name of the train index" required>
      <mat-error *ngIf="indexSplitterForm.get('trainIndexFormControl')?.hasError('required')">
        Train index is <strong>required</strong>
      </mat-error>
      <mat-hint>{{indexSplitterOptions?.actions?.POST?.train_index?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field data-cy="appIndexSplitterCreateDialogTestIndex">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="testIndexFormControl" matInput
             placeholder="Name of the test index" required>
      <mat-error *ngIf="indexSplitterForm.get('testIndexFormControl')?.hasError('required')">
        Test index is <strong>required</strong>
      </mat-error>
      <mat-hint>{{indexSplitterOptions?.actions?.POST?.test_index?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="m-bot-10">
      <input formControlName="testSizeIndexFormControl" matInput max="10000"
             min="1" pattern="([0-9]*|[0-9]*[.]?)\d*" placeholder="Test size" step="100"
             type="number">

      <mat-hint>{{indexSplitterOptions?.actions?.POST?.test_size?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <div fxLayout="row" class="m-bot-10">
      <mat-form-field fxFlex>
        <mat-label>Fact name</mat-label>
        <mat-select (selectionChange)="factNameSelected($event, indexSplitterForm.get('strValFormControl'))"
                    [disableOptionCentering]="true"
                    formControlName="factFormControl"
                    panelClass="select-panel-reveal-input">
          <mat-option *ngFor="let fact of projectFacts | async" [value]="fact" title="{{fact}}">
            {{fact.name}}
          </mat-option>
        </mat-select>
        <mat-hint>{{indexSplitterOptions?.actions?.POST?.fact?.help_text || ''}}</mat-hint>
      </mat-form-field>
      <mat-form-field class="m-l-15" fxFlex>
        <input [matAutocomplete]="trueVal"
               formControlName="strValFormControl"
               matInput
               placeholder="Fact value"
               type="text">
        <mat-autocomplete #trueVal="matAutocomplete"
                          panelWidth="auto">
          <mat-option *ngFor="let option of factValOptions" [disabled]="isLoadingOptions"
                      [value]="option" title="{{option}}">
            {{option}}
          </mat-option>
        </mat-autocomplete>

        <mat-hint>{{indexSplitterOptions?.actions?.POST?.str_val?.help_text || ''}}</mat-hint>
      </mat-form-field>
    </div>

    <mat-form-field class="m-top-10">
      <mat-label>Distribution</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="distributionFormControl"
                  panelClass="select-panel-reveal-input">
        <ng-container *ngIf="indexSplitterOptions">
          <mat-option *ngFor="let item of indexSplitterOptions.actions.POST.distribution.choices" [value]="item">
            {{item.display_name}}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-hint>{{indexSplitterOptions?.actions?.POST?.distribution?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <table class="simple-table m-top-10"
           *ngIf="indexSplitterForm?.get('distributionFormControl')?.value?.display_name === 'custom'">
      <tr>
        <th class="mat-body-strong">Label</th>
        <th class="mat-body-strong">Quantity</th>
      </tr>
      <tr *ngFor="let distribution of customDistributionList; let last=last;">
        <td><input class="max-width" style="box-sizing: border-box" [(ngModel)]="distribution.key"
                   [ngModelOptions]="{standalone: true}"></td>
        <td><input class="max-width" style="box-sizing: border-box" [(ngModel)]="distribution.value" type="number" min="0"
                   [ngModelOptions]="{standalone: true}"></td>
        <td *ngIf="last" style="
    padding: 0;
    min-width: unset;
    border: 0;
    text-align: center;">
          <button (click)="addItemToCustomDistribution()" class="small-icon-button" mat-icon-button
                  color="primary" aria-label="Add new row" type="button">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </tr>
    </table>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex-row max-width">
    <div class="flex-item-left">
      <button class="flex-item-left" mat-button mat-dialog-close type="button">Close</button>
    </div>
    <div class="flex-item-right">
      <button [disabled]="!indexSplitterForm.valid || createRequestInProgress"
              data-cy="appIndexSplitterCreateDialogSubmit" form="createForm"
              mat-button
              type="submit">
        Create
      </button>
    </div>
  </div>
</mat-dialog-actions>
