<div class="wrapper max-height" fxLayout="column">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Annotator">
      <div class="mat-tab-body-content">
        <div class="table-paginator-row">
          <div class="loading-bar">
            <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
          </div>
          <div class="paginator-row">
            <button (click)="openCreateDialog()" class="paginator-margin-left"
                    color="primary" data-cy="appAnnotatorCreateBtn" mat-raised-button>
              CREATE
            </button>
            <button (click)="onDeleteAllSelected()" [disabled]="selectedRows.selected.length < 1"
                    class="new-resource-btn"
                    color="warn" data-cy="appAnnotatorDeleteBtn"
                    mat-icon-button matTooltip="Delete selected">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button *ngIf="annotatorUrl" (click)="openAnnotatorView()" data-cy="appAnnotatorOpenView">
              Open Annotator
            </button>
            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>

        <div [appScrollTop]="tableData" class="tasks-table overflow-auto">
          <table [dataSource]="tableData" mat-table
                 matSort matSortDirection="asc"
                 multiTemplateDataRows>
            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null" data-cy="appAnnotatorBulkDeleteSelectAll"
                              [checked]="selectedRows.hasValue() && isAllSelected()"
                              [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td *matCellDef="let row" mat-cell>
                <mat-checkbox [disabled]="row?.parent?.task?.status === 'running'" (change)="$event ? selectedRows.toggle(row) : null" (click)="$event.stopPropagation()"
                              [checked]="selectedRows.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
              <td *matCellDef="let element" mat-cell> {{element.parent.id}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
              <td *matCellDef="let element" mat-cell> {{element.parent.description}}</td>
            </ng-container>
            <ng-container matColumnDef="author__username">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Author</th>
              <td *matCellDef="let element" mat-cell
                  [matTooltip]="element.parent?.author?.username"> {{element.parent?.author?.display_name}}</td>
            </ng-container>
            <ng-container matColumnDef="users_count">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Users</th>
              <td *matCellDef="let element" mat-cell>
                {{ element.children.length }}
              </td>
            </ng-container>
            <ng-container matColumnDef="index">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Index</th>
              <td *matCellDef="let element"
                  [title]="(element.parent.indices | getPropertyList: getIndicesName  | join: '\n')"
                  mat-cell> {{element.parent.indices | getPropertyList: getIndicesName | join: ', '}}</td>
            </ng-container>
            <ng-container matColumnDef="annotation_type">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Type</th>
              <td *matCellDef="let element" mat-cell> {{element.parent.annotation_type}}</td>
            </ng-container>
            <ng-container matColumnDef="type_info">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Labelset/Fact</th>
              <td *matCellDef="let element" mat-cell>
                <ng-container *ngIf="element.parent?.entity_configuration">
                  <span
                    [title]="element.parent?.entity_configuration?.fact_name">{{element.parent?.entity_configuration?.fact_name}}</span>
                </ng-container>
                <ng-container *ngIf="element.parent?.multilabel_configuration">
                  <span
                    [title]="'Labelset ID: ' + element.parent.multilabel_configuration.labelset">{{element.parent?.multilabel_configuration?.labelset}}</span>
                </ng-container>
                <ng-container *ngIf="element.parent?.binary_configuration">
                  <span
                    [title]="'Negative Value: '+ element.parent.binary_configuration.neg_value + '\n Positive Value:'+ element.parent.binary_configuration.pos_value">
                    {{element.parent?.binary_configuration?.fact_name}}</span>
                </ng-container>
              </td>
            </ng-container>
            <ng-container matColumnDef="total">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Total</th>
              <td *matCellDef="let element" mat-cell> {{element.parent.total}}</td>
            </ng-container>
            <ng-container matColumnDef="fields">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Fields</th>
              <td *matCellDef="let element" mat-cell class="fields-tab"
                  [title]="(element.parent.fields | join: '\n')"> {{element.parent.fields | join:', '}}</td>
            </ng-container>
            <ng-container matColumnDef="query">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Query</th>
              <td *matCellDef="let element" mat-cell><span
                (click)="openQueryDialog(element.parent.query); $event.stopPropagation()"
                class="action-text mat-body-strong pointer">Show Query</span></td>
            </ng-container>

            <ng-container matColumnDef="created_at">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Created</th>
              <td *matCellDef="let element" mat-cell> {{element.parent.created_at | date:'y-M-d H:mm:ss'}}</td>
            </ng-container>
            <ng-container matColumnDef="task__status">
              <th *matHeaderCellDef mat-header-cell> Task</th>
              <td *matCellDef="let element" mat-cell [matTooltip]="element.parent.tasks[0].errors"
                  [matTooltipDisabled]="element.parent.tasks[0].errors === '[]'">
                <app-task-progress [task]="element.parent.tasks[0]"></app-task-progress>
              </td>
            </ng-container>


            <ng-container matColumnDef="actions">
              <th mat-header-cell class="center-header-cell" *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element; let i = dataIndex" (click)="$event.stopPropagation();">

                <button mat-icon-button color="primary" [matMenuTriggerFor]="editMenu"
                        [matMenuTriggerData]="{element: element, i:i}">
                  <mat-icon aria-label="Actions">more_vert</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td *matCellDef="let element" [attr.colspan]="displayedColumns.length" mat-cell>
                <div *ngIf="element == expandedElement" [@detailExpand] class="element-detail">

                  <div class="flex-col m-l-r-5" fxFlex="100">
                    <table class="simple-table">
                      <tr>
                        <th class="mat-body-strong">Id</th>
                        <th class="mat-body-strong">User</th>
                        <th class="mat-body-strong">Total</th>
                        <th class="mat-body-strong">Annotated</th>
                        <th class="mat-body-strong">Skipped</th>
                        <th class="mat-body-strong">Created</th>
                        <th class="mat-body-strong">Completed</th>
                        <th class="mat-body-strong">Index</th>
                        <th class="mat-body-strong" style="min-width: 60px; text-align: center; width: 60px">Delete</th>
                      </tr>
                      <ng-container *ngFor="let task of element.children;">
                        <tr role="row" class="inner-element-row">
                          <td>{{task.id}}</td>
                          <td>{{task.annotator_users[0].display_name}}</td>
                          <td>{{task.total}}</td>
                          <td>{{task.annotated}}</td>
                          <td>{{task.skipped}}</td>
                          <td>{{task.created_at | date:'y-M-d H:mm:ss'}}</td>
                          <td>{{task.modified_at | date:'y-M-d H:mm:ss'}}</td>
                          <td class="mat-column-index" [title]="(task.indices | getPropertyList: getIndicesName  | join: '\n')">
                            {{task.indices | getPropertyList: getIndicesName | join: ', '}}
                          </td>
                          <td style="min-width: 60px; text-align: center; width: 60px; padding: 0">
                            <button (click)="onDelete(task)" color="warn" mat-icon-button><mat-icon>cancel</mat-icon></button>
                          </td>
                        </tr>
                      </ng-container>
                    </table>
                  </div>
                </div>
              </td>
            </ng-container>
            <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
            <tr (click)="expandedElement = expandedElement === element ? null : element"
                *matRowDef="let element; columns: displayedColumns;"
                [class.expanded-row]="expandedElement === element"
                class="element-row"
                mat-row></tr>
            <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

          </table>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Labelset">
      <div class="mat-tab-body-content">
        <app-labelset></app-labelset>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<mat-menu #editMenu="matMenu">
  <ng-template matMenuContent let-element="element" let-i="i">
    <button mat-menu-item (click)="edit(element.parent)" data-cy="appAnnotatorMenuEdit">
      Edit
    </button>
    <button [disabled]="element?.parent?.task?.status === 'running'" mat-menu-item (click)="onDeleteParent(element)" data-cy="appAnnotatorMenuDelete">
      Delete
    </button>
  </ng-template>
</mat-menu>
