

:host {
  overflow: hidden;
}
.mat-tab-body-content{
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
mat-tab-group{
  height: 100%;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: ivory;
}

tr.element-row:not(.expanded-row):hover {
  background: #eeeeee;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}
.mat-column-task__status {
  max-width: 160px;
}
.mat-column-fields, .mat-column-index{
  text-overflow: ellipsis;
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
}

.mat-column-actions {
  width: 60px;
  text-align: center;
}
