td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding: 0;
}

td.mat-cell:first-of-type {
  max-width: 18px;
}

.description {
  padding-left: 16px;
}

.saved-search-description {
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit{
  margin-left: 9px;
}
