

:host {
  overflow: hidden;
}

.mat-column-actions {
  width: 60px;
  text-align: center;
}

.mat-column-task__status {
  max-width: 160px;
}

tr.element-row:not(.expanded-row):hover {
  background: #eeeeee;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.element-plot {
  object-fit: cover;
  border: 2px solid black;
  padding: 8px;
  margin: 8px 0;
  max-width: 750px;
}

.element-detail-plot-fields {
  flex-wrap: wrap;
}
