<h1 mat-dialog-title>Multitag Text</h1>
<mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field class="max-width" data-cy="appTaggerMultiTagDialogText">
    <textarea [(ngModel)]="formModel.text" [ngModelOptions]="{standalone: true}" [rows]="5" matInput
              placeholder="Text"></textarea>
      <mat-hint>{{taggerOptions?.actions?.POST?.text?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="max-width" data-cy="appTaggerMultiTagDialogTaggers">
      <mat-label>Taggers</mat-label>
      <ngx-virtual-scroll-mat-select [scrollableDataSource]="taggers" [formControl]="taggerSelectionFormControl"></ngx-virtual-scroll-mat-select>
      <mat-hint>{{taggerOptions?.actions?.POST?.taggers?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <div class="checkbox-info-row m-bot-10">
      <mat-checkbox [(ngModel)]="formModel.lemmatize">Lemmatize
      </mat-checkbox>
      <app-info-icon [textTemplate]="lemmatizeTemplate" textTitle="Lemmatize">
        <ng-template #lemmatizeTemplate>
          <p>{{taggerOptions?.actions?.POST?.lemmatize?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
      <mat-checkbox [(ngModel)]="formModel.feedback" class="m-l-15">Feedback
      </mat-checkbox>
      <app-info-icon [textTemplate]="feedbackTemplate" textTitle="Feedback">
        <ng-template #feedbackTemplate>
          <p>{{taggerOptions?.actions?.POST?.feedback_enabled?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
      <mat-checkbox [(ngModel)]="formModel.hideFalse" class="m-l-15">Hide false
      </mat-checkbox>
      <app-info-icon [textTemplate]="hideFalseTemplate" textTitle="Hide false">
        <ng-template #hideFalseTemplate>
          <p>{{taggerOptions?.actions?.POST?.hide_false?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="result" class="m-top-10">
    <div class="code-wrapper">
      <code>
        <pre *ngIf="result">{{result | json}}</pre>
      </code>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex-row max-width">
    <div class="flex-item-left">
      <button class="flex-item-left" mat-button mat-dialog-close data-cy="appTaggerMultiTagDialogClose"
              type="button">Close
      </button>
    </div>
    <div class="flex-item-right">
      <button (click)="onSubmit(formModel)" [disabled]="!formModel.text" data-cy="appTaggerMultiTagDialogSubmit"
              mat-button>
        Tag
      </button>
    </div>
  </div>
</mat-dialog-actions>
