<div class="flex-row">
  <h1 mat-dialog-title>Tag Text</h1>
  <mat-chip-list disabled class="flex-item-right">
    <mat-chip *ngIf="data.tagger" color="primary" selected style="opacity: 1"><span
      [matTooltip]="'Id: '+data.tagger.id">{{data.tagger.description}}</span></mat-chip>
  </mat-chip-list>
</div>
<mat-form-field class="max-width">
  <input matInput placeholder="Tag text" #textInput>
</mat-form-field>
<mat-form-field class="max-width m-bot-10" floatLabel="always">
  <mat-label>Number of similar documents</mat-label>
  <input matInput type="number" placeholder="Number of Similar docs" #nSimilarDocsInput [(ngModel)]="nSimilarDocs">
  <mat-hint>{{tagTextOptions?.actions?.POST?.n_similar_docs?.help_text || ''}}</mat-hint>
</mat-form-field>
<mat-checkbox [(ngModel)]="lemmatize"  matTooltip="{{tagTextOptions?.actions?.POST?.lemmatize?.help_text || ''}}">Lemmatize</mat-checkbox>
<mat-checkbox [(ngModel)]="ner" class="m-l-15" matTooltip="{{tagTextOptions?.actions?.POST?.use_ner?.help_text || ''}}" >Use NER</mat-checkbox>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="m-top-10" *ngIf="!isLoading && results && results.length < 1">
  <span class="mat-hint"> <i>No results</i></span>
</div>
<div class="m-top-10" *ngFor="let result of results">
  <span class="mat-body-strong">Tagger id:</span> {{result.tagger_id}}
  <br>
  <span class="mat-body-strong">Result: </span>{{result.tag}}
  <br>
  <span class="mat-body-strong">Probability:</span> {{result.probability}}
  <br>
  <br>
</div>
<div class="flex-row" mat-dialog-actions>
  <div class="flex-item-left">
    <button mat-dialog-close="" mat-stroked-button>Close</button>
  </div>
  <div class="flex-item-right">
    <button type="submit" mat-stroked-button (click)="onSubmit(textInput.value)">Tag</button>
  </div>
</div>
