<div class="flex-col max-height">
  <div class="flex-row header-row">
    <app-breadcrumb></app-breadcrumb>
    <mat-form-field data-cy="appLexiconEmbedding">
      <mat-label>Select Embedding</mat-label>
      <mat-select (selectionChange)="saveEmbeddingChoice($event.value)" [(value)]="selectedEmbedding"
                  [disableOptionCentering]="true" panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let embedding of embeddings" [value]="embedding">
          {{embedding.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="buttons-row" fxLayout="row" fxLayoutGap="5px">
      <div
        [matTooltipDisabled]="!!selectedEmbedding" matTooltip="Select an embedding to get new word suggestions">
        <button (click)="getNewSuggestions()" [disabled]="!selectedEmbedding" color="primary"
                data-cy="appLexiconNewSuggestionsBtn"
                fxFlex="grow"
                mat-stroked-button>
          New Suggestions
        </button>
      </div>
      <button (click)="clearLexicon()" color="warn"
              data-cy="appLexiconCancelBtn" fxFlex="grow" mat-stroked-button
              matTooltip="Clear all of the positive and negative entries">Clear Lexicon
      </button>
      <button (click)="saveLexicon()" color="primary"
              data-cy="appLexiconSaveBtn" fxFlex="initial" mat-raised-button>Save
      </button>
    </div>

  </div>
  <div *ngIf="textareaLexicon" class="grid-container">
    <div class="suggestions flex-col">
      <div class="header">
        <h3>Suggestions</h3>
      </div>
      <div class="loading-bar">
        <mat-progress-bar *ngIf="isLoadingPredictions" mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="flex-col" style="flex-wrap: wrap;overflow: auto;">
        <div (click)="addPositive(suggestion)"
             *ngFor="let suggestion of newSuggestions"
             class="list-item pointer item-padding"
             data-cy="appLexiconPredictions">
          <span>{{suggestion.phrase}}</span>
        </div>
        <p *ngIf="newSuggestions.length === 0">No results</p>
      </div>
    </div>

    <div class="pos_unused flex-col">
      <div class="header flex-row">
        <h3>Positives unused</h3>
      </div>
      <div class="max-height overflow-auto">
        <mat-form-field appearance="outline" class="stretch-height max-width" data-cy="appLexiconPositiveUnUsedWords"
                        floatLabel="always">
          <mat-label>Enter words here</mat-label>
          <textarea [(ngModel)]="textareaLexicon.positives_unused"
                    class="max-width"
                    matInput
                    placeholder="Words you want to keep in the lexicon but don't want to base new suggestions on"
          ></textarea>
        </mat-form-field>

      </div>
    </div>

    <div class="pos_used flex-col">
      <div class="header flex-row">
        <h3>Positives</h3>
      </div>
      <div class="max-height overflow-auto">
        <mat-form-field appearance="outline" class="stretch-height max-width" data-cy="appLexiconPositiveUsedWords"
                        floatLabel="always">
          <mat-label>Enter words here</mat-label>
          <textarea [(ngModel)]="textareaLexicon.positives_used"
                    autofocus cdkFocusInitial
                    class="max-width"
                    matInput
                    placeholder="Words to base new suggestions on"
          ></textarea>
        </mat-form-field>

      </div>
    </div>

    <div class="neg_unused flex-col">
      <div class="header">
        <h3>Negatives unused</h3>
      </div>

      <div class="max-height overflow-auto">
        <mat-form-field appearance="outline" class="stretch-height max-width" data-cy="appLexiconNegativeUnUsedWords"
                        floatLabel="always">
          <mat-label>Enter words here</mat-label>
          <textarea [(ngModel)]="textareaLexicon.negatives_unused"
                    class="max-width"
                    matInput
                    placeholder="Words you don't want to keep in the lexicon and don't want to base new suggestions on"
          ></textarea>
        </mat-form-field>

      </div>
    </div>

    <div class="neg_used flex-col">
      <div class="header">
        <h3>Negatives</h3>
      </div>

      <div class="max-height overflow-auto">
        <mat-form-field appearance="outline" class="stretch-height max-width" data-cy="appLexiconNegativeUsedWords"
                        floatLabel="always">
          <mat-label>Enter words here</mat-label>
          <textarea [(ngModel)]="textareaLexicon.negatives_used"
                    class="max-width"
                    matInput
                    placeholder="Words that you don't want to see when basing new suggestions"
          ></textarea>
        </mat-form-field>

      </div>
    </div>

    <div class="pos_buttons">
      <button (click)="moveLexiconWords('positives_used', 'positives_unused')" aria-label="Move positive used to unused"
              mat-icon-button
              matTooltip="Move positive used to unused"
              matTooltipShowDelay="500">
        <mat-icon>west</mat-icon>
      </button>

      <button (click)="moveLexiconWords('positives_unused', 'positives_used')" aria-label="Move positive unused to used"
              mat-icon-button
              matTooltip="Move positive unused to used"
              matTooltipShowDelay="500">
        <mat-icon>east</mat-icon>
      </button>
    </div>

    <div class="neg_buttons">
      <button (click)="moveLexiconWords('negatives_used', 'negatives_unused')" aria-label="Move negative used to unused"
              mat-icon-button
              matTooltip="Move negative used to unused"
              matTooltipShowDelay="500">
        <mat-icon>west</mat-icon>
      </button>
      <button (click)="moveLexiconWords('negatives_unused', 'negatives_used')" aria-label="Move negative unused to used"
              mat-icon-button
              matTooltip="Move negative unused to used"
              matTooltipShowDelay="500">
        <mat-icon>east</mat-icon>
      </button>
    </div>
  </div>
</div>
