:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-row {
  align-items: baseline;
  padding-right: 24px;
}

.grid-container {
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 50px minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "pos_unused pos_buttons pos_used suggestions"
    "neg_unused neg_buttons neg_used suggestions";
}

h3 {
  margin-top: 0;
}

.suggestions {
  grid-area: suggestions;
  padding-left: 24px;
  padding-bottom: 24px;
}

.pos_buttons {
  grid-area: pos_buttons;
  max-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.neg_buttons {
  grid-area: neg_buttons;
  max-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pos_unused {
  grid-area: pos_unused;

  .header {
    align-items: center;

    button {
      margin-left: auto;
    }
  }
}

.pos_used {
  grid-area: pos_used;

  .header {
    align-items: center;

    button {
      margin-left: auto;
    }
  }
}

.neg_unused {
  grid-area: neg_unused;
}

.neg_used {
  grid-area: neg_used;
}

.buttons-row {
  margin-left: auto;
}

.item-padding {
  padding: 16px 0;
}

.list-item {
  width: 50%;
  word-break: break-all;
}

.list-item:hover {
  background-color: #f0f0f0;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

textarea {
  resize: none;
}

.loading-bar {
  height: 4px;
  background-color: transparent;
}
