.embedding-row {
  align-items: center;
  button {
    margin-left: 10px;
    max-height: 36px;
  }
}

.wrapper {
  .positives {
    margin-left: 20px;
    height: 605px;
    padding: 0 16px;
    width: 450px;
    max-width: 450px;

  }
  .predictions {
    overflow: auto;
    margin-left: 20px;
    height: 605px;
    max-height: 605px;
    width: 450px;
    max-width: 450px;
    h3 {
      padding: 0 16px 16px;
    }

  }
}

@media only screen and (max-width: 1450px) {
  .wrapper {
    flex-wrap: wrap;
    width: 100%;
    .positives {
      max-width: unset;
      width: 100%;
      height: 42vh;
    }
    .predictions {
      max-width: unset;
      width: 100%;
      height: 42vh;
      flex-wrap: wrap-reverse;
      .mat-selection-list {
        display: flex;
        flex-wrap: wrap-reverse;
        .mat-list-item {
          max-width: 400px;
        }
      }
    }
  }
}

.prediction {
  width: 100%;
  padding: 16px 16px;
}

.prediction:hover {
  background-color: #f0f0f0;
}
