<div class="flex-row wrapper">
  <div class="positives mat-elevation-z2 flex-col">
    <h3>Lexicon words</h3>
    <ng-container *ngIf="!!_lexicon">
      <div class="flex-col">
        <div class="flex-row embedding-row">
          <mat-form-field>
            <mat-label>Select Embedding</mat-label>
            <mat-select [(value)]="selectedEmbedding">
              <mat-option *ngFor="let embedding of embeddings" [value]="embedding">
                {{embedding.description}}
              </mat-option>
            </mat-select>

          </mat-form-field>

        </div>
      </div>

      <div class="max-width  overflow-auto">
        <mat-form-field floatLabel="never" class="max-width" appearance="outline">
          <mat-label>Enter words here</mat-label>
          <textarea matInput class="max-width" placeholder="Enter words here" [(ngModel)]="positives"
                    cdkTextareaAutosize></textarea>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="5px">
        <button mat-stroked-button color="accent" fxFlex *ngIf="selectedEmbedding"
                (click)="getNewSuggestions(predictedWords.selectedOptions.selected)">
          New Suggestions
        </button>
        <button mat-stroked-button color="primary" (click)="saveLexicon()" fxFlex>Save</button>
      </div>
    </ng-container>
  </div>

  <div class="predictions mat-elevation-z2">
    <h3>Suggestions


      <button mat-button color="primary"
              (click)="updateLexicon(predictedWords.selectedOptions.selected)"
              *ngIf="predictedWords.selectedOptions.selected.length > 0">Add selected
      </button>
    </h3>
    <mat-selection-list #predictedWords>
      <mat-list-option *ngFor="let prediction of predictions" [value]="prediction">
        {{prediction.phrase}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
