<ng-container *ngFor="let fact of factList">
  <h3 class="max-width" style="margin-left: 7px; margin-bottom: 5px" title="add constraint" (click)="buildFactNameSearch(fact.factName)">{{fact.factName}}</h3>
  <ng-container *ngFor="let factValue of fact.factValues; let y = index;">
    <ng-container *ngIf="y < NUMBER_OF_CHIPS_TO_DISPLAY">
      <span (click)="buildFactValSearch(fact.factName, factValue.key)" style.background-color="{{fact?.color?.backgroundColor}}"
            style.color="{{fact?.color?.textColor}}" title="{{fact.factName}}">{{factValue.key}}
        <ng-container *ngIf="factValue.count > 1">({{factValue.count}})</ng-container>
      </span>
    </ng-container>
    <ng-container *ngIf="y >= NUMBER_OF_CHIPS_TO_DISPLAY">
      <span (click)="fact.showing = true;" *ngIf="!fact.showing && y == NUMBER_OF_CHIPS_TO_DISPLAY"
            style="background-color: #ededed"
            title="Expand">...</span>
      <span (click)="buildFactValSearch(fact.factName, factValue.key)" *ngIf="fact.showing"
            style.background-color="{{fact?.color?.backgroundColor}}" style.color="{{fact?.color?.textColor}}"
            title="{{fact.factName}}">
        {{factValue.key}}
        <ng-container *ngIf="factValue.count > 1">({{factValue.count}})</ng-container>
      </span>
    </ng-container>
  </ng-container>
  <br>
</ng-container>
