<div class="wrapper max-height" fxLayout="column">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button (click)="openCreateDialog()" class="paginator-margin-left"
              color="primary" data-cy="appRegexTaggerGroupCreateBtn" mat-raised-button>
        CREATE
      </button>
      <button (click)="onDeleteAllSelected()" [disabled]="selectedRows.selected.length < 1" class="new-resource-btn"
              color="warn" data-cy="appRegexTaggerGroupDeleteBtn"
              mat-icon-button matTooltip="Delete selected">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="openMultiTagDialog()" data-cy="appRegexTaggerGroupMultiTagBtn" mat-stroked-button>
        Multitag Text
      </button>
      <button (click)="applyTaggerGroup()" data-cy="appRegexTaggerGroupApplyTaggerGroupBtn" mat-stroked-button
              style="margin-left: 10px">
        Apply Regex Tagger Group
      </button>
      <mat-form-field class="m-l-15">
        <mat-icon matSuffix>search</mat-icon>
        <input (keyup)="applyFilter($event.target, 'description')" matInput placeholder="Filter description">
      </mat-form-field>
      <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons [length]="resultsLength">
      </mat-paginator>
    </div>
  </div>

  <div [appScrollTop]="tableData" class="tasks-table overflow-auto">
    <table [dataSource]="tableData" mat-table
           matSort matSortActive="id" matSortDirection="desc"
           multiTemplateDataRows>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectedRows.hasValue() && isAllSelected()"
                        [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selectedRows.toggle(row) : null" (click)="$event.stopPropagation()"
                        [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="is_favorited">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> <div class="favorite-th-cell"><mat-icon>star_outlined</mat-icon></div></th>
        <td *matCellDef="let element" mat-cell><button mat-icon-button (click)="toggleRowFavorite(element);$event.stopPropagation()">
          <mat-icon *ngIf="!element.is_favorited" [ngClass]="{'star-active': element.is_favorited}">star_outlined</mat-icon>
          <mat-icon *ngIf="element.is_favorited" class="star-icon-active">star</mat-icon>
        </button></td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
        <td *matCellDef="let element" mat-cell> {{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="author">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Author</th>
        <td *matCellDef="let element" mat-cell
            [matTooltip]="element?.author?.username"> {{element?.author?.display_name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="regex_taggers">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Nr. of Regex Taggers</th>
        <td *matCellDef="let element" mat-cell>{{element.regex_taggers.length}}
        </td>
      </ng-container>

      <ng-container matColumnDef="task__status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Task</th>
        <td *matCellDef="let element" mat-cell>
          <mat-progress-bar *ngIf="element.task" [value]="element.task.progress"
                            mode="determinate">
          </mat-progress-bar>
          <mat-hint *ngIf="element.task">{{element.task.status}} {{element.task.step}}</mat-hint>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="center-header-cell" mat-header-cell>Actions</th>
        <td (click)="$event.stopPropagation();" *matCellDef="let element; let i = dataIndex" mat-cell>

          <button [matMenuTriggerData]="{element: element, i:i}" [matMenuTriggerFor]="editMenu" color="primary"
                  mat-icon-button>
            <mat-icon aria-label="Actions">more_vert</mat-icon>
          </button>

        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td *matCellDef="let element; let i = dataIndex" [attr.colspan]="displayedColumns.length"
            class="expanded-detail"
            mat-cell>
          <div *ngIf="expandedElements[i][0]" [@detailExpand] class="element-detail">
            <div class="flex-col m-l-r-5" fxFlex="100">
              <table class="simple-table">
                <tr>
                  <th class="mat-body-strong">Id</th>
                  <th class="mat-body-strong">Description</th>
                  <th class="mat-body-strong">Operator</th>
                  <th class="mat-body-strong">Match Type</th>
                  <th class="mat-body-strong">Required Words</th>
                  <th class="mat-body-strong">Phrase Slop</th>
                  <th class="mat-body-strong">Counter Slop</th>
                  <th class="mat-body-strong">Fuzzy Match</th>
                  <th class="mat-body-strong">Ignore Case</th>
                  <th class="mat-body-strong">Ignore Punctuation</th>
                </tr>
                <ng-container *ngFor="let tagger of element.tagger_info; let innerIndex = index">
                  <tr (click)="this.expandedElements[i][1][innerIndex] = !this.expandedElements[i][1][innerIndex];"
                      role="row" class="inner-element-row" [class.expanded-row]="expandedElements[i][1][innerIndex]">
                    <td>{{tagger.id}}</td>
                    <td class="detail-desc-col" title="{{tagger.description}}">{{tagger.description}}</td>
                    <td>{{tagger.operator}}</td>
                    <td>{{tagger.match_type}}</td>
                    <td>{{tagger.required_words}}</td>
                    <td>{{tagger.phrase_slop}}</td>
                    <td>{{tagger.counter_slop}}</td>
                    <td>
                      <mat-checkbox [checked]="tagger.return_fuzzy_match" disabled></mat-checkbox>
                    </td>
                    <td>
                      <mat-checkbox [checked]="tagger.ignore_case" disabled></mat-checkbox>
                    </td>
                    <td>
                      <mat-checkbox [checked]="tagger.ignore_punctuation" disabled></mat-checkbox>
                    </td>
                  </tr>
                  <tr class="detail-row inner-regex-tagger-table-row"
                      role="row">
                    <td [attr.colspan]="10" class="expanded-detail">
                      <div *ngIf="expandedElements[i][1][innerIndex]" [@detailExpand] class="element-detail">
                        <div class="flex-col" fxFlex="100">
                          <table>
                            <tr>
                              <th class="mat-body-strong">Lexicon</th>
                              <th class="mat-body-strong">Counter Lexicon</th>
                            </tr>
                            <tr>
                              <td>
                                <div class="flex-col"><span *ngFor="let item of tagger.lexicon">{{item}}</span></div>
                              </td>
                              <td>
                                <div class="flex-col"><span *ngFor="let item of tagger.counter_lexicon">{{item}}</span>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </table>
            </div>
            <div *ngIf="element.task" class="flex-col m-l-r-5">
              <table class="simple-table">
                <tr>
                  <th class="mat-body-strong">Resource Id</th>
                  <th class="mat-body-strong">Task Id</th>
                  <th class="mat-body-strong">Status</th>
                  <th class="mat-body-strong">Progress</th>
                  <th class="mat-body-strong">Errors</th>
                  <th class="mat-body-strong">Step</th>
                  <th class="mat-body-strong">Last Update</th>
                </tr>
                <tr>
                  <td>{{element.id}}</td>
                  <td>{{element.task.id}}</td>
                  <td>{{element.task.status}}</td>
                  <td>{{element.task.progress}}</td>
                  <td>{{element.task.errors}}</td>
                  <td>{{element.task.step}}</td>
                  <td>{{element.task.last_update | date:'y-M-d H:mm:ss'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="expandedElements[i][0] = !expandedElements[i][0]"
          *matRowDef="let element; columns: displayedColumns; let i = dataIndex"
          [class.expanded-row]="expandedElements[i][0]"
          class="element-row"
          mat-row></tr>
      <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    </table>

  </div>
</div>

<mat-menu #editMenu="matMenu">
  <ng-template let-element="element" let-i="i" matMenuContent>
    <button (click)="onTagRandomDoc(element)" data-cy="appRegexTaggerGroupMenuTagRandomDoc"
            mat-menu-item>
      Tag Random Doc
    </button>
    <button (click)="onTagText(element)" data-cy="appRegexTaggerGroupMenuTagText"
            mat-menu-item>
      Tag Text
    </button>
    <mat-divider></mat-divider>
    <button (click)="edit(element);" mat-menu-item>
      Edit
    </button>
    <button (click)="onDelete(element, i)" data-cy="appRegexTaggerGroupMenuDelete" mat-menu-item>
      Delete
    </button>
  </ng-template>
</mat-menu>
