<div class="wrapper max-height" fxLayout="column">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button class="paginator-margin-left" mat-raised-button color="primary" style="padding-right: 7px"
              data-cy="appEvaluatorCreateBtn"
              [matMenuTriggerFor]="createMenu">
        <span>CREATE<mat-icon style="vertical-align: middle">arrow_drop_down</mat-icon></span>
      </button>
      <button (click)="onDeleteAllSelected()" [disabled]="selectedRows.selected.length < 1" class="new-resource-btn"
              color="warn" data-cy="appEvaluatorDeleteBtn"
              mat-icon-button matTooltip="Delete selected">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

  <div [appScrollTop]="tableData" class="tasks-table overflow-auto">
    <table [dataSource]="tableData" mat-table
           matSort matSortDirection="desc" matSortActive="id"
           multiTemplateDataRows>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectedRows.hasValue() && isAllSelected()"
                        [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selectedRows.toggle(row) : null" (click)="$event.stopPropagation()"
                        [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
        <td *matCellDef="let element" mat-cell> {{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="task__time_started">
        <th *matHeaderCellDef mat-header-cell> Time created</th>
        <td *matCellDef="let element" mat-cell><span
          *ngIf="element.tasks[0]">{{element.tasks[0].time_started | date:'y-M-d H:mm:ss'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="task__time_completed">
        <th *matHeaderCellDef mat-header-cell> Time completed</th>
        <td *matCellDef="let element" mat-cell>
          <span
            *ngIf="element.tasks[0] && element.tasks[0].time_completed">{{element.tasks[0].time_completed | date:'y-M-d H:mm:ss'}}</span>
          <span *ngIf="element.tasks[0] && !element.tasks[0].time_completed">Null</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="eval_type">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Evaluation type</th>
        <td *matCellDef="let element" mat-cell> {{element.evaluation_type}}</td>
      </ng-container>

      <ng-container matColumnDef="avg_func">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Average</th>
        <td *matCellDef="let element" mat-cell> {{element.average_function}}</td>
      </ng-container>

      <ng-container matColumnDef="author__username">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Author</th>
        <td *matCellDef="let element" mat-cell [matTooltip]="element?.author?.username"> {{element?.author?.display_name}}</td>
      </ng-container>
      <ng-container matColumnDef="f1_score">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> F1 score</th>
        <td *matCellDef="let element" mat-cell> {{element.f1_score | number:'0.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="precision">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Precision</th>
        <td *matCellDef="let element" mat-cell> {{element.precision | number:'0.2-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="recall">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Recall</th>
        <td *matCellDef="let element" mat-cell> {{element.recall | number:'0.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="task__status">
        <th *matHeaderCellDef mat-header-cell> Task</th>
        <td *matCellDef="let element" mat-cell>
          <app-task-progress *ngIf="element.tasks.length" [task]="element.tasks[element.tasks.length -1]"></app-task-progress>
        </td>
      </ng-container>


      <ng-container matColumnDef="expandedDetail">
        <td *matCellDef="let element; let i = dataIndex" [attr.colspan]="displayedColumns.length" mat-cell>
          <div *ngIf="expandedElements[i]" [@detailExpand] class="element-detail">
            <div class="flex-row element-detail-plot-fields">
              <div *ngIf="element.plot"><img [src]="element.plot" alt="evaluator plot" class="element-plot"></div>
              <div class="flex-col m-l-r-5 m-top-5">
                <table class="simple-table">
                  <tr>
                    <th class="mat-body-strong">Precision</th>
                    <td>{{element.precision}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Recall</th>
                    <td>{{element.recall}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">F1 Score</th>
                    <td>{{element.f1_score}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Accuracy</th>
                    <td>{{element.accuracy}}</td>
                  </tr>
                </table>
              </div>
              <div class="flex-col m-l-r-5 m-top-5">
                <table class="simple-table">
                  <tr>
                    <th class="mat-body-strong">True fact</th>
                    <td>{{element.true_fact}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">True fact value</th>
                    <td>{{element.true_fact_value}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Predicted fact</th>
                    <td>{{element.predicted_fact}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Predicted fact value</th>
                    <td>{{element.predicted_fact_value}}</td>
                  </tr>
                </table>
              </div>
              <div class="flex-col m-l-r-5 m-top-5">
                <table class="simple-table">
                  <tr>
                    <th class="mat-body-strong">Average function</th>
                    <td>{{element.average_function}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Query</th>
                    <td><span (click)="openQueryDialog(element.query)" class="action-text mat-body-strong pointer">Show Query</span>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Indices</th>
                    <td>{{element.indices | getPropertyList: getIndicesName | join: ', '}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Scroll size</th>
                    <td>{{element.scroll_size}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Elasticsearch timeout</th>
                    <td>{{element.es_timeout}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Add individual results</th>
                    <td>{{element.add_individual_results}}</td>
                  </tr>
                </table>
              </div>
              <div class="flex-col m-l-r-5 m-top-5">
                <table class="simple-table">
                  <tr>
                    <th class="mat-body-strong">Nr. True classes</th>
                    <td>{{element.n_true_classes}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Nr. Predicted classes</th>
                    <td>{{element.n_predicted_classes}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Nr. Total classes</th>
                    <td>{{element.n_total_classes}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Document count</th>
                    <td>{{element.document_count}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Evaluation type</th>
                    <td>{{element.evaluation_type}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Score after scroll</th>
                    <td>{{element.score_after_scroll}}</td>
                  </tr>
                  <tr>
                    <th class="mat-body-strong">Scores imprecise</th>
                    <td>{{element.scores_imprecise}}</td>
                  </tr>
                  <tr *ngIf="element.evaluation_type === 'entity'">
                    <th class="mat-body-strong">Token Based</th>
                    <td>{{element.token_based}}</td>
                  </tr>
                </table>
              </div>
              <app-task-table class="flex-item-right" [textaTasks]="element.tasks"></app-task-table>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Modify">
        <th *matHeaderCellDef class="center-header-cell" mat-header-cell>Actions</th>
        <td (click)="$event.stopPropagation();" *matCellDef="let element; let i = dataIndex" mat-cell>

          <button [matMenuTriggerData]="{element: element, i:i}" [matMenuTriggerFor]="actionsMenu" color="primary"
                  mat-icon-button>
            <mat-icon aria-label="Actions">more_vert</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="expandedElements[i] = !expandedElements[i]"
          *matRowDef="let element; columns: displayedColumns; let i = dataIndex"
          [class.expanded-row]="expandedElements[i]"
          class="element-row"
          mat-row></tr>
      <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>

    </table>

  </div>


</div>

<mat-menu #actionsMenu="matMenu">
  <ng-template let-element="element" let-i="i" matMenuContent>
    <ng-container *ngIf="element.tasks[0] && element.tasks[0].status === 'completed'">
      <button (click)="openIndividualResults(element)" *ngIf="element.evaluation_type === 'multilabel' && element.add_individual_results"
              data-cy="appEvaluatorMenuIndividualResults" mat-menu-item>
        Individual results
      </button>
      <button (click)="openFilteredAverage(element)" *ngIf="element.evaluation_type === 'multilabel' && element.add_individual_results"
              data-cy="appEvaluatorMenuFilteredAverage" mat-menu-item>
        Filtered average
      </button>
      <button (click)="openMisclassifiedExamples(element)" *ngIf="element.evaluation_type === 'entity' && element.add_misclassified_examples"
              data-cy="appEvaluatorMenuMisclassifiedExamples" mat-menu-item>
        Misclassified examples
      </button>
    </ng-container>
    <button (click)="onEdit(element)" data-cy="appEvaluatorMenuEdit" mat-menu-item>
      Edit
    </button>
    <button (click)="retrainEvaluator(element)" mat-menu-item>
      Reevaluate
    </button>
    <mat-divider></mat-divider>
    <button (click)="onDelete(element, i)" data-cy="appEvaluatorMenuDelete" mat-menu-item>
      Delete
    </button>
  </ng-template>
</mat-menu>

<mat-menu #createMenu="matMenu">
  <ng-template matMenuContent>
    <button (click)="openCreateDialog('binary')" mat-menu-item data-cy="appEvaluatorCreateBtnMenuBinary">
      Binary
    </button>
    <button (click)="openCreateDialog('multilabel')" mat-menu-item data-cy="appEvaluatorCreateBtnMenuMultilabel">
      Multilabel
    </button>
    <button (click)="openCreateDialog('entity')" mat-menu-item data-cy="appEvaluatorCreateBtnMenuEntity">
      Entity
    </button>
  </ng-template>
</mat-menu>
