<h1 mat-dialog-title>New Project</h1>
<div mat-dialog-content>
  <form class="flex-col" [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm.value)">
    <mat-form-field>
      <input matInput placeholder="Title" autocomplete="off" formControlName="titleFormControl"
             [errorStateMatcher]="matcher" required>

      <mat-error *ngIf="projectForm.get('titleFormControl').hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Users</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
                  formControlName="usersFormControl" multiple required>
        <mat-option *ngFor="let item of users" [value]="item.url">
          {{item.username}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="projectForm.get('usersFormControl').hasError('required')">
        User is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="currentUser && currentUser.is_superuser">
      <mat-label>Select Owner</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
                  formControlName="ownerFormControl">
        <mat-option *ngFor="let item of users" [value]="item.id">
          {{item.username}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Indices</mat-label>
      <mat-select panelClass="select-panel-reveal-input" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple required>
        <mat-option *ngFor="let item of indices" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="projectForm.get('indicesFormControl').hasError('required')">
        Index is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button type="button" class="flex-item-left" mat-button (click)="closeDialog()">Close</button>
        </div>
        <div class="flex-item-right">
          <button type="submit" [disabled]="!projectForm.valid" mat-button>Create Project</button>
        </div>
      </div>

    </div>


  </form>
</div>
