<h1 mat-dialog-title>New Project</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit(projectForm.value)" [formGroup]="projectForm" class="flex-col">
    <mat-form-field data-cy="appProjectCreateDialogTitle">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="titleFormControl" matInput
             placeholder="Title" required>

      <mat-error *ngIf="projectForm.get('titleFormControl')?.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="currentUser?.is_superuser" data-cy="appProjectCreateDialogIndices">
      <mat-select [multiple]="true" formControlName="indicesFormControl" placeholder="Indices">
        <mat-option>
          <ngx-mat-select-search [formControl]="indicesFilterFormControl" noEntriesFoundLabel="No entries"
                                 placeholderLabel="Search"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let item of (filteredIndices | async)" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="currentUser?.is_superuser" data-cy="appProjectCreateDialogUsers">
      <mat-label>Users</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="usersFormControl"
                  multiple panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let item of users" [value]="item.username" [matTooltip]="item.username">
          {{item.display_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="currentUser?.is_superuser" data-cy="appProjectCreateDialogAdministrators">
      <mat-label>Administrators</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="administratorsFormControl"
                  multiple panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let item of users" [value]="item.username" [matTooltip]="item.username">
          {{item.display_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!currentUser?.is_superuser" class="max-width" floatLabel="never">
      <textarea class="max-width" formControlName="usersFormControl"
                matInput
                placeholder="Users">
      </textarea>
      <mat-hint>List of users with access to this project (newline separated)</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="!currentUser?.is_superuser" class="max-width" floatLabel="never">
      <textarea class="max-width" formControlName="administratorsFormControl"
                matInput
                placeholder="Administrators">
      </textarea>
      <mat-hint>List of administrators with access to this project (newline separated)</mat-hint>
    </mat-form-field>
    <mat-form-field *ngIf="!currentUser?.is_superuser && useUAA && currentUser?.profile">
      <mat-label>Scopes</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="scopeFormControl"
                  multiple panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let item of currentUser.profile.scopes" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
      <mat-hint>Users that belong to the given scope will have access to the Projects resources.</mat-hint>
    </mat-form-field>
    <mat-form-field *ngIf="currentUser?.is_superuser && useUAA" class="max-width" floatLabel="never"  data-cy="appProjectCreateDialogScope">
      <textarea class="max-width" formControlName="scopeFormControl"
                matInput
                placeholder="Scopes">
      </textarea>
      <mat-hint>Users that belong to the given scope will have access to the Projects resources.</mat-hint>
    </mat-form-field>

    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button (click)="closeDialog()" class="flex-item-left" mat-button type="button">Close</button>
        </div>
        <div class="flex-item-right">
          <button [disabled]="!projectForm.valid || createRequestInProgress" data-cy="appProjectCreateDialogSubmit" mat-button type="submit">Create
            Project
          </button>
        </div>
      </div>

    </div>


  </form>
</div>
