<div class="wrapper">
  <div class="table-container">
    <table mat-table [dataSource]="tableData" matSort
           matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="owner__username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
        <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="indices_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="indices-column-header">Indices</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-menu #indicesMenu="matMenu">
            <ng-template matMenuContent>
              <ng-template ngFor let-indice [ngForOf]="element.indices">
                <button mat-menu-item>{{ indice }}</button>
              </ng-template>
            </ng-template>
          </mat-menu>
          <button mat-stroked-button [matMenuTriggerFor]="indicesMenu">
            {{ element.indices.length }}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="users_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Users</th>
        <td mat-cell *matCellDef="let element">
          <mat-menu #userMenu="matMenu">
            <ng-template matMenuContent>
              <ng-template ngFor let-user [ngForOf]="projectUsers$ | async">
                <button mat-menu-item [matMenuTriggerFor]="userDetailed">
                  {{ user.username }}
                </button>
                <mat-menu #userDetailed="matMenu">
                  <button mat-menu-item>Email: {{ user.email }}</button>
                  <button mat-menu-item>
                    Joined: {{ user.date_joined | date }}
                  </button>
                  <button mat-menu-item>ID: {{ user.id }}</button>
                </mat-menu>
              </ng-template>
            </ng-template>
          </mat-menu>
          <button
            mat-stroked-button
            [matMenuTriggerFor]="userMenu"
            (click)="selectUserElement(element.users)"
          >
            {{ element.users.length }}
          </button>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="Modify">
        <th mat-header-cell class="center-header-cell" *matHeaderCellDef>
          Edit
        </th>
        <td mat-cell *matCellDef="let element; let index = index">
          <button mat-icon-button color="primary" (click)="edit(element)">
            <mat-icon aria-label="Edit Project">edit</mat-icon>
          </button>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="Modify">
        <th mat-header-cell class="center-header-cell" *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element; let i = index" (click)="$event.stopPropagation();">
          <button mat-icon-button color="primary" [matMenuTriggerFor]="editMenu">
            <mat-icon aria-label="Edit Options">more_vert</mat-icon>
          </button>
          <mat-menu #editMenu="matMenu">
            <div>
              <button mat-menu-item (click)="edit(element)">
                <mat-icon aria-label="Edit Project">edit</mat-icon>
                Edit
              </button>
            </div>
            <button mat-menu-item (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </mat-menu>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button *ngIf="currentUser && currentUser.is_superuser"
              class="new-resource-btn"
              mat-button
              color="primary"
              (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
        CREATE
      </button>
      <mat-paginator [pageSizeOptions]="[15, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
