<div class="max-height" fxFlex fxLayout="column">

  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button (click)="openCreateDialog()" *ngIf="currentUser?.is_superuser"
              class="paginator-margin-left"
              color="primary"
              data-cy="appProjectCreateProject"
              mat-raised-button>
        CREATE
      </button>
      <mat-form-field class="m-l-15 author">
        <input [formControl]="authorFilterControl"
               [matAutocomplete]="auto"
               aria-label="Filter by author"
               matInput
               placeholder="Filter by author">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="applyFilter($event.option)">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
            <span>{{user.username}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="m-l-15 title">
        <input [formControl]="titleFilterControl"
               aria-label="Filter by title"
               matInput
               placeholder="Filter by title">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-paginator [pageSizeOptions]="[25, 50, 100]" hidePageSize="true" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

  <div [appScrollTop]="tableData" class="table-container overflow-auto">
    <table [dataSource]="tableData" [trackBy]="trackById" mat-table
           matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Id</th>
        <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="author_username">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Author</th>
        <td *matCellDef="let element" mat-cell>{{ element.author_username }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>
        <td *matCellDef="let element" mat-cell>{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="indices_count">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          <span class="indices-column-header">Indices</span>
        </th>
        <td *matCellDef="let element" mat-cell>
          <button [matMenuTriggerData]="{element: element}" [matMenuTriggerFor]="indicesMenu" mat-stroked-button>
            {{ element.indices.length }}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="resource_count">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Resources</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="getResourceCounts(element)" [matMenuTriggerData]="{element: element}" [matMenuTriggerFor]="resourceMenu"
                  mat-stroked-button>
            {{element.resource_count}}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="users_count">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Users</th>
        <td *matCellDef="let element" mat-cell>

          <button
            (click)="selectUserElement(element.users)"
            [matMenuTriggerFor]="userMenu"
            mat-stroked-button
          >
            {{ element.users.length }}
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Modify">
        <th *matHeaderCellDef class="center-header-cell" mat-header-cell>Actions</th>
        <td (click)="$event.stopPropagation();" *matCellDef="let element; let i = index" mat-cell>
          <button [matMenuTriggerData]="{element: element}" [matMenuTriggerFor]="editMenu" color="primary"
                  mat-icon-button>
            <mat-icon aria-label="Edit Options">more_vert</mat-icon>
          </button>


        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>


</div>
<mat-menu #indicesMenu="matMenu">
  <ng-template let-element="element" matMenuContent>
    <ng-template [ngForOf]="element.indices" let-indice ngFor>
      <button mat-menu-item>{{ indice }}</button>
    </ng-template>
  </ng-template>
</mat-menu>
<mat-menu #resourceMenu="matMenu">
  <ng-template matMenuContent>
    <ng-container *ngIf="projectCounts$ | async as counts">
      <button *ngFor="let item of counts | keyvalue: valueAscOrder" mat-menu-item>{{ item.key.split('_').slice(1) | join:' ' | titlecase }}: {{item.value}}</button>
    </ng-container>
  </ng-template>
</mat-menu>
<mat-menu #userMenu="matMenu">
  <ng-template matMenuContent>
    <ng-container *ngFor="let user of projectUsers$ | async">
      <button *ngIf="user.username" [matMenuTriggerFor]="userDetailed" mat-menu-item>
        {{ user.username }}
      </button>
      <mat-menu #userDetailed="matMenu">
        <button mat-menu-item>Email: {{ user.email }}</button>
        <button mat-menu-item>
          Joined: {{ user.date_joined | date }}
        </button>
        <button mat-menu-item>ID: {{ user.id }}</button>
      </mat-menu>
    </ng-container>
  </ng-template>
</mat-menu>
<mat-menu #editMenu="matMenu">
  <ng-template let-element="element" matMenuContent>
    <button (click)="selectProject(element)" mat-menu-item>
      <mat-icon aria-label="Activate Project">touch_app
      </mat-icon>
      Use
    </button>
    <button (click)="edit(element)" mat-menu-item>
      <mat-icon aria-label="Edit Project">edit</mat-icon>
      Edit
    </button>
    <button (click)="onDelete(element)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </ng-template>
</mat-menu>
