<h1 mat-dialog-title>Register</h1>
<div class="dialog-content-wrapper" mat-dialog-content>
  <form class="flex-col" [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
    <mat-form-field data-cy="registerUsername">
      <input matInput placeholder="Username" autocomplete="new-username" formControlName="usernameFormControl"
             [errorStateMatcher]="matcher" required>

      <mat-error *ngIf="profileForm.get('usernameFormControl').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field data-cy="registerEmail">
      <input matInput placeholder="Email" autocomplete="new-email" formControlName="emailFormControl"
             [errorStateMatcher]="matcher">

      <mat-error *ngIf="profileForm.get('emailFormControl').hasError('email')">
        Email is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>
    <div class="flex-col" formGroupName="passwordForm">
      <mat-form-field data-cy="registerPassword1">
        <input matInput placeholder="Enter password" autocomplete="new-password"
               formControlName="passwordFormControl"
               type="password"
               [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="profileForm.get('passwordForm').get('passwordFormControl').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="profileForm.get('passwordForm').get('passwordFormControl').hasError('minlength')">
          Password must contain at least <strong>8</strong> characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field data-cy="registerPassword2">
        <input matInput placeholder="Confirm password" autocomplete="new-password"
               formControlName="passwordConfirmFormControl"
               type="password"
               [errorStateMatcher]="crossFieldMatcher" required>
        <mat-error
          *ngIf="profileForm.get('passwordForm').hasError('mismatch')">
          Passwords don't <strong>match</strong>
        </mat-error>
      </mat-form-field>

    </div>
    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button type="button" class="flex-item-left" mat-button (click)="closeDialog()"
                  data-cy="registerClose">No Thanks
          </button>
        </div>
        <div class="flex-item-right">
          <button type="submit" mat-button [disabled]="!profileForm.valid || makingRequest"
                  data-cy="registerSubmit">Register
          </button>
        </div>
      </div>
      <mat-error class="center-text" *ngIf="registrationError">
        <small data-cy="registerErrorMsg">{{registrationError}}</small>
      </mat-error>
    </div>


  </form>
</div>

