<h1 mat-dialog-title>New Reindexer</h1>
<div mat-dialog-content>
  <form fxLayout="column" [formGroup]="reindexerForm" (ngSubmit)="onSubmit(reindexerForm?.value)" fxLayoutGap="10px">
    <mat-form-field data-cy="appReindexerCreateDialogDesc">
      <input matInput placeholder="Description" autocomplete="off" formControlName="descriptionFormControl"
             [errorStateMatcher]="matcher" required>

      <mat-error *ngIf="reindexerForm?.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
      <mat-hint>{{reindexerOptions?.actions?.POST?.description?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field data-cy="appReindexerCreateDialogIndexName">
      <input matInput placeholder="New index name" autocomplete="off" formControlName="newNameFormControl"
             [errorStateMatcher]="matcher" required>

      <mat-error *ngIf="reindexerForm?.get('newNameFormControl')?.hasError('required')">
        New index name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="reindexerForm?.get('newNameFormControl')?.hasError('alreadyExists')">
        This index name is already in use
      </mat-error>
      <mat-hint>{{reindexerOptions?.actions?.POST?.new_index?.help_text || ''}}</mat-hint>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Indices</mat-label>
      <mat-select (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
        <app-mat-option-select-all></app-mat-option-select-all>
        <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="reindexerForm?.get('indicesFormControl')?.hasError('required')">
        Index is <strong>required</strong>
      </mat-error>
      <mat-hint>{{reindexerOptions?.actions?.POST?.indices?.help_text || ''}}</mat-hint>
    </mat-form-field>


    <mat-form-field data-cy="appReindexerCreateDialogFields">
      <mat-label>Select Fields</mat-label>
      <app-project-field-select [projectFields]="projectFields" [required]="true"
                                formControlName="fieldsFormControl"></app-project-field-select>
      <mat-error *ngIf="reindexerForm?.get('fieldsFormControl')?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
      <mat-hint>{{reindexerOptions?.actions?.POST?.fields?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Field types" autocomplete="off" formControlName="fieldTypesFormControl"
             [errorStateMatcher]="matcher">
      <mat-hint>{{reindexerOptions?.actions?.POST?.field_type?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)"></app-saved-search-autocomplete>


    <mat-form-field>
      <input matInput type="number" pattern="[1-9]\d*" placeholder="Random subset size" autocomplete="off"
             formControlName="randomSizeFormControl"
             [errorStateMatcher]="matcher">
      <mat-hint>{{reindexerOptions?.actions?.POST?.random_size?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-checkbox formControlName="addFactsMappingFormControl"
                  matTooltip="{{reindexerOptions?.actions?.POST?.add_facts_mapping?.help_text || ''}}"
                  matTooltipPosition="left">Add facts mapping
    </mat-checkbox>

    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button type="button" class="flex-item-left" mat-button (click)="closeDialog()">Close</button>
        </div>
        <div class="flex-item-right">
          <button type="submit" [disabled]="!reindexerForm?.valid" mat-button data-cy="appReindexerCreateDialogSubmit">
            Create
          </button>
        </div>
      </div>

    </div>


  </form>
</div>
