<h1 mat-dialog-title>New Embedding</h1>
<div mat-dialog-content>
  <form class="flex-col" [formGroup]="embeddingForm" (ngSubmit)="onSubmit(embeddingForm.value)">
    <mat-form-field>
      <input matInput placeholder="Description" autocomplete="off" formControlName="descriptionFormControl"
             [errorStateMatcher]="matcher" required>

      <mat-error *ngIf="embeddingForm.get('descriptionFormControl').hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Query" formControlName="queryFormControl"></textarea>
      <mat-hint>Default: {{defaultQuery}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Fields</mat-label>
      <mat-select formControlName="fieldsFormControl" multiple required>
        <mat-optgroup *ngFor="let group of projectFields" [label]="group.index">
          <mat-option *ngFor="let fields of group.fields" [value]="fields">
            {{fields.path}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="embeddingForm.get('fieldsFormControl').hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Number of Dimensions" formControlName="dimensionsFormControl">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Minimum frequency" formControlName="frequencyFormControl">
    </mat-form-field>
    <div class="flex-col">
      <div class="flex-row">
        <div class="flex-item-left">
          <button type="button" class="flex-item-left" mat-button (click)="closeDialog()">Close</button>
        </div>
        <div class="flex-item-right">
          <button type="submit" [disabled]="!embeddingForm.valid" mat-button>Create</button>
        </div>
      </div>

    </div>


  </form>
</div>

