<h1 mat-dialog-title>New Tagger</h1>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit(taggerForm.value)" [formGroup]="taggerForm" class="flex-col" id="taggerForm">
    <mat-form-field data-cy="appTaggerCreateDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="descriptionFormControl" matInput
             placeholder="Description" required>

      <mat-error *ngIf="taggerForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
      <mat-hint>{{taggerOptions?.actions?.POST?.description?.help_text ?? ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field data-cy="appTaggerCreateDialogIndices">
      <mat-label>Indices</mat-label>
      <mat-select (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
        <app-mat-option-select-all></app-mat-option-select-all>
        <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('indicesFormControl')?.hasError('required')">
        Need at least 1 index
      </mat-error>
      <mat-hint>{{taggerOptions?.actions?.POST?.indices?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field data-cy="appTaggerCreateDialogFields">
      <mat-label>Select Fields</mat-label>
      <app-project-field-select [projectFields]="projectFields" [required]="true"
                                formControlName="fieldsFormControl"></app-project-field-select>
      <mat-error *ngIf="taggerForm.get('fieldsFormControl')?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
      <mat-hint>{{taggerOptions?.actions?.POST?.fields?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fact name</mat-label>
      <mat-select [disableOptionCentering]="true"
                  formControlName="factNameFormControl" panelClass="select-panel-reveal-input">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let fact of projectFacts | async" [value]="fact">
          {{fact.name}}
        </mat-option>
      </mat-select>
      <mat-hint>{{taggerOptions?.actions?.POST?.fact_name?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <div class="checkbox-info-row m-top-5">
      <mat-checkbox formControlName="balanceFormControl">Balance
      </mat-checkbox>
      <app-info-icon [textTemplate]="balanceTemplate" textTitle="Balance">
        <ng-template #balanceTemplate>
          <p>{{taggerOptions?.actions?.POST?.balance?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>

      <mat-checkbox class="m-l-15" formControlName="maxBalanceFormControl">Balance to max limit
      </mat-checkbox>
      <app-info-icon [textTemplate]="balanceToMaxLimit" textTitle="Balance to max limit">
        <ng-template #balanceToMaxLimit>
          <p>{{taggerOptions?.actions?.POST?.balance_to_max_limit?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
    </div>
    <mat-form-field style="margin-top: 10px;"
                    *ngIf="this.taggerForm.get('factNameFormControl')?.value?.values.length === 2">
      <mat-label>Positive label</mat-label>
      <mat-select [disableOptionCentering]="true"
                  formControlName="posLabelFormControl" panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let factVal of this.taggerForm.get('factNameFormControl')?.value?.values" [value]="factVal">
          {{factVal}}
        </mat-option>
      </mat-select>
      <mat-hint>{{taggerOptions?.actions?.POST?.pos_label?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)" [startingQuery]="query"
                                   data-cy="appTaggerCreateDialogQuery"></app-saved-search-autocomplete>
    <mat-form-field>
      <app-textarea-lexicon formControlName="stopWordsFormControl"
                            placeholder="Stopwords (newline separated)"></app-textarea-lexicon>

      <mat-hint>{{taggerOptions?.actions?.POST?.stop_words?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field data-cy="appTaggerCreateDialogEmbedding">
      <mat-label>Select Embedding</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="embeddingFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let item of embeddings" [value]="item">
          {{item.description}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('embeddingFormControl')?.hasError('required')">
        Embedding is <strong>required</strong>
      </mat-error>
      <mat-hint>{{taggerOptions?.actions?.POST?.embedding?.help_text || ''}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Snowball Language</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="snowballFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let item of snowballLanguages" [value]="item">
          {{item ? item : 'None'}}
        </mat-option>
      </mat-select>
      <mat-hint>{{taggerOptions?.actions?.POST?.snowball_language?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <div class="checkbox-info-row m-bot-5 m-top-5">
      <mat-checkbox formControlName="detectLangFormControl">Detect language
      </mat-checkbox>
      <app-info-icon [textTemplate]="detectLangTemplate" textTitle="Detect language">
        <ng-template #detectLangTemplate>
          <p>{{taggerOptions?.actions?.POST?.detect_lang?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
    </div>
    <mat-form-field>
      <mat-label>Scoring Function</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="scoringFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let item of taggerOptions?.actions?.POST?.scoring_function?.choices" [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
      <mat-hint>{{taggerOptions?.actions?.POST?.scoring_function?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Analyzer</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="analyzerFormControl"
                  panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let item of taggerOptions?.actions?.POST?.analyzer?.choices" [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('analyzerFormControl')?.hasError('required')">
        Analyzer is <strong>required</strong>
      </mat-error>
      <mat-hint>{{taggerOptions?.actions?.POST?.analyzer?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vectorizer</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="vectorizerFormControl"
                  panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let item of taggerOptions?.actions?.POST?.vectorizer?.choices" [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('vectorizerFormControl')?.hasError('required')">
        Vectorizer is <strong>required</strong>
      </mat-error>
      <mat-hint>{{taggerOptions?.actions?.POST?.vectorizer?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Classifier</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="classifierFormControl"
                  panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let item of taggerOptions?.actions?.POST?.classifier?.choices" [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
      <mat-hint>{{taggerOptions?.actions?.POST?.classifier?.help_text || ''}}</mat-hint>
      <mat-error *ngIf="taggerForm.get('classifierFormControl')?.hasError('required')">
        Classifier is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field data-cy="appTaggerCreateDialogSampleSize">
      <input formControlName="sampleSizeFormControl" matInput pattern="[1-9]\d*" placeholder="Maximum sample size"
             step="1000"
             type="number">
      <mat-hint>{{taggerOptions?.actions?.POST?.maximum_sample_size?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="minSampleSizeFormControl" matInput pattern="[1-9]\d*" placeholder="Minimum sample size"
             step="10"
             type="number">
      <mat-hint>{{taggerOptions?.actions?.POST?.minimum_sample_size?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="negativeMultiplierFormControl" matInput pattern="([0-9]*|[0-9]*[.]?)\d*"
             placeholder="Negative Multiplier" step="0.1"
             type="number">

      <mat-hint>{{taggerOptions?.actions?.POST?.negative_multiplier?.help_text || ''}}</mat-hint>
    </mat-form-field>
    <div class="checkbox-info-row m-bot-5 m-top-5">
      <mat-checkbox formControlName="ignoreNumbersFormControl">Ignore numbers
      </mat-checkbox>
      <app-info-icon [textTemplate]="ignoreNumbersTemplate" textTitle="Ignore numbers">
        <ng-template #ignoreNumbersTemplate>
          <p>{{taggerOptions?.actions?.POST?.ignore_numbers?.help_text || ''}}</p>
        </ng-template>
      </app-info-icon>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="flex-row max-width">
    <div class="flex-item-left">
      <button class="flex-item-left" mat-button mat-dialog-close type="button">Close</button>
    </div>
    <div class="flex-item-right">
      <button [disabled]="!taggerForm.valid" data-cy="appTaggerCreateDialogSubmit" form="taggerForm" mat-button
              type="submit">Create
      </button>
    </div>
  </div>
</mat-dialog-actions>
