<h1 mat-dialog-title>New Tagger</h1>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit(taggerForm.value)" [formGroup]="taggerForm" class="flex-col" id="taggerForm">
    <mat-form-field data-cy="appTaggerCreateDialogDesc">
      <input [errorStateMatcher]="matcher" autocomplete="off" formControlName="descriptionFormControl" matInput
             placeholder="Description" required>

      <mat-error *ngIf="taggerForm.get('descriptionFormControl')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field data-cy="appTaggerCreateDialogIndices">
      <mat-label>Indices</mat-label>
      <mat-select (openedChange)="indicesOpenedChange($event)" [disableOptionCentering]="true"
                  formControlName="indicesFormControl" multiple panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let projectIndex of projectIndices" [value]="projectIndex">
          {{projectIndex.index}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('indicesFormControl')?.hasError('required')">
        Need at least 1 index
      </mat-error>
    </mat-form-field>
    <mat-form-field data-cy="appTaggerCreateDialogFields" >
      <mat-label>Select Fields</mat-label>
      <app-project-field-select formControlName="fieldsFormControl" [required]="true" [projectFields]="projectFields" ></app-project-field-select>
      <mat-error *ngIf="taggerForm.get('fieldsFormControl')?.hasError('required')">
        Field is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fact name</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="factNameFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let fact of projectFacts" [value]="fact">
          {{fact}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-saved-search-autocomplete (queryChanged)="onQueryChanged($event)"
                                   data-cy="appTaggerCreateDialogQuery"></app-saved-search-autocomplete>
    <mat-form-field>
      <app-textarea-lexicon formControlName="stopWordsFormControl" placeholder="Stopwords (newline separated)"></app-textarea-lexicon>
    </mat-form-field>

    <mat-form-field data-cy="appTaggerCreateDialogEmbedding">
      <mat-label>Select Embedding</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="embeddingFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let item of embeddings" [value]="item">
          {{item.description}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('embeddingFormControl')?.hasError('required')">
        Embedding is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Snowball Language</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="snowballFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let item of taggerOptions.actions.POST.snowball_language.choices" [value]="item">
          {{item.display_name === null ? 'none' : item.display_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Scoring Function</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="scoringFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option *ngFor="let item of taggerOptions.actions.POST.scoring_function.choices" [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vectorizer</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="vectorizerFormControl"
                  panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let item of taggerOptions.actions.POST.vectorizer.choices" [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('vectorizerFormControl')?.hasError('required')">
        Vectorizer is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Classifier</mat-label>
      <mat-select [disableOptionCentering]="true" formControlName="classifierFormControl"
                  panelClass="select-panel-reveal-input" required>
        <mat-option *ngFor="let item of taggerOptions.actions.POST.classifier.choices" [value]="item">
          {{item.display_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="taggerForm.get('classifierFormControl')?.hasError('required')">
        Classifier is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field data-cy="appTaggerCreateDialogSampleSize">
      <input formControlName="sampleSizeFormControl" matInput pattern="[1-9]\d*" placeholder="Maximum sample size" step="1000"
             type="number">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="negativeMultiplierFormControl" matInput pattern="([0-9]*|[0-9]*[.]?)\d*" placeholder="Negative Multiplier" step="0.1"
             type="number">
    </mat-form-field>
    <mat-checkbox formControlName="ignoreNumbersFormControl"
                  matTooltip="If enabled, ignore all numbers as possible features."
                  matTooltipPosition="left">Ignore numbers
    </mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="flex-row max-width">
    <div class="flex-item-left">
      <button class="flex-item-left" mat-button mat-dialog-close type="button">Close</button>
    </div>
    <div class="flex-item-right">
      <button [disabled]="!taggerForm.valid" form="taggerForm" data-cy="appTaggerCreateDialogSubmit" mat-button type="submit">Create
      </button>
    </div>
  </div>
</mat-dialog-actions>
