@import "../../variables/variables";

.mat-drawer-container {
  max-height: calc(100vh - #{$navbar-height});
  min-height: calc(100vh - #{$navbar-height});

  .mat-drawer {
    max-width: 385px;
    min-width: 385px;
  }
}
