@import "../../../variables/variables";

table {
  width: 100%;
}

:host {
  overflow: hidden;
  height: 100%;
}

.mat-cell {
  word-break: break-word;
}

.mat-column-Modify {
  width: 40px;
  text-align: center;
}


.indices-column-header{
  margin-left: 8px;
}
