<div class="wrapper">

  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button *ngIf="currentUser?.is_superuser" data-cy="appProjectCreateProject"
              class="paginator-margin-left"
              mat-raised-button
              color="primary"
              (click)="openCreateDialog()">
        CREATE
      </button>
      <mat-form-field class="m-l-15">
        <input matInput
               placeholder="Filter by author"
               aria-label="Filter by author"
               [matAutocomplete]="auto"
               [formControl]="authorFilterControl">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="applyFilter($event.option)">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
            <span>{{user.username}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="tableData" matSort
           matSort matSortActive="id" matSortDisableClear matSortDirection="desc" [trackBy]="trackById">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="author_username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
        <td mat-cell *matCellDef="let element">{{ element.author_username }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="indices_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="indices-column-header">Indices</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button [matMenuTriggerFor]="indicesMenu" [matMenuTriggerData]="{element: element}">
            {{ element.indices.length }}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="users_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Users</th>
        <td mat-cell *matCellDef="let element">

          <button
            mat-stroked-button
            [matMenuTriggerFor]="userMenu"
            (click)="selectUserElement(element.users)"
          >
            {{ element.users.length }}
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Modify">
        <th mat-header-cell class="center-header-cell" *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element; let i = index" (click)="$event.stopPropagation();">
          <button mat-icon-button color="primary" [matMenuTriggerFor]="editMenu"
                  [matMenuTriggerData]="{element: element}">
            <mat-icon aria-label="Edit Options">more_vert</mat-icon>
          </button>


        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>


</div>
<mat-menu #indicesMenu="matMenu">
  <ng-template matMenuContent let-element="element">
    <ng-template ngFor let-indice [ngForOf]="element.indices">
      <button mat-menu-item>{{ indice }}</button>
    </ng-template>
  </ng-template>
</mat-menu>
<mat-menu #userMenu="matMenu">
  <ng-template matMenuContent>
    <ng-container *ngFor="let user of projectUsers$ | async">
      <button mat-menu-item [matMenuTriggerFor]="userDetailed" *ngIf="user.username">
        {{ user.username }}
      </button>
      <mat-menu #userDetailed="matMenu">
        <button mat-menu-item>Email: {{ user.email }}</button>
        <button mat-menu-item>
          Joined: {{ user.date_joined | date }}
        </button>
        <button mat-menu-item>ID: {{ user.id }}</button>
      </mat-menu>
    </ng-container>
  </ng-template>
</mat-menu>
<mat-menu #editMenu="matMenu">
  <ng-template matMenuContent let-element="element">
    <button (click)="edit(element)" mat-menu-item>
      <mat-icon aria-label="Edit Project">edit</mat-icon>
      Edit
    </button>
    <button mat-menu-item (click)="onDelete(element)">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </ng-template>
</mat-menu>
