// searcher table, clustering view documents table, more like this table
.readable-table {

  .mat-header-cell {
    border-right: solid 1px rgba(0, 0, 0, 0.23);
    padding-left: 7px;
    white-space: nowrap;
    border-bottom-color: rgba(0, 0, 0, 0.23) !important;
    color: rgba(0, 0, 0, 0.87);

    .mat-sort-header-container {
      justify-content: center;
    }
    .mat-sort-header-button{
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .mat-cell {
    max-width: 500px;
    overflow-wrap: break-word;
    line-height: 1.5;
    border-bottom-color: rgba(0, 0, 0, 0.23) !important;
    vertical-align: top;
    border-right: solid 1px rgba(0, 0, 0, 0.23);
    padding: 7px;
  }

  .mat-header-row {
    height: 50px;
  }

  app-highlight {
    white-space: pre-line;
  }
}

.tasks-table{

  table {
    width: 100%;
  }

  .mat-cell {
    word-break: break-word;
  }

  .mat-column-task__status {
    max-width: 160px;
  }

  tr.element-row:not(.expanded-row):hover {
    background: #eeeeee;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  tr.detail-row {
    height: 0;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

}
.mat-tooltip{
  font-size: 12px;
}
.mat-form-field.stretch-height,
.mat-form-field.stretch-height .mat-form-field-flex,
.mat-form-field.stretch-height textarea {
  height: 100%;
}
.mat-form-field.stretch-height .mat-form-field-wrapper {
  height: calc(100% - 1.34375em);
}
.mat-form-field.stretch-height .mat-form-field-infix {
  height: 100%
}

