/*view encapsulation none type of style overrides*/
app-searcher-sidebar {
  .mat-tab-label {
    min-width: 50px;
  }
}

.mat-select-panel {
  max-height: 384px !important;
}

mat-form-field.bottom-padding-none {
  .mat-form-field-wrapper {
    margin-bottom: -1.34em;
  }
}

mat-optgroup {
  .mat-option {
    padding-left: 30px;
  }
}

.mat-tooltip {
  white-space: pre-line;
}

mat-chip-list.chip-list-space-evenly {
  div {
    justify-content: space-evenly !important;
  }
}

// panelClass for mat dialog to remove padding
.custom-no-padding-dialog .mat-dialog-container {
  padding: 0 !important;
}

// panelClass for mat dialog for display flex (scrollable table uses)
.custom-flex-dialog .mat-dialog-container {
  display: flex;
}

.expansion-panel-less-padding {
  mat-expansion-panel-header {
    padding: 0 10px;
  }

  .mat-expansion-panel-body {
    padding: 0 10px 0;
  }
}

// https://github.com/angular/components/issues/8798
.dialog-checkbox-fix {
  min-height: 50px;
  display: flex;

  > mat-checkbox {
    align-self: center;
  }
}

.small-icon-button {
  width: 30px !important;
  height: 30px !important;
  line-height: 28px !important;

  .mat-icon {
    width: 24px !important;
    height: 26px !important;
    line-height: 24px !important;
  }

  .material-icons {
    font-size: 24px !important;
  }
}
