/* You can add global styles to this file, and also import other style files */
@import "./custom-theme.scss";
@import "./variables/variables";
@import "library-overrides";
// might be problematic todo
div {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

pre {
  white-space: pre-wrap;
}

.flex {
  display: flex;
  &-col {
    @extend .flex;
    flex-direction: column;
  }
  &-row {
    @extend .flex;
    flex-direction: row;
  }
}

.flex-item {
  &-right {
    margin-left: auto;
  }
  &-left {
    margin-right: auto;
  }
  &-center {
    align-self: center;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.align-items-center {
  align-items: center;
}

.max-width {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-right {
  margin-right: 5px;
}

.margin-left-right {
  margin-left: 5px;
  margin-right: 5px;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.m-top-5 {
  margin-top: 5px;
}

.m-top-10 {
  margin-top: 10px;
}

.m-h-5 {
  margin: 0px 5px;
}

.action-text {
  color: $primary;
}

.action-text:hover {
  text-decoration: underline;
}

.overflow-auto {
  overflow: auto;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}


.table-actions-wrapper {
  background-color: map-get($background, card);

  border-top-left-radius: 8.5px;
  border-top-right-radius: 8.5px;

  display: inline-block;
  left: 0px;

  position: relative;
  border-bottom: 0px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}


.simple-table {
  margin: 5px;
  font-family: arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

.simple-table td, .simple-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
