/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "ng-select-improvements";

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
  &-col {
    @extend .flex;
    flex-direction: column;
  }
  &-row {
    @extend .flex;
    flex-direction: row;
  }
}

.flex-item {
  &-right {
    margin-left: auto;
  }
  &-left {
    margin-right: auto;
  }
  &-center {
    align-self: center;
  }
}

.max-width {
  width: 100%;
}
