.breadcrumb {
  margin: 0;
  padding: 8px 8px 8px 24px;
  a, span{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);;
  }
  a:hover {
    color: #3f51b5;
    text-decoration: underline;
  }
  a{
    margin: 5px;
  }
  span::after {
    content: "/";
  }
  span:last-child::after {
    content: "";
  }
}
