
:host {
  overflow: hidden;
  height: 100%;
}

.health-wrapper {
  border-left: 1px solid #e0e0e0;

  .mat-chip.mat-standard-chip.mat-chip-disabled {
    opacity: 1;
  }
}


.usage-card {
  max-width: 625px;
  margin-bottom: 10px;
}

.service-status-card {
  margin-top: 10px;
  max-width: 625px;
  margin-bottom: 10px;
}

.counts-card {
  max-width: 625px;
  margin-bottom: 10px;
}

.count-text {
  font-size: 30px;
}
.project-table{
  min-width: 785px;
}
