.health-wrapper {
  border-left: 1px solid #e0e0e0;

  .mat-chip.mat-standard-chip.mat-chip-disabled {
    opacity: 1;
  }
}


.ok-text {
  color: green;
}

.danger-text {
  color: red;
}


.health-table {
  max-width: 725px;
  padding: 50px;
}

.usage-card {
  max-width: 725px;
  margin-bottom: 10px;
}

.service-status-card {
  margin-top: 10px;
  max-width: 725px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.counts-card {
  max-width: 725px;
}

.count-text {
  font-size: 30px;
}


.unreachable {
  font-size: 30px;
}

.unreachable-card {
  max-width: 725px;
  margin-top: 10px;
}
