<div *ngIf="user" class="max-height" fxLayout="row">
  <div class="project-table" fxFlex="60%">
    <app-project></app-project>
  </div>
  <div class="health-wrapper" fxFlex="40%">
    <div *ngIf="health?.services" data-cy="appHomeHealth">
      <mat-card class="service-status-card center-margin" fxLayout="row wrap" fxLayoutGap="5px">
        <mat-chip-list class="center-margin chip-list-space-evenly" disabled>
          <mat-chip [color]="health.services.elastic.alive ? 'primary' : 'accent'" selected>
            Elasticsearch {{health.services.elastic.alive ? 'ONLINE' : 'OFFLINE'}}  </mat-chip>
          <mat-chip [color]="health.services.redis.alive ? 'primary' : 'accent'" selected>
            Redis {{health.services.redis.alive ? 'ONLINE' : 'OFFLINE'}}  </mat-chip>
          <mat-chip color="primary" selected> API {{health.toolkit.version}}  </mat-chip>
          <mat-chip color="primary" selected> GUI {{frontVersion}}  </mat-chip>
        </mat-chip-list>
      </mat-card>

      <mat-card class="usage-card center-margin m-top-10" fxLayout="row wrap" fxLayoutGap="5px">
        <div fxFlex="1 0 125px">
          <h4 class="mat-h4 center-text"> DISK SPACE </h4>
          <mat-progress-spinner
            [color]="((health.host.disk.used / health.host.disk.total) * 100) < 90 ? 'primary' : 'warn'"
            [mode]="'determinate'"
            [value]="(health.host.disk.used / health.host.disk.total) * 100"
            class="center-margin"
          >
          </mat-progress-spinner>
          <div style="position:relative; top: -60px;">
            <span
              class="block center-text">{{(((health.host.disk.used / health.host.disk.total) * 100))| number:'1.0-0' }}
              % </span>
          </div>
          <span class="mat-hint mat-small center-text block"> {{health.host.disk.used | number}}
            /  {{health.host.disk.total| number}} {{health.host.disk.unit}} </span>
        </div>

        <div fxFlex="1 0 125px">
          <h4 class="mat-h4 center-text">MEMORY</h4>
          <mat-progress-spinner
            [color]="((health.host.memory.used / health.host.memory.total) * 100) < 90 ? 'primary' : 'warn'"
            [mode]="'determinate'"
            [value]="(health.host.memory.used / health.host.memory.total) * 100"
            class="center-margin"
          >
          </mat-progress-spinner>
          <div style="position:relative; top: -60px;">
            <span
              class="block center-text">{{((health.host.memory.used / health.host.memory.total) * 100)| number:'1.0-0' }}
              % </span>
          </div>
          <span class="mat-hint mat-small center-text block">  {{health.host.memory.used | number}}
            /  {{health.host.memory.total| number}} {{health.host.memory.unit}} </span>
        </div>

        <div fxFlex="1 0 125px">
          <h4 class="mat-h4 center-text"> CPU USAGE </h4>
          <mat-progress-spinner
            [color]="health.host.cpu.percent < 90 ? 'primary' : 'warn'"
            [mode]="'determinate'"
            [value]="health.host.cpu.percent"
            class="center-margin"
          >
          </mat-progress-spinner>
          <div style="position:relative; top: -60px">
            <span class="block center-text">{{health.host.cpu.percent}}%</span>
          </div>
        </div>
      </mat-card>


      <mat-card class="counts-card center-margin" fxLayout="row wrap" fxLayoutGap="5px">

        <div fxFlex>
          <span [ngClass]="health.host.gpu.count > 0 ? 'primary-text' : 'accent-text'"
                class="count-text center-text block">  {{health.host.gpu.count}} </span>
          <span class="mat-hint center-text block">GPUs</span>
        </div>

        <div fxFlex>
          <span [ngClass]="health.toolkit.active_tasks > 0 ? 'accent-text' : 'primary-text'"
                class="count-text center-text block">  {{health.toolkit.active_tasks}} </span>
          <span class="mat-hint center-text block">Active Tasks</span>
        </div>

      </mat-card>
    </div>
  </div>
</div>
