<div [title]="isTextLimited !== undefined ? isTextLimited ? 'Expand' : 'Collapse': ''">
  <ng-container *ngFor="let highlight of highlightArray">
    <ng-template [ngIf]="highlight.highlighted && !highlight.span?.searcherHighlight && !highlight.span?.urlSpan">
      <span style="cursor: pointer;" style.background-color="{{highlight?.color?.backgroundColor}}"
            style.color="{{highlight?.color?.textColor}}"
            title="{{highlight.span | accessor: titleAccessor}}">{{highlight.text}}</span>
    </ng-template>
    <ng-template [ngIf]="highlight.highlighted && highlight.span?.searcherHighlight">
      <span style="cursor: pointer;" style.background-color="{{highlight?.color?.backgroundColor}}"
            style.color="{{highlight?.color?.textColor}}">{{highlight.text}}</span>
    </ng-template>
    <ng-template [ngIf]="highlight.highlighted && highlight.span?.urlSpan">
      <a href="{{highlight.span?.str_val}}" target="_blank">{{highlight.text}}</a>
    </ng-template>
    <ng-template [ngIf]="highlight.nested">
      <ng-container [ngTemplateOutletContext]={highlight:highlight.nested} [ngTemplateOutlet]="factTemplate">
      </ng-container>
    </ng-template>
    <ng-template [ngIf]="!highlight.highlighted">{{highlight.text}}</ng-template>
  </ng-container>
</div>
<ng-template #factTemplate let-highlight="highlight">
  <ng-template [ngIf]="highlight.span?.urlSpan">
    <a href="{{highlight.span?.str_val}}" target="_blank">{{highlight.text}}</a>
  </ng-template>
  <ng-template [ngIf]="!highlight.span?.urlSpan">
  <span style="cursor: pointer;" style.background-color="{{highlight?.color?.backgroundColor}}"
        style.color="{{highlight?.color?.textColor}}"
        title="{{highlight.span | accessor: titleAccessor}}">{{highlight.text}}</span>
  </ng-template>
  <ng-template [ngIf]="highlight.nested">
    <ng-container [ngTemplateOutletContext]={highlight:highlight.nested} [ngTemplateOutlet]="factTemplate">
    </ng-container>
  </ng-template>
</ng-template>
