<div fxLayout="column">
  <div fxLayout="row" fxLayoutGap="5px">
    <mat-form-field fxFlex="20">
      <mat-label>Operator</mat-label>
      <mat-select [disableOptionCentering]="true" [formControl]="operatorFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option value="must">and</mat-option>
        <mat-option value="should">or</mat-option>
        <mat-option value="must_not">not</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- idk why, but auto doesnt work, this calc hack for some reason does -->
    <mat-form-field fxFlex="3 3 calc(1em + 20px)">
      <mat-label>Match</mat-label>
      <mat-select [disableOptionCentering]="true" [formControl]="matchFormControl"
                  panelClass="select-panel-reveal-input">
        <mat-option value="phrase_prefix">phrase prefix</mat-option>
        <mat-option value="best_fields">word</mat-option>
        <mat-option value="phrase">phrase</mat-option>
        <mat-option value="regexp">regex</mat-option>
        <mat-option value="fuzzy" matTooltip="For term level queries">fuzzy</mat-option>
        <mat-option value="match_fuzzy" matTooltip="For full-text search">match fuzzy</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="matchFormControl.value !== 'fuzzy' && matchFormControl.value !== 'match_fuzzy'" fxFlex="20">
      <mat-label>Slop</mat-label>
      <input [formControl]="slopFormControl" matInput min="0" type="number">
    </mat-form-field>
    <mat-form-field *ngIf="matchFormControl.value === 'fuzzy' || matchFormControl.value === 'match_fuzzy'" fxFlex="20">
      <mat-label>Fuzziness</mat-label>
      <input [formControl]="fuzzinessFormControl" matInput min="0" type="number">
    </mat-form-field>
    <mat-form-field *ngIf="matchFormControl.value === 'fuzzy' || matchFormControl.value === 'match_fuzzy'" fxFlex="20">
      <mat-label>Prefix length</mat-label>
      <input [formControl]="prefixLengthFormControl" matInput min="0" type="number">
    </mat-form-field>
  </div>
  <div fxLayout="column">
    <mat-form-field class="max-width">
      <textarea [formControl]="textAreaFormControl" class="max-width"
                matInput
                placeholder="Type here"></textarea>
    </mat-form-field>
    <button *ngIf="lexicons.length > 0" [matMenuTriggerFor]="menu" mat-stroked-button>Add lexicon</button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let lexicon of lexicons">
        <button (click)="addLexicon(lexicon)" [matMenuTriggerFor]="lexiconDetailed" mat-menu-item>
          {{ lexicon.description }}
        </button>
        <mat-menu #lexiconDetailed="matMenu">
          <div *ngFor="let phrase of lexicon.positives_used" disabled mat-menu-item>{{ phrase }}</div>
        </mat-menu>
      </ng-container>
    </mat-menu>
  </div>
</div>
