<div class="wrapper">

  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="searchService.getIsLoading() | async" mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="paginator-row">
      <mat-form-field class="margin-right">
        <mat-label>Toggle Columns</mat-label>
        <mat-select (openedChange)="onfieldSelectionChange($event)"
                    [formControl]="columnFormControl"
                    data-cy="appSearcherTableColumnSelect"
                    multiple>
          <app-mat-option-select-all></app-mat-option-select-all>
          <mat-option *ngFor="let column of displayedColumns" [value]="column">
            {{column}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="drawerToggle.emit(true)" mat-stroked-button>Toggle drawer</button>
      <button (click)="exportSearch()" data-cy="appSearcherTableExport" mat-stroked-button style="margin-left: 5px">
        Export results
      </button>
      <mat-paginator (page)="pageChange($event)" [length]="paginatorLength" [pageSizeOptions]="[10, 20, 50]"
                     showFirstLastButtons>

      </mat-paginator>
    </div>
  </div>
  <div [appScrollTop]="tableData" [hidden]="displayedColumns.length === 0" class="table-container overflow-auto">

    <table [dataSource]="tableData" [trackBy]="trackByTableData" class="readable-table" mat-table matSort>

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th *matHeaderCellDef mat-header-cell mat-sort-header><span [title]="column"
                                                                    class="column-header-text">{{column}}</span></th>
        <td *matCellDef="let row" mat-cell>
          <ng-container *ngIf="(row.doc[column] | isObject)"><!--pure pipe does memoization for us-->
            <ng-container *ngIf="column === 'texta_facts'">
              <app-texta-facts-chips (factNameClick)="buildFactNameSearch($event)"
                                     (factValueClick)="buildFactValSearch($event)"
                                     [facts]="row.doc[column]"></app-texta-facts-chips>
            </ng-container>
            <pre *ngIf="column !== 'texta_facts'">
                 {{row.doc[column] | json}}
              </pre>
          </ng-container>
          <ng-container *ngIf="!(row.doc[column] | isObject)">
            <app-highlight
              [highlightConfig]="{
                          currentColumn: column,
                          searcherHighlight: searchOptions.highlightSearcherMatches ? row.highlight : null,
                          onlyHighlightMatching: searchOptions.onlyHighlightMatching,
                          highlightTextaFacts: searchOptions.highlightTextaFacts,
                          highlightHyperlinks: true,
                          showShortVersion: searchOptions.showShortVersion,
                          data: row.doc}">
            </app-highlight>
          </ng-container>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="columnsToDisplay; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>


    </table>
    <div *ngIf="tableData.data.length === 0 && this.currentElasticQuery" class="center-text">No results found</div>
  </div>

</div>
