<div class="wrapper">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="searchService.getIsLoading() | async"></mat-progress-bar>
    </div>

    <div class="paginator-row">
      <mat-form-field class="margin-right">
        <mat-label>Toggle Columns</mat-label>
        <mat-select [formControl]="columnFormControl"
                    data-cy="appSearcherTableColumnSelect"
                    multiple
                    (openedChange)="onfieldSelectionChange($event)">
          <app-mat-option-select-all></app-mat-option-select-all>
          <mat-option *ngFor="let column of displayedColumns" [value]="column">
            {{column}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button (click)="drawerToggle.emit(true)">Toggle drawer</button>
      <mat-paginator (page)="pageChange($event)" [pageSizeOptions]="[10, 20, 50]" [length]="paginatorLength"
                     showFirstLastButtons>

      </mat-paginator>
    </div>
  </div>
  <div [hidden]="displayedColumns.length === 0" class="table-container" [appScrollTop]="tableData">

    <table mat-table [dataSource]="tableData" matSort [trackBy]="trackByTableData" class="readable-table">

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="column-header-text"
                                                                    [title]="column">{{column}}</span></th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="(row.doc[column] | isObject)"><!--pure pipe does memoization for us-->
            <ng-container *ngIf="column === 'texta_facts'">
              <app-texta-facts-chips [facts]="row.doc[column]"></app-texta-facts-chips>
            </ng-container>
            <pre *ngIf="column !== 'texta_facts'">
                 {{row.doc[column] | json}}
              </pre>
          </ng-container>
          <ng-container *ngIf="!(!!searchOptions.showShortVersion) && !(row.doc[column] | isObject)">
            <app-highlight
              [highlightConfig]="{
                          currentColumn: column,
                          searcherHighlight: row.highlight,
                          onlyHighlightMatching: this.searchOptions.onlyHighlightMatching,
                          highlightTextaFacts: true,
                          highlightHyperlinks: true,
                          data: row.doc}">

            </app-highlight>
          </ng-container>
          <ng-container *ngIf="!!searchOptions.showShortVersion">
            <app-short-version
              [params]="{data: row.doc, currentColumn: column, searcherHighlight: row.highlight, contextWindow: searchOptions.showShortVersion}"></app-short-version>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>


    </table>

  </div>

</div>
<mat-menu #factMenu="matMenu">
  <ng-template matMenuContent let-data="data">
    <button mat-menu-item
            *ngFor="let fact of data | formatTextaFacts">
      <button mat-menu-item [matMenuTriggerFor]="factValuesList"
              [matMenuTriggerData]="{factValues: fact.val}">{{fact.key}}: {{fact.val.length}}
      </button>
    </button>
    <mat-menu #factValuesList="matMenu">
      <ng-template matMenuContent let-factValues="factValues">
        <button mat-menu-item *ngFor="let factVal of factValues | groupSameValues">{{factVal.key}}: {{factVal.val}}</button>
      </ng-template>
    </mat-menu>
  </ng-template>
</mat-menu>
