@import "../../../variables/variables";

.wrapper {
  max-height: calc(100vh - #{$navbar-height});
  min-height: calc(100vh - #{$navbar-height});
}

.table-container {
  max-height: calc(100vh - #{$navbar-height} - #{$tasks-table-paginator-row});
  min-height: calc(100vh - #{$navbar-height} - #{$tasks-table-paginator-row});
  overflow: auto;

  table {
    width: 100%;
  }
}

.table-paginator-row {
  .paginator-row {
    padding-left: 10px;
  }
}

.table-row {
  vertical-align: top;
  border-right: solid 1px rgba(0, 0, 0, 0.12);
  padding: 5px;
}

.total-doc-count {
  display: inline-block;
}

.mat-cell {
  max-width: 500px;
  overflow-wrap: break-word;
}

.mat-cell-dense {
  max-width: 150px;
}
