@import "../../../variables/variables";

.wrapper {
  max-height: calc(100vh - #{$navbar-height});
  min-height: calc(100vh - #{$navbar-height});
}

.table-container {
  max-height: calc(100vh - #{$navbar-height} - #{$tasks-table-paginator-row});
  min-height: calc(100vh - #{$navbar-height} - #{$tasks-table-paginator-row});
  overflow: auto;

  table {
    width: 100%;
  }
}

.table-paginator-row {
  .paginator-row {
    padding-left: 10px;
  }
}

.column-header-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

app-texta-facts-chips{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  span{
    display: flex;
  }
}
