<div class="wrapper">

  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="searchService.getIsLoading() | async" mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="paginator-row">
      <mat-form-field class="margin-right">
        <mat-label>Toggle Columns</mat-label>
        <app-project-field-select
          (openedChange)="onFieldSelectionChange($event)" data-cy="appSearcherTableColumnSelect"
          [formControl]="columnFormControl" [multiple]="true"
          [forceWideSelect]="true"
          [projectFields]="projectFields"></app-project-field-select>
      </mat-form-field>
      <button (click)="drawerToggle.emit(true)" mat-stroked-button>Toggle drawer</button>
      <button (click)="exportSearch()" data-cy="appSearcherTableExport" mat-stroked-button style="margin-left: 5px"
              [disabled]="!this.currentElasticQuery">
        Export results
      </button>
      <mat-paginator (page)="pageChange($event)" [length]="paginatorLength" [pageSizeOptions]="[10, 20, 50]"
                     showFirstLastButtons>

      </mat-paginator>
    </div>
  </div>
  <div [appScrollTop]="tableData" [hidden]="displayedColumns.length === 0" class="table-container overflow-auto">

    <table [dataSource]="tableData" [trackBy]="trackByTableData" class="readable-table" mat-table matSort>

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.path">
        <!--HEADER-->
        <ng-container *ngIf="column.path !== 'texta_facts'">
          <th *matHeaderCellDef mat-header-cell mat-sort-header><span [title]="column.path"
                                                                      class="column-header-text">{{column.path}}</span>
          </th>
        </ng-container>
        <ng-container *ngIf="column.path === 'texta_facts'">
          <th *matHeaderCellDef mat-header-cell mat-sort-header><span [title]="column.path"
                                                                      class="column-header-text">{{column.path}}
            </span><button data-cy="appSearcherTableFilterFactNamesBtn"
                           matTooltip="Filter fact names" mat-icon-button
                           (click)="filterTextaFactsCol();$event.stopPropagation();"><mat-icon>visibility</mat-icon></button>
          </th>
        </ng-container>
        <!--ROWS-->
        <td *matCellDef="let row" mat-cell>
          <ng-container *ngIf="(row.doc[column.path] | isObject)"><!--pure pipe does memoization for us-->
            <ng-container *ngIf="column.path === 'texta_facts'">
              <app-texta-facts-chips (factNameClick)="buildFactNameSearch($event)"
                                     (factValueClick)="buildFactValSearch($event)"
                                     [facts]="{facts: row.doc[column.path], displayedFacts: displayedFacts}"></app-texta-facts-chips>
            </ng-container>
            <pre *ngIf="column.path !== 'texta_facts'">
                 {{row.doc[column.path] | json}}
              </pre>
          </ng-container>
          <ng-container *ngIf="!(row.doc[column.path] | isObject)">
            <app-highlight
              [highlightConfig]="{
                          currentColumn: column.path,
                          searcherHighlight: searchOptions.highlightSearcherMatches ? row.highlight : null,
                          onlyHighlightMatching: searchOptions.onlyHighlightMatching,
                          highlightTextaFacts: searchOptions.highlightTextaFacts,
                          highlightHyperlinks: true,
                          showShortVersion: searchOptions.showShortVersion,
                          data: row.doc}">
            </app-highlight>
          </ng-container>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="columnsToDisplay; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>


    </table>
    <div *ngIf="tableData.data.length === 0 && this.currentElasticQuery" class="center-text">No results found</div>
  </div>

</div>
