@import "../../../variables/variables";
table {
  width: 100%;
}
.wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-paginator-row {
  .paginator-row {
    padding-left: 10px;
  }
}

.column-header-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
