<div class="wrapper mat-elevation-z8">
  <div class="table-paginator-row">
    <div class="loading-bar">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="paginator-row">
      <button (click)="addAllSelected()" [disabled]="selectedRows.selected.length < 1"
              color="primary"
              mat-icon-button matTooltip="Add selected documents to cluster">
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="similarOptions()"
              class="paginator-margin-left"
              color="primary" mat-raised-button>
        Options
      </button>
      <mat-form-field class="m-l-15">
        <mat-label>Toggle Columns</mat-label>
        <mat-select [(ngModel)]="displayedColumns"
                    data-cy="appClusterSimilarTableColumnSelect"
                    multiple>
          <app-mat-option-select-all></app-mat-option-select-all>
          <mat-option *ngFor="let column of filterColumns" [value]="column">
            {{column}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="paginator-margin-left">
        <mat-label>Column character limit</mat-label>
        <input matInput [(ngModel)]="charLimit" [ngModelOptions]="{updateOn: 'blur'}"
               (ngModelChange)="charLimitChange()"
               type="number" step="10">
      </mat-form-field>
      <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <div class="table-container">
    <table [dataSource]="tableData" [trackBy]="trackById" mat-table
           matSort>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selectedRows.hasValue() && isAllSelected()"
                        [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selectedRows.toggle(row) : null" (click)="$event.stopPropagation()"
                        [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container *ngFor="let column of infiniteColumns" [matColumnDef]="column">
        <th *matHeaderCellDef class="table-row" mat-header-cell mat-sort-header>{{column}}</th>
        <td *matCellDef="let row"
            class="table-row" mat-cell>
          <app-limit-text *ngIf="(row._source[column] | isObject)"
                          [params]="{text: row._source[column] | json,
              charLimit: charLimit}">
          </app-limit-text>
          <app-limit-text *ngIf="!(row._source[column] | isObject)"
                          [params]="{text: row._source[column],
              charLimit: charLimit}">
          </app-limit-text>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let element; columns: displayedColumns;" class="element-row" mat-row></tr>

    </table>

  </div>
</div>
