
.loading-div{
  min-height: 10px;
}
mat-expansion-panel {
  border: 1px solid #d9d9d9;
}
mat-hint{
  display: block;
  margin-top: -20px;
  margin-bottom: 5px;
}

mat-chip-list {
  margin-left: auto;
}

.mat-chip.mat-standard-chip.mat-chip-disabled {
  opacity: 1;
}
